# Introduction

Some example code showing how to automatically download files from a Google drive folder, then load all csv and excel into a Postgres database. The code will handle csv encoding issues as well as load all tabs in each Excel file. 

However, it is only an example and would need more work because:

- Some Excel files have more than one table on a sheet
- Many Excel files have blank rows, you'd need to scan through them with openpyxl and remove so column heading are identified
- Table names are cleaned <FILE NAME>_<SHEET NAME IF EXCEL WITH MULTIPLE SHEETS>

The examples chosen are for the Save the Children stream of the DataKind 2022 DataDive.

- [project brief](https://docs.google.com/document/d/1TQ2TiGK_k8KEIUPzVb3ZSKaxzEBP9s9ZJBI2U_HeQ6U/edit#)
- [Google drive with data](https://drive.google.com/drive/folders/1G_CAhpb0xV9zRrV-T5ngA03x-IZ4tGKz)

The example is meant to show how we might load all data into a database to see how we might link data together, build classification and persist meta data. There are many other ways of course, but good 'ol SQL might be a good start!

## Setup

1. Go to the DataDive [google folder](https://drive.google.com/drive/folders/1eBQZhSeCXC9a62Dpg8_cWeKIZXfrxfGz)
2. Right-click on a sub-folder and Create a shortcut in your My Drive, eg for Kenya folder
3. Run pane to mount google drive below, connect your drive
5. Edit `dir` variable below and set path as seen in the laft pane

In [ ]:
# If you don't have these installed, uncomment these lines and run
#%pip install gdown
#%pip install chardet
#%pip install sqlalchemy
#%pip install psycopg2-binary

In [ ]:
import gdown
import os
import pandas as pd
import chardet

## Examples
### Downloading a folder from gdrive

In [17]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
#folder_url = "https://drive.google.com/drive/folders/1G_CAhpb0xV9zRrV-T5ngA03x-IZ4tGKz?usp=share_link"
#gdown.download_folder(folder_url, quiet=True, use_cookies=False)

Mounted at /content/drive

## Reading files in a directory to pandas

This snippet will read all csv and xls files in a directory into pandas dataframes, create a list of them.

Just an example, needs a bit more logic to handle xlsx sheets which hold multiple tables, blank rows etc.

In [60]:
# TODO - Make book scan all folder
country = "Somalia"
dir = f"/content/drive/MyDrive/{country}"

#dir = "/content/drive/MyDrive/Kenya Cleaned Up Files"


meta_data = pd.read_csv(f"/content/drive/MyDrive/Kenya/Data metadata - Sheet1.csv")
file_col = 'Google Drive or Github link to downloaded data (if you can put what youâ€™ve downloaded into a shared location!)'

# Array of pandas dataframes
dfs = {}

for f in os.listdir(dir):
    file = f
    f = f"{dir}/{f}"
    if '.csv' in f:
        print(f"Loading csv file {f}")
        # Detect encoding
        with open(f, 'rb') as rawdata:
            r = chardet.detect(rawdata.read(100000))
        df = pd.read_csv(f, encoding=r['encoding'])
        df['file'] = file
        df['sheet'] = ''
        dfs[f] = df
    if '.xlsx' in f:
        print(f"Leading {f} ...")
        # Read all sheets in
        sheet_to_df_map = pd.read_excel(f, sheet_name=None)
        for sheet in sheet_to_df_map:
          # TODO
          # 1. TEST FOR BLANK ROWS AT TOP, AND REMOVE
          # 2. Does the table have a blank column, if so, is it two tables on one sheet. If so handle that
          df = sheet_to_df_map[sheet]
          df['file'] = file
          df['sheet'] = sheet
          dfs[f"{f} - {sheet}"] = df

Leading /content/drive/MyDrive/Somalia/Somalia - Who is Doing What and Where (3W)- October 2022.xlsx ...
Loading csv file /content/drive/MyDrive/Somalia/wfp_food_prices_som.csv
Loading csv file /content/drive/MyDrive/Somalia/Somalia Monthly FEWS NET Staple Food Price.csv
Leading /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia - Health Facilities.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia Violent and Threatening Incidents Against Healthcare_2020.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia - IPC Analysis 2017-2022.xlsx ...
Leading /content/drive/MyDrive/Somalia/2021-post-gu-amn-burden-and-prevalence-9-sep-2021.xlsx ...
Leading /content/drive/MyDrive/Somalia/population-15.7_final.xlsx ...
Leading /content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx ...
Loading csv file /content/drive/MyDrive/Somalia/som_pplp_adm2_v2.csv
Leading /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2019.xlsx ...
Leading /content/drive/MyDrive/Somalia/somalia_pin_2021.xlsx ...
Leading /content/drive/MyDrive/Somalia/combined_cluster_pin_hxl.xlsx ...
Leading /content/drive/MyDrive/Somalia/Humanitarian Needs Overview-2022-refugees-and-returnees.xlsx ...
Loading csv file /content/drive/MyDrive/Somalia/fts_requirements_funding_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_requirements_funding_covid_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_requirements_funding_cluster_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_requirements_funding_globalcluster_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_incoming_funding_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_internal_funding_som.csv
Leading /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx ...

In [63]:
# TODO Save dfs to csv, as the started for the meta data review, then put on the google for team to edit
for key in dfs:
    print("\n\n===================================================================================================\n\n")
    df = dfs[key]
    f = df['file'][0]
    print(f"File + Sheet: {key} > Size: {df.shape}\n\n")
    file_meta = meta_data.loc[meta_data[file_col] == f]
    #description = file_meta['Dataset description'][0]
    #link = file_meta['Dataset'][0]
    # print("Link: ", str(link),"\n\n")
    # print("Description: \n\n",str(description),"\n\n")
    # TODO Output to a meta data csv file, columns: file_meta, sheet name, df.column, df.types
    display(df)


print("Done")

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/Somalia - Who is Doing What and Where (3W)- October 2022.xlsx - 3W_Data > Size: (44473, 8)

,Cluster,Org. Name,Org. Acronym,Org Type,Region,District,file,sheet
0,#sector +cluster +code,#org +name,#org +acronym,#org +type +name,#adm1+name,#adm2+name,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data
1,CCCM,Agency for Technical Cooperation and Development,ACTED,INGO,Bay,Baydhaba,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data
2,CCCM,Agency for Technical Cooperation and Development,ACTED,INGO,Woqooyi Galbeed,Hargeysa,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data
3,CCCM,Agency for Technical Cooperation and Development,ACTED,INGO,Sanaag,Ceel Afweyn,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data
4,CCCM,Agency for Technical Cooperation and Development,ACTED,INGO,Sanaag,Ceerigaabo,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data
...,...,...,...,...,...,...,...,...
44468,Nutrition,SOS Children's Village,SOS,INGO,Bay,Buur Hakaba,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data
44469,Nutrition,SOS Children's Village,SOS,INGO,Bay,Buur Hakaba,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data
44470,Nutrition,SOS Children's Village,SOS,INGO,Bay,Buur Hakaba,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data
44471,Nutrition,SOS Children's Village,SOS,INGO,Bay,Buur Hakaba,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data
44472,Nutrition,SOS Children's Village,SOS,INGO,Bakool,Xudur,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/wfp_food_prices_som.csv > Size: (21860, 16)

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,file,sheet
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd,wfp_food_prices_som.csv,
1,1995-01-15,Banadir,Banadir,Mogadishu,2.0666667,45.3666667,cereals and tubers,Sorghum (red),KG,actual,Retail,SOS,700.0,0.085,wfp_food_prices_som.csv,
2,1995-02-15,Banadir,Banadir,Mogadishu,2.0666667,45.3666667,cereals and tubers,Sorghum (red),KG,actual,Retail,SOS,525.0,0.0628,wfp_food_prices_som.csv,
3,1995-03-15,Banadir,Banadir,Mogadishu,2.0666667,45.3666667,cereals and tubers,Sorghum (red),KG,actual,Retail,SOS,600.0,0.0708,wfp_food_prices_som.csv,
4,1995-04-15,Banadir,Banadir,Mogadishu,2.0666667,45.3666667,cereals and tubers,Sorghum (red),KG,actual,Retail,SOS,900.0,0.1046,wfp_food_prices_som.csv,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21855,2022-07-15,Togdheer,Burco,Burco,9.52749,45.537472,miscellaneous food,Sugar (white),KG,forecast,Retail,SLS,0.0,NaN,wfp_food_prices_som.csv,
21856,2022-07-15,Togdheer,Burco,Burco,9.52749,45.537472,non-food,Exchange rate,USD/LCU,forecast,Retail,SLS,0.0,NaN,wfp_food_prices_som.csv,
21857,2022-07-15,Togdheer,Burco,Burco,9.52749,45.537472,oil and fats,"Oil (vegetable, imported)",L,forecast,Retail,SLS,0.0,NaN,wfp_food_prices_som.csv,
21858,2022-07-15,Woqooyi Galbeed,Hargeysa,Hargeysa,9.559749603271484,44.06678009033203,cereals and tubers,Sorghum (white),KG,forecast,Retail,SLS,0.0,NaN,wfp_food_prices_som.csv,
21859,2022-07-15,Woqooyi Galbeed,Hargeysa,Hargeysa,9.559749603271484,44.06678009033203,non-food,Exchange rate,USD/LCU,forecast,Retail,SLS,0.0,NaN,wfp_food_prices_som.csv,

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/Somalia Monthly FEWS NET Staple Food Price.csv > Size: (33858, 17)

,country,market,admin_1,longitude,latitude,cpcv2,product,source_document,period_date,price_type,product_source,unit,unit_type,currency,value,file,sheet
0,Somalia,Abudwak,Galgaduud,46.39727,6.148109,P02293AA,Camel's Milk (Raw),Food Security and Nutrition Analysis Unit/Fami...,2015-05-31,Retail,Local,L,Volume,SOS,25000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
1,Somalia,Abudwak,Galgaduud,46.39727,6.148109,P02293AA,Camel's Milk (Raw),Food Security and Nutrition Analysis Unit/Fami...,2015-06-30,Retail,Local,L,Volume,SOS,28200.0,Somalia Monthly FEWS NET Staple Food Price.csv,
2,Somalia,Abudwak,Galgaduud,46.39727,6.148109,P02293AA,Camel's Milk (Raw),Food Security and Nutrition Analysis Unit/Fami...,2015-07-31,Retail,Local,L,Volume,SOS,29000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
3,Somalia,Abudwak,Galgaduud,46.39727,6.148109,P02293AA,Camel's Milk (Raw),Food Security and Nutrition Analysis Unit/Fami...,2015-08-31,Retail,Local,L,Volume,SOS,36000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
4,Somalia,Abudwak,Galgaduud,46.39727,6.148109,P02293AA,Camel's Milk (Raw),Food Security and Nutrition Analysis Unit/Fami...,2015-09-30,Retail,Local,L,Volume,SOS,36000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33853,Somalia,Zeilac/Lawayacado,Awdal,43.47280,11.354600,P18000AA,"Water (potable, drinking)",Food Security and Nutrition Analysis Unit/Fami...,2022-05-31,Retail,Local,200_L,Volume,SLS,5000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
33854,Somalia,Zeilac/Lawayacado,Awdal,43.47280,11.354600,P18000AA,"Water (potable, drinking)",Food Security and Nutrition Analysis Unit/Fami...,2022-06-30,Retail,Local,200_L,Volume,SLS,5000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
33855,Somalia,Zeilac/Lawayacado,Awdal,43.47280,11.354600,P18000AA,"Water (potable, drinking)",Food Security and Nutrition Analysis Unit/Fami...,2022-07-31,Retail,Local,200_L,Volume,SLS,5000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
33856,Somalia,Zeilac/Lawayacado,Awdal,43.47280,11.354600,P18000AA,"Water (potable, drinking)",Food Security and Nutrition Analysis Unit/Fami...,2022-08-31,Retail,Local,200_L,Volume,SLS,5000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
33857,Somalia,Zeilac/Lawayacado,Awdal,43.47280,11.354600,P18000AA,"Water (potable, drinking)",Food Security and Nutrition Analysis Unit/Fami...,2022-09-30,Retail,Local,200_L,Volume,SLS,3875.0,Somalia Monthly FEWS NET Staple Food Price.csv,

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - Data > Size: (31086, 7)

,Cluster,Organization,Org Type,Region,District,file,sheet
0,#sector+cluster+name,#org+name,#org+type,#adm1+name,#adm2+name,Somalia_Operational Presence_March.xlsx,Data
1,CCCM,Agency for Technical Cooperation and Developme...,INGO,Lower Juba,Kismaayo,Somalia_Operational Presence_March.xlsx,Data
2,CCCM,Agency for Technical Cooperation and Developme...,INGO,Bay,Baidoa,Somalia_Operational Presence_March.xlsx,Data
3,CCCM,Agency for Technical Cooperation and Developme...,INGO,Sool,Caynabo,Somalia_Operational Presence_March.xlsx,Data
4,CCCM,Agency for Technical Cooperation and Developme...,INGO,Bay,Baidoa,Somalia_Operational Presence_March.xlsx,Data
...,...,...,...,...,...,...,...
31081,WASH,Action Contre Lafeim (ACF),INGO,Nugaal,Eyl,Somalia_Operational Presence_March.xlsx,Data
31082,Nutrition,Ministry of Health (MOH),Gov,Nugaal,Burtinle,Somalia_Operational Presence_March.xlsx,Data
31083,Nutrition,Ministry of Health (MOH),Gov,Nugaal,Burtinle,Somalia_Operational Presence_March.xlsx,Data
31084,Nutrition,Ministry of Health (MOH),Gov,Nugaal,Burtinle,Somalia_Operational Presence_March.xlsx,Data
31085,Nutrition,Ministry of Health (MOH),Gov,Togdheer,Buuhoodle,Somalia_Operational Presence_March.xlsx,Data

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - Analysis > Size: (22, 24)

,Type of Org,# of Orgs,% Percentage,# of Regions,# of Districts,Unnamed: 5,Unnamed: 6,Unnamed: 7,Region,CCCM,...,GBV,Health,HLP,Nutrition,Protection,Shelter/ NFI,WASH,Grand Total,file,sheet
0,Gov,9,0.033088,14,39.0,NaN,NaN,NaN,Awdal,0.0,...,1.0,0.0,0.0,4.0,4.0,0.0,3.0,22.0,Somalia_Operational Presence_March.xlsx,Analysis
1,INGO,55,0.202206,18,72.0,NaN,NaN,NaN,Bakool,0.0,...,5.0,6.0,0.0,7.0,8.0,0.0,6.0,38.0,Somalia_Operational Presence_March.xlsx,Analysis
2,NNGO,199,0.731618,18,73.0,NaN,NaN,NaN,Banadir,4.0,...,13.0,10.0,3.0,15.0,10.0,4.0,15.0,64.0,Somalia_Operational Presence_March.xlsx,Analysis
3,Other,3,0.011029,11,16.0,NaN,NaN,NaN,Bari,2.0,...,6.0,1.0,1.0,7.0,7.0,1.0,12.0,40.0,Somalia_Operational Presence_March.xlsx,Analysis
4,UN,6,0.022059,18,64.0,NaN,NaN,NaN,Bay,5.0,...,8.0,9.0,1.0,10.0,9.0,4.0,17.0,61.0,Somalia_Operational Presence_March.xlsx,Analysis
5,Grand Total,272,1,18,73.0,NaN,NaN,NaN,Galgaduud,0.0,...,4.0,5.0,1.0,8.0,6.0,2.0,14.0,49.0,Somalia_Operational Presence_March.xlsx,Analysis
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gedo,2.0,...,7.0,5.0,1.0,8.0,8.0,2.0,18.0,51.0,Somalia_Operational Presence_March.xlsx,Analysis
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hiraan,2.0,...,5.0,3.0,1.0,5.0,3.0,1.0,11.0,44.0,Somalia_Operational Presence_March.xlsx,Analysis
8,Cluster,# of Orgs,# of Regions,# of Districts,NaN,NaN,NaN,NaN,Lower Juba,4.0,...,6.0,8.0,1.0,13.0,8.0,3.0,14.0,54.0,Somalia_Operational Presence_March.xlsx,Analysis
9,CCCM,17,13,21,NaN,NaN,NaN,NaN,Lower Shabelle,2.0,...,6.0,8.0,0.0,10.0,6.0,1.0,11.0,43.0,Somalia_Operational Presence_March.xlsx,Analysis
10,Child Protection,40,18,60,NaN,NaN,NaN,NaN,Middle Juba,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,6.0,Somalia_Operational Presence_March.xlsx,Analysis
11,Education,33,15,44,NaN,NaN,NaN,NaN,Middle Shabelle,1.0,...,7.0,7.0,1.0,8.0,6.0,3.0,13.0,46.0,Somalia_Operational Presence_March.xlsx,Analysis
12,Explosive Hazard,6,14,22,NaN,NaN,NaN,NaN,Mudug,4.0,...,6.0,4.0,0.0,10.0,9.0,2.0,12.0,50.0,Somalia_Operational Presence_March.xlsx,Analysis
13,FSC,107,17,65,NaN,NaN,NaN,NaN,Nugaal,3.0,...,7.0,0.0,1.0,6.0,4.0,1.0,8.0,37.0,Somalia_Operational Presence_March.xlsx,Analysis
14,GBV,41,17,51,NaN,NaN,NaN,NaN,Sanaag,1.0,...,4.0,2.0,0.0,6.0,3.0,0.0,8.0,31.0,Somalia_Operational Presence_March.xlsx,Analysis
15,Health,32,15,43,NaN,NaN,NaN,NaN,Sool,1.0,...,3.0,2.0,1.0,9.0,4.0,0.0,12.0,39.0,Somalia_Operational Presence_March.xlsx,Analysis
16,HLP,4,12,13,NaN,NaN,NaN,NaN,Togdheer,0.0,...,3.0,1.0,1.0,10.0,4.0,0.0,10.0,39.0,Somalia_Operational Presence_March.xlsx,Analysis
17,Nutrition,56,17,65,NaN,NaN,NaN,NaN,Woqooyi Galbeed,2.0,...,5.0,2.0,1.0,7.0,6.0,2.0,5.0,47.0,Somalia_Operational Presence_March.xlsx,Analysis
18,Protection,48,18,59,NaN,NaN,NaN,NaN,Grand Total,17.0,...,41.0,32.0,4.0,56.0,48.0,10.0,63.0,272.0,Somalia_Operational Presence_March.xlsx,Analysis
19,Shelter/ NFI,10,12,21,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia_Operational Presence_March.xlsx,Analysis
20,WASH,63,17,58,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia_Operational Presence_March.xlsx,Analysis
21,Grand Total,272,18,73,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia_Operational Presence_March.xlsx,Analysis

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - InterCluster Map > Size: (74, 10)

,P_Code,District,Gov,INGO,NNGO,Other,UN,Grand Total,file,sheet
0,SO2102,Adan Yabaal,0,1,2,0,0,3,Somalia_Operational Presence_March.xlsx,InterCluster Map
1,SO2302,Afgooye,0,9,15,1,5,30,Somalia_Operational Presence_March.xlsx,InterCluster Map
2,SO2802,Afmadow,2,12,11,0,5,30,Somalia_Operational Presence_March.xlsx,InterCluster Map
3,SO2602,Baardheere,0,8,19,0,4,31,Somalia_Operational Presence_March.xlsx,InterCluster Map
4,SO2803,Badhaadhe,1,5,10,0,2,18,Somalia_Operational Presence_March.xlsx,InterCluster Map
...,...,...,...,...,...,...,...,...,...,...
69,SO1805,Xarardheere,0,0,4,0,1,5,Somalia_Operational Presence_March.xlsx,InterCluster Map
70,SO1404,Xudun,1,7,6,0,2,16,Somalia_Operational Presence_March.xlsx,InterCluster Map
71,SO2501,Xudur,1,10,10,0,4,25,Somalia_Operational Presence_March.xlsx,InterCluster Map
72,SO1104,Zeylac,1,4,4,0,2,11,Somalia_Operational Presence_March.xlsx,InterCluster Map
73,NaN,Grand Total,9,55,199,3,6,272,Somalia_Operational Presence_March.xlsx,InterCluster Map

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - Cluster Map > Size: (74, 17)

,P_Code,District,CCCM,Child Protection,Education,Explosive Hazard,FSC,GBV,Health,HLP,Nutrition,Protection,Shelter/ NFI,WASH,Grand Total,file,sheet
0,SO2102,Adan Yabaal,0,1,0,0,0,0,0,0,0,3,0,0,3,Somalia_Operational Presence_March.xlsx,Cluster Map
1,SO2302,Afgooye,1,3,2,2,5,4,4,0,6,3,0,7,30,Somalia_Operational Presence_March.xlsx,Cluster Map
2,SO2802,Afmadow,0,2,5,4,10,4,6,0,5,3,3,9,30,Somalia_Operational Presence_March.xlsx,Cluster Map
3,SO2602,Baardheere,0,0,3,0,12,2,2,1,3,6,1,7,31,Somalia_Operational Presence_March.xlsx,Cluster Map
4,SO2803,Badhaadhe,0,0,0,0,5,0,3,0,6,4,0,8,18,Somalia_Operational Presence_March.xlsx,Cluster Map
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,SO1805,Xarardheere,0,0,1,0,3,0,0,0,1,0,0,0,5,Somalia_Operational Presence_March.xlsx,Cluster Map
70,SO1404,Xudun,0,0,1,0,8,1,0,0,3,0,0,6,16,Somalia_Operational Presence_March.xlsx,Cluster Map
71,SO2501,Xudur,0,2,5,2,8,3,3,0,3,4,0,4,25,Somalia_Operational Presence_March.xlsx,Cluster Map
72,SO1104,Zeylac,0,1,0,0,5,0,0,0,3,3,0,2,11,Somalia_Operational Presence_March.xlsx,Cluster Map
73,NaN,Grand Total,17,40,33,6,107,41,32,4,56,48,10,63,272,Somalia_Operational Presence_March.xlsx,Cluster Map

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - Pivot > Size: (77, 16)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,file,sheet
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia_Operational Presence_March.xlsx,Pivot
1,Distinct Count of Organization,Column Labels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia_Operational Presence_March.xlsx,Pivot
2,Row Labels,CCCM,Child Protection,Education,Explosive Hazard,FSC,GBV,Health,HLP,Nutrition,Protection,Shelter/ NFI,WASH,Grand Total,Somalia_Operational Presence_March.xlsx,Pivot
3,Adan Yabaal,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,3,Somalia_Operational Presence_March.xlsx,Pivot
4,Afgooye,1,3,2,2,5,4,4,NaN,6,3,NaN,7,30,Somalia_Operational Presence_March.xlsx,Pivot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Xarardheere,NaN,NaN,1,NaN,3,NaN,NaN,NaN,1,NaN,NaN,NaN,5,Somalia_Operational Presence_March.xlsx,Pivot
73,Xudun,NaN,NaN,1,NaN,8,1,NaN,NaN,3,NaN,NaN,6,16,Somalia_Operational Presence_March.xlsx,Pivot
74,Xudur,NaN,2,5,2,8,3,3,NaN,3,4,NaN,4,25,Somalia_Operational Presence_March.xlsx,Pivot
75,Zeylac,NaN,1,NaN,NaN,5,NaN,NaN,NaN,3,3,NaN,2,11,Somalia_Operational Presence_March.xlsx,Pivot
76,Grand Total,17,40,33,6,107,41,32,4,56,48,10,63,272,Somalia_Operational Presence_March.xlsx,Pivot

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/Somalia - Health Facilities.xlsx - HFs Data > Size: (520, 8)

,Region,District,Health Facility name,Type:,Latiitude,Longititude,file,sheet
0,#adm1+name,#adm2+name,#org+health,#org+type,#geo+lat,#geo+log,Somalia - Health Facilities.xlsx,HFs Data
1,Banadir,Hodan,ACF HC/OTP,Health Center (HC),NaN,NaN,Somalia - Health Facilities.xlsx,HFs Data
2,Banadir,Kahda,MCH AAH,Health Center (HC),2.058554698,45.264153,Somalia - Health Facilities.xlsx,HFs Data
3,Banadir,Waberi,Elgab Health Center,Health Center (HC),2.059934389,45.328092,Somalia - Health Facilities.xlsx,HFs Data
4,Banadir,Waberi,Waberi Health Center,Health Center (HC),2.048109808,45.325662,Somalia - Health Facilities.xlsx,HFs Data
...,...,...,...,...,...,...,...,...
515,Hiraan,Bulo Burto,October Wardi Health Center,Health Center (HC),NaN,NaN,Somalia - Health Facilities.xlsx,HFs Data
516,Hiraan,Belet Weyne,Wardi Ceel-jaale Health Centre,Health Center (HC),NaN,NaN,Somalia - Health Facilities.xlsx,HFs Data
517,Lower Shabelle,Wanla Weyn,Wanla Weyn Wardi MCH,NaN,NaN,NaN,Somalia - Health Facilities.xlsx,HFs Data
518,Banadir,Dharkeynley,Test 123,Hospital,NaN,NaN,Somalia - Health Facilities.xlsx,HFs Data
519,Banadir,Bondheere,My Mobile Clinic,Mobile Clinic,NaN,NaN,Somalia - Health Facilities.xlsx,HFs Data

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/Somalia Violent and Threatening Incidents Against Healthcare_2020.xlsx - 2020 Somalia SHCC Incident  > Size: (11, 25)

,SHCC Event Code,Incident date,Country,State/Province/Division/Governorate/Department,Perpetrator,Weapons use,SHCC Attack Type,SHCC Attack Context,Total health worker killed,Total health worker kidnapped,...,Total health worker sexual violence,Total number of attacks on facilities which reported destruction,Total number of attacks on facilities which reported damage,Armed entry into medical facilities,"Looting, theft, robbery, burglary of health supplies",Health transportation destroyed,Health transportation damaged,Health transportation stolen/highjacked,file,sheet
0,#event +id,#date,#country +name,#country +name +loc,#group +perp +name,#weapons,#event +type,#event +context,#affected +healthworker +killed,#affected +healthworker +kidnapped,...,#affected +healthworker +SGBV,#indicator +health_facility +destroyed +num,#indicator +health_facility +damaged +num,#indicator +health_facility +armed_entry +num,#indicator +health_supplies +taken +num,#indicator +health_transport +destroyed +num,#indicator +health_transport +damaged +num,#indicator +health_transport +abducted +num,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident
1,1121,2020-11,Somalia,"Mogadishu,",NonStateActor,ExplosiveWeapons,Indiscriminate,Individuals,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident
2,91,2020-02,Somalia,Gedo region,NonStateActor,NoInformation,Intentional,Individuals,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident
3,192,2020-03,Somalia,Bay,NonStateActor,NoInformation,Intentional,Individuals,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident
4,278,2020-04,Somalia,Banadir,NonStateActor,Firearm,Intentional,Individuals,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident
5,557,2020-05,Somalia,Middle Shabelle region,NonStateActor,NoInformation,Intentional,Individuals,NaN,7,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident
6,647,2020-06,Somalia,Lower Juba,NonStateActor,NoInformation,Intentional,Individuals,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident
7,1072,2020-10,Somalia,Banadir,NonStateActor,ExplosiveWeapons,Intentional,Individuals,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident
8,1122,2020-11,Somalia,Lower Juba,NonStateActor,Firearm,Intentional,Individuals,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident
9,1361,2020-12,Somalia,"Mogadishu,",NonStateActor,ExplosiveWeapons,NoInformation,Infrastructure,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident
10,906,2020-10,Somalia,NoInformation,NoInformation,NoInformation,Intentional,Stealing,2,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/Somalia Violent and Threatening Incidents Against Healthcare_2020.xlsx - MetaData&Notes > Size: (17, 3)

,Citation,file,sheet
0,Safeguarding Health in Conflict Coalition. 202...,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
1,NaN,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
2,SHCC Codebook,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
3,The data has systemcally coded using the Attac...,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
4,NaN,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
5,Data Notes,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
6,Not representative or a comprehensive compilat...,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
7,Data collection is ongoing and data may change...,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
8,NaN,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
9,License,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
10,Creative Commons Attribution-ShareAlike (CC BY...,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
11,NaN,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
12,Contact info,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
13,"For all inquiries on the SHCC Dataset, please ...",Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
14,NaN,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
15,Definitions,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes
16,Information on definitions and methodologies,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/Somalia - IPC Analysis 2017-2022.xlsx - IPC > Size: (1297, 57)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,file,sheet
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC
1293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC
1294,Disclaimer: All national population figures ar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC
1295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC
1296,Source: Integrated Food Security Phase Classi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/2021-post-gu-amn-burden-and-prevalence-9-sep-2021.xlsx - Burden > Size: (76, 9)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Total Acute Malnutrition Burden,Unnamed: 4,Unnamed: 5,Unnamed: 6,file,sheet
0,NaN,District,Under-Five Population,GAM,SAM,GAM Prevalence,SAM Prevalence,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden
1,Adan Yabaal,Adan Yabaal,17190.0,4930,710,0.110306,0.015886,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden
2,Afgooye,Afgooye,94444.6,43800,8930,0.178371,0.036366,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden
3,Afmadow,Afmadow,46703.8,18290,4150,0.150622,0.034176,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden
4,Baardheere,Baardheere,34453.4,13330,2230,0.148807,0.024894,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden
...,...,...,...,...,...,...,...,...,...
71,Xarardheere,Xarardheere,13859.6,3720,360,0.103233,0.00999,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden
72,Xudun,Xudun,16219.4,3340,240,0.079202,0.005691,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden
73,Xudur,Xudur,19450.4,8700,1890,0.172035,0.037373,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden
74,Zeylac,Zeylac,11246.4,2690,340,0.091995,0.011628,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden
75,NaN,NaN,3147435.252111,1199820,213440,0.146618,0.026082,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/2021-post-gu-amn-burden-and-prevalence-9-sep-2021.xlsx - Prevalence > Size: (42, 5)

,Prevalence of combined GAM and SAM based on WHZ and MUAC cut off's (and/or oedema),Unnamed: 1,Unnamed: 2,file,sheet
0,Population Group Assessed During 2021 Post Gu,Prevalence of combined GAM (WHZ <-2 and/or MUA...,Prevalence of combined SAM (WHZ < -3 and/or MU...,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
1,Guban Pastoral,0.089,0.01,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
2,West Golis,0.125,0.024,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
3,NW Agropastoral,0.114,0.019,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
4,Hargeisa IDPs (W. Galbeed),0.097,0.011,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
5,Hargeisa Urban (W. Galbeed),0.102,0.021,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
6,Burao IDPs (Toghdeer),0.073,0.006,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
7,Burao Urban (Toghdeer),0.041,0.002,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
8,Northern Inland Pastoral NW,0.119,0.009,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
9,Hawd Pastoral NW,0.1,0.012,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
10,East Golis,0.112,0.019,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
11,Bosasso IDPs (Bari),0.214,0.034,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
12,Bosasso Urban (Bari),0.155,0.022,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
13,Northern Inland Pastoral NE,0.176,0.011,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
14,Hawd Pastoral NE,0.215,0.032,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
15,Coastal Deeh NE,0.073,0.013,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
16,Garowe IDPs (Nugaal),0.107,0.011,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
17,Garowe Urban (Nugaal),0.102,0.009,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
18,Galkacyo IDPs (Mudug),0.228,0.054,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
19,Galkacyo Urban (Mudug),0.122,0.017,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
20,Dhusmareeb IDPs _Galgaduud,0.177,0.03,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
21,Dhusamareb Urban (Galgadud),0.133,0.017,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
22,Addun Pastoral,0.123,0.013,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
23,Shabelle Riverine,0.177,0.033,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
24,Shabelle Agropastoral,0.186,0.043,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
25,Mogadishu urban (Banadir),0.163,0.027,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
26,Mogadishu IDPs (Banadir),0.217,0.05,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
27,Bay Agropastoral,0.168,0.042,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
28,Baidoa IDPs (Bay),0.192,0.031,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
29,Baidoa Urban (Bay),0.136,0.024,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
30,Dolow IDPs (N Gedo),0.133,0.015,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
31,Dolow Urban (N Gedo),0.114,0.011,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
32,North Gedo pastoral,0.143,0.023,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
33,North Gedo Riverine,0.176,0.023,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
34,Kismayu Urban (L. Juba),0.148,0.035,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
35,Kismayu IDPs (L. Juba),0.161,0.048,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
36,MUAC Assessed Areas,MUAC Assessments,NaN,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
37,Beletwein District (Riverine),0.092,0.017,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
38,Beletwein Urban,0.106,0.017,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
39,Juba Cattle Pastoral,0.138,0.034,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
40,Juba Riverine,0.157,0.039,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence
41,Elberde Pastoral (Bakool),0.254,0.05,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/population-15.7_final.xlsx - Sheet1 > Size: (80, 22)

,SOMALIA - 2021 POPULATION FIGURES AND DISAGGREGATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,file,sheet
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,population-15.7_final.xlsx,Sheet1
1,NaN,NaN,NaN,NaN,NaN,Displaced - disaggregation,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Total Population - disaggregation,NaN,NaN,NaN,NaN,population-15.7_final.xlsx,Sheet1
2,NaN,NaN,NaN,NaN,NaN,0.622585,0.166037,0.165321,0.046057,1.0,...,0.164954,0.035551,1,0.631306,0.166139,0.165023,0.037532,1.0,population-15.7_final.xlsx,Sheet1
3,NaN,NaN,NaN,NaN,NaN,1847523,492715,490589,136674,2967501,...,2106740,454044,12771678,9936243,2614889,2597329,590718,15739179,population-15.7_final.xlsx,Sheet1
4,Region,District,Total population estimate,of whom IDPs,of whom non-displaced,Children,Men,Women,Elderly,Subtotal - displaced,...,Women,Elderly,Subtotal - displaced,Children,Men,Women,Elderly,Subtotal - displaced,population-15.7_final.xlsx,Sheet1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Mudug,Xarardheere,69298,0,69298,0,0,0,0,0,...,11289,3808,69298,44748,9453,11289,3808,69298,population-15.7_final.xlsx,Sheet1
76,Sool,Xudun,81097,8800,72297,5966,1177,1298,359,8800,...,11778,3973,72297,52650,11039,13076,4332,81097,population-15.7_final.xlsx,Sheet1
77,Bakool,Xudur,97252,21300,75952,14441,2848,3142,869,21300,...,12373,4174,75952,63486,13208,15515,5043,97252,population-15.7_final.xlsx,Sheet1
78,Awdal,Zeylac,56232,4200,52032,2847,562,620,171,4200,...,8476,2859,52032,36446,7660,9096,3030,56232,population-15.7_final.xlsx,Sheet1
79,NaN,NaN,15739178,2967500,12771678,1847523,492715,490589,136674,2967501,...,2106740,454044,12771678,9936243,2614889,2597329,590718,15739179,population-15.7_final.xlsx,Sheet1

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx - Region Population Statistics > Size: (19, 8)

,Admin1 Pcode,Admin1 Name,UNFPA 2014 Total\npopulation,UNFPA 2014 Urban\npopulation,UNFPA 2014 Rural\nPopulation,UNFPA 2014 IDP\nPopulation,file,sheet
0,#adm1 +code,#adm1 +name,#population +all,#population +urban,#population +rural,NaN,somalia-population-statistics.xlsx,Region Population Statistics
1,SO11,Awdal,673264,287822,377452,7990.0,somalia-population-statistics.xlsx,Region Population Statistics
2,SO12,Woqooyi Galbeed,1242003,802740,394673,44590.0,somalia-population-statistics.xlsx,Region Population Statistics
3,SO13,Togdheer,721363,483724,211879,25760.0,somalia-population-statistics.xlsx,Region Population Statistics
4,SO14,Sool,327427,120993,201614,4820.0,somalia-population-statistics.xlsx,Region Population Statistics
5,SO15,Sanaag,544123,159717,383496,910.0,somalia-population-statistics.xlsx,Region Population Statistics
6,SO16,Bari,730147,471784,198717,59646.0,somalia-population-statistics.xlsx,Region Population Statistics
7,SO17,Nugaal,392697,138929,244273,9495.0,somalia-population-statistics.xlsx,Region Population Statistics
8,SO18,Mudug,717862,381493,265487,70882.0,somalia-population-statistics.xlsx,Region Population Statistics
9,SO19,Galgaduud,569434,183553,266113,119768.0,somalia-population-statistics.xlsx,Region Population Statistics
10,SO20,Hiraan,520686,81379,388147,51160.0,somalia-population-statistics.xlsx,Region Population Statistics
11,SO21,Middle Shabelle,516035,114348,349727,51960.0,somalia-population-statistics.xlsx,Region Population Statistics
12,SO22,Banadir,1650228,1280939,0,369289.0,somalia-population-statistics.xlsx,Region Population Statistics
13,SO23,Lower Shabelle,1202219,215752,883497,102970.0,somalia-population-statistics.xlsx,Region Population Statistics
14,SO24,Bay,792182,93046,659316,39820.0,somalia-population-statistics.xlsx,Region Population Statistics
15,SO25,Bakool,367227,61929,281298,24000.0,somalia-population-statistics.xlsx,Region Population Statistics
16,SO26,Gedo,508403,109141,322534,76728.0,somalia-population-statistics.xlsx,Region Population Statistics
17,SO27,Middle Juba,362921,56242,279679,27000.0,somalia-population-statistics.xlsx,Region Population Statistics
18,SO28,Lower Juba,489307,172861,285846,30600.0,somalia-population-statistics.xlsx,Region Population Statistics

===================================================================================================


File + Sheet: /content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx - District Population Statistics > Size: (75, 10)

,Admin1 Pcode,Admin Name,Admin2 Pcode,Admin2 Name,UNFPA 2014 Total\npopulation,UNFPA 2014 Urban\npopulation,UNFPA 2014 Rural\nPopulation,UNFPA 2014 IDP\nPopulation,file,sheet
0,#adm1 +code,#adm1 +name,#adm2 +code,#adm2 +name,#population +total,#population +urban,#population +rural,NaN,somalia-population-statistics.xlsx,District Population Statistics
1,SO11,Awdal,SO1101,Borama,398609,271045,127504,60.0,somalia-population-statistics.xlsx,District Population Statistics
2,SO11,Awdal,SO1102,Baki,96885,4243,92642,0.0,somalia-population-statistics.xlsx,District Population Statistics
3,SO11,Awdal,SO1103,Lughaye,100818.999996,6407,86551.999996,7860.0,somalia-population-statistics.xlsx,District Population Statistics
4,SO11,Awdal,SO1104,Zeylac,76951,6127,70754,70.0,somalia-population-statistics.xlsx,District Population Statistics
...,...,...,...,...,...,...,...,...,...,...
70,SO27,Middle Juba,SO2703,Saakow,79116.029538,18006,54110.029538,7000.0,somalia-population-statistics.xlsx,District Population Statistics
71,SO28,Lower Juba,SO2801,Kismaayo,162733,116440,36293,10000.0,somalia-population-statistics.xlsx,District Population Statistics
72,SO28,Lower Juba,SO2802,Afmadow,172485,34783,124702,13000.0,somalia-population-statistics.xlsx,District Population Statistics
73,SO28,Lower Juba,SO2803,Badhaadhe,56178,11483,44095,600.0,somalia-population-statistics.xlsx,District Population Statistics
74,SO28,Lower Juba,SO2804,Jamaame,97910.621699,10155,80755.621699,7000.0,somalia-population-statistics.xlsx,District Population Statistics

===================================================================================================

IndexError: ignored

## Loading pandas dataframes into a postgres database

Roughcode for how one might load all the dataframes into a SQL database. You can install postgres locally, or use docker and run [this](https://hub.docker.com/_/postgres).

In [ ]:
from sqlalchemy import create_engine  
import sqlalchemy

# Set these for your Postgres instance
host   = 'localhost' 
dbname = 'postgres'
user   = 'postgres'
pwd    = os.getenv['PWD'] # Don't save passwords in notebooks - that's naughty! :) - use environment variables. :)
port   = '5432'

engine = create_engine('postgresql+psycopg2://' + user + ':' + pwd + '@' + host +':' + port + '/' + dbname)

for k in dfs:
    df = dfs[k]
    table = k.replace('.','').replace(' ','_').replace('-','_').replace('/','').replace(',','')[0:62]
    print(f"Loading into database table {table} ...")
    df.to_sql(table, engine, if_exists='replace')

print("Done")

Loading into database table Kenyafts_requirements_funding_covid_kencsv ...
Loading into database table Kenyadbo_foodconsumptionscorescsv ...
Loading into database table Kenyaper_capita_food_consumption_2017_and_2018xlsx___Sheet1 ...
Loading into database table Kenyaretail_prices_for_dry_beans_2019_per_kgxlsx___Prices_for_ ...
Loading into database table Kenyavalue_of_recorded_marketed_agricultural_production_at_cur ...
Loading into database table Kenyawfp_food_prices_kencsv ...
Loading into database table Kenyafts_requirements_funding_cluster_kencsv ...
Loading into database table Kenyafts_incoming_funding_kencsv ...
Loading into database table Kenyahealth_kencsv ...
Loading into database table Kenyaken_adminboundaries_tabulardataxlsx___Admin2 ...
Loading into database table Kenyaken_adminboundaries_tabulardataxlsx___Admin1 ...
Loading into database table Kenyaken_adminboundaries_tabulardataxlsx___Admin0 ...
Loading into database table Kenyafts_requirements_funding_kencsv ...
Loading into database table Kenyaken_admpop_2019xlsx___ken_admpop_ADM0_2019 ...
Loading into database table Kenyaken_admpop_2019xlsx___ken_admpop_ADM1_2019 ...
Loading into database table Kenyaken_admpop_2019xlsx___ken_admpop_ADM2_2019 ...
Loading into database table Kenyaken_admpop_2019xlsx___Metadata ...
Loading into database table Kenyaken_admpop_adm1_2019csv ...
Loading into database table Kenyaken_admpop_adm0_2019csv ...
Loading into database table KenyaKenya___IPC_Analysis_2017_2022xlsx___IPC ...
Loading into database table Kenyaretail_prices_for_dry_beans_2018_per_kgxlsx___Prices_for_ ...
Loading into database table Kenyafts_requirements_funding_globalcluster_kencsv ...
Loading into database table Kenyakenya_health_facilities_2017_08_02xlsx___Sheet1 ...
Loading into database table Kenyaretail_prices_for_dry_beans_2017_per_kgxlsx___Sheet1 ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___LIST ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___FOR_IMPORT ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx____food_import ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Org_Lookup ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___ABBREV ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Pivot ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___County___Abbrev ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Sheet2 ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___wash ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___shelter ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___protection ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___nutrition ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___health ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___governance ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___emergency ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___food ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___edu ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___drr ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Table ...
Done

## Query from the database

In [ ]:
query = ' SELECT * FROM public."Kenyakenya_3w_final_list_2017xlsx___drr"'
df = pd.read_sql(query, con=engine)
display(df)

    index     Unnamed: 0                                         Unnamed: 1
0       0        Baringo                                                WVI
1       1           Embu                                           Trocaire
2       2        Garissa                                              ADESO
3       3       Homa Bay                                               PLAN
4       4         Isiolo                                              ADESO
5       5         Kilifi                                               PLAN
6       6         Kisumu                                               PLAN
7       7          Kitui                                           Trocaire
8       8          Kwale                                               PLAN
9       9       Machakos                                               PLAN
10     10       Marsabit                                       ADESO, VSF-G
11     11          Siaya                                          PLAN, WVI
12     12  Tharaka Nithi                                     PLAN, Trocaire
13     13        Turkana  ADESO, CF, DOL, FAO, ILO, KRCS, OXFAM, Trocair...

### Select all column names in the files which uploaded ok

In [ ]:
query = ' SELECT * FROM information_schema.columns'
df = pd.read_sql(query, con=engine)
display(df)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,public,Kenyakenya_3w_final_list_2017xlsx___Table,Total,14,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,pg_catalog,pg_statistic,stanumbers5,26,None,YES,ARRAY,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,pg_catalog,pg_statistic,stavalues1,27,None,YES,anyarray,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,pg_catalog,pg_statistic,stavalues2,28,None,YES,anyarray,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,pg_catalog,pg_statistic,stavalues3,29,None,YES,anyarray,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,postgres,information_schema,sql_parts,feature_id,1,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2844,postgres,pg_catalog,pg_partitioned_table,partexprs,8,None,YES,pg_node_tree,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2845,postgres,information_schema,sql_parts,feature_name,2,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2846,postgres,information_schema,sql_parts,is_supported,3,None,YES,character varying,3.0,1.200000e+01,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2847,postgres,information_schema,sql_parts,is_verified_by,4,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES