# Introduction

Some example code showing how to automatically download files from a Google drive folder, then load all csv and excel into a Postgres database. The code will handle csv encoding issues as well as load all tabs in each Excel file. 

However, it is only an example and would need more work because:

- Some Excel files have more than one table on a sheet
- Many Excel files have blank rows, you'd need to scan through them with openpyxl and remove so column heading are identified
- Table names are cleaned <FILE NAME>_<SHEET NAME IF EXCEL WITH MULTIPLE SHEETS>

The examples chosen are for the Save the Children stream of the DataKind 2022 DataDive.

- [project brief](https://docs.google.com/document/d/1TQ2TiGK_k8KEIUPzVb3ZSKaxzEBP9s9ZJBI2U_HeQ6U/edit#)
- [Google drive with data](https://drive.google.com/drive/folders/1G_CAhpb0xV9zRrV-T5ngA03x-IZ4tGKz)

The example is meant to show how we might load all data into a database to see how we might link data together, build classification and persist meta data. There are many other ways of course, but good 'ol SQL might be a good start!

## Setup

1. Go to the DataDive [google folder](https://drive.google.com/drive/folders/1eBQZhSeCXC9a62Dpg8_cWeKIZXfrxfGz)
2. Right-click on a sub-folder and Create a shortcut in your My Drive, eg for Kenya folder
3. Run pane to mount google drive below, connect your drive
5. Edit `dir` variable below and set path as seen in the laft pane

In [ ]:
# If you don't have these installed, uncomment these lines and run
#%pip install gdown
#%pip install chardet
#%pip install sqlalchemy
#%pip install psycopg2-binary

In [ ]:
import gdown
import os
import pandas as pd
import chardet

## Examples
### Downloading a folder from gdrive

In [17]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
#folder_url = "https://drive.google.com/drive/folders/1G_CAhpb0xV9zRrV-T5ngA03x-IZ4tGKz?usp=share_link"
#gdown.download_folder(folder_url, quiet=True, use_cookies=False)

Mounted at /content/drive

## Reading files in a directory to pandas

This snippet will read all csv and xls files in a directory into pandas dataframes, create a list of them.

Just an example, needs a bit more logic to handle xlsx sheets which hold multiple tables, blank rows etc.

In [34]:
country = "Kenya"
dir = f"/content/drive/MyDrive/{country}"

#dir = "/content/drive/MyDrive/Kenya Cleaned Up Files"


meta_data = pd.read_csv(f"{dir}/Data metadata - Sheet1.csv")
file_col = 'Google Drive or Github link to downloaded data (if you can put what youâ€™ve downloaded into a shared location!)'

# Array of pandas dataframes
dfs = {}

for f in os.listdir(dir):
    file = f
    f = f"{dir}/{f}"
    if '.csv' in f:
        print(f"Loading csv file {f}")
        # Detect encoding
        with open(f, 'rb') as rawdata:
            r = chardet.detect(rawdata.read(100000))
        df = pd.read_csv(f, encoding=r['encoding'])
        df['file'] = file
        dfs[f] = df
    if '.xlsx' in f:
        print(f"Leading {f} ...")
        # Read all sheets in
        sheet_to_df_map = pd.read_excel(f, sheet_name=None)
        for sheet in sheet_to_df_map:
          # TODO
          # 1. TEST FOR BLANK ROWS AT TOP, AND REMOVE
          # 2. Does the table have a blank column, if so, is it two tables on one sheet. If so handle that
          df = sheet_to_df_map[sheet]
          df['file'] = file
          dfs[f"{f} - {sheet}"] = df

Leading /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx ...

/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

Leading /content/drive/MyDrive/Kenya/Kenya - IPC Analysis 2017-2022.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/wfp_food_prices_ken.csv
Leading /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2017-per-kg.xlsx ...
Leading /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2018-per-kg.xlsx ...
Leading /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2019-per-kg.xlsx ...
Leading /content/drive/MyDrive/Kenya/value-of-recorded-marketed-agricultural-production-at-current-prices-2014-2018.xlsx ...
Leading /content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/dbo-foodconsumptionscores.csv
Leading /content/drive/MyDrive/Kenya/per-capita-food-consumption-2017-and-2018.xlsx ...
Leading /content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/ken_admpop_adm0_2019.csv
Loading csv file /content/drive/MyDrive/Kenya/ken_admpop_adm1_2019.csv
Loading csv file /content/drive/MyDrive/Kenya/health_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_incoming_funding_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_globalcluster_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_cluster_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_covid_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_ken.csv
Leading /content/drive/MyDrive/Kenya/kenya-health-facilities-2017_08_02.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/Data metadata - Sheet1.csv

In [52]:
print(f"\n\nHere are the shapes of the dataframes we just loaded from directory {dir} ... \n\n")
for key in dfs:
    print("===================================================================================================\n\n")
    df = dfs[key]
    f = df['file'][0]
    print(f"File: {f} > Size: {df.shape}\n\n")
    file_meta = meta_data.loc[meta_data[file_col] == f]
    description = file_meta['Dataset description'][0]
    link = file_meta['Dataset'][0]
    #print("Link: ", str(link),"\n\n")
    print("Description: ",str(description),"\n\n")
    display(df)


print("Done")

Here are the shapes of the dataframes we just loaded from directory /content/drive/MyDrive/Kenya ...


===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (1008, 6)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,COUNTY,NAME,TYPE,ABBREV,SECTOR,file
0,Bungoma,United Nations Childrens Fund,UN,UNICEF,Health,kenya-3w-final-list-2017.xlsx
1,Bungoma,United Nations Childrens Fund,UN,UNICEF,Education,kenya-3w-final-list-2017.xlsx
2,Bungoma,United Nations Childrens Fund,UN,UNICEF,Nutrition,kenya-3w-final-list-2017.xlsx
3,Bungoma,United Nations Childrens Fund,UN,UNICEF,Protection,kenya-3w-final-list-2017.xlsx
4,Bungoma,United Nations Childrens Fund,UN,UNICEF,Emergency Response,kenya-3w-final-list-2017.xlsx
...,...,...,...,...,...,...
1003,Tharaka - Nithi,World Food Programme,UN,WFP,Education,kenya-3w-final-list-2017.xlsx
1004,Embu,World Food Programme,UN,WFP,Education,kenya-3w-final-list-2017.xlsx
1005,Isiolo,World Food Programme,UN,WFP,Emergency Response,kenya-3w-final-list-2017.xlsx
1006,Samburu,World Food Programme,UN,WFP,Nutrition,kenya-3w-final-list-2017.xlsx
1007,Isiolo,World Food Programme,UN,WFP,Nutrition,kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (42, 15)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,COUNTY,COUNTY.1,DRR,Education,Emergency,Food,Governance,Health,logistics,Nutrition,Protection,Shelter,WaSH,Total,file
0,Baringo,BARINGO,1.0,2.0,1.0,1.0,NaN,1.0,NaN,NaN,2.0,1.0,2.0,5,kenya-3w-final-list-2017.xlsx
1,Bomet,BOMET,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx
2,Bungoma,BUNGOMA,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,2,kenya-3w-final-list-2017.xlsx
3,Busia,BUSIA,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx
4,Elgeyo-Marakwet,ELGEYO-MARAKWET,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,2.0,NaN,1.0,3,kenya-3w-final-list-2017.xlsx
5,Embu,EMBU,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,kenya-3w-final-list-2017.xlsx
6,Garissa,GARISSA,1.0,3.0,3.0,3.0,1.0,18.0,NaN,NaN,2.0,18.0,20.0,24,kenya-3w-final-list-2017.xlsx
7,Homa Bay,HOMA BAY,1.0,1.0,3.0,1.0,1.0,1.0,NaN,NaN,2.0,1.0,2.0,4,kenya-3w-final-list-2017.xlsx
8,Isiolo,ISIOLO,1.0,6.0,NaN,8.0,2.0,6.0,NaN,6.0,1.0,8.0,NaN,10,kenya-3w-final-list-2017.xlsx
9,Kajiado,KAJIADO,NaN,2.0,1.0,1.0,NaN,1.0,NaN,NaN,2.0,NaN,2.0,3,kenya-3w-final-list-2017.xlsx
10,Kakamega,KAKAMEGA,NaN,1.0,NaN,NaN,NaN,2.0,NaN,1.0,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx
11,Kericho,KERICHO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,kenya-3w-final-list-2017.xlsx
12,Kiambu,KIAMBU,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1,kenya-3w-final-list-2017.xlsx
13,Kilifi,KILIFI,1.0,2.0,2.0,1.0,1.0,1.0,NaN,NaN,2.0,1.0,2.0,3,kenya-3w-final-list-2017.xlsx
14,Kisumu,KISUMU,1.0,1.0,2.0,1.0,2.0,NaN,NaN,NaN,2.0,1.0,1.0,3,kenya-3w-final-list-2017.xlsx
15,Kitui,KITUI,1.0,NaN,1.0,2.0,NaN,1.0,NaN,1.0,1.0,NaN,2.0,4,kenya-3w-final-list-2017.xlsx
16,Kwale,KWALE,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,3,kenya-3w-final-list-2017.xlsx
17,Lamu,LAMU,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx
18,Machakos,MACHAKOS,1.0,1.0,2.0,NaN,2.0,NaN,NaN,NaN,1.0,1.0,1.0,3,kenya-3w-final-list-2017.xlsx
19,Makueni,MAKUENI,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1,kenya-3w-final-list-2017.xlsx
20,Mandera,MANDERA,NaN,3.0,1.0,3.0,NaN,3.0,NaN,3.0,1.0,5.0,4.0,7,kenya-3w-final-list-2017.xlsx
21,Marsabit,MARSABIT,2.0,10.0,2.0,11.0,1.0,9.0,NaN,9.0,3.0,8.0,10.0,14,kenya-3w-final-list-2017.xlsx
22,Meru,MERU,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1,kenya-3w-final-list-2017.xlsx
23,Migori,MIGORI,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx
24,Mombasa,MOMBASA,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,3,kenya-3w-final-list-2017.xlsx
25,Nairobi,NAIROBI,NaN,2.0,1.0,1.0,7.0,3.0,NaN,NaN,3.0,1.0,2.0,13,kenya-3w-final-list-2017.xlsx
26,Nakuru,NAKURU,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,NaN,2.0,3,kenya-3w-final-list-2017.xlsx
27,Nandi,NANDI,NaN,1.0,1.0,1.0,NaN,1.0,NaN,NaN,2.0,NaN,1.0,3,kenya-3w-final-list-2017.xlsx
28,Narok,NAROK,NaN,2.0,1.0,2.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,4,kenya-3w-final-list-2017.xlsx
29,Nyamira,NYAMIRA,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1,kenya-3w-final-list-2017.xlsx
30,Nyandarua,NYANDARUA,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2,kenya-3w-final-list-2017.xlsx
31,Nyeri,NYERI,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx
32,Samburu,SAMBURU,NaN,3.0,NaN,2.0,NaN,NaN,NaN,NaN,1.0,1.0,2.0,5,kenya-3w-final-list-2017.xlsx
33,Siaya,SIAYA,2.0,2.0,2.0,1.0,1.0,1.0,NaN,NaN,3.0,1.0,1.0,4,kenya-3w-final-list-2017.xlsx
34,Taita Taveta,TAITA TAVETA,NaN,1.0,1.0,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx
35,Tana River,TANA RIVER,NaN,5.0,1.0,6.0,NaN,NaN,NaN,5.0,NaN,5.0,5.0,7,kenya-3w-final-list-2017.xlsx
36,Tharaka - Nithi,THARAKA - NITHI,2.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,2.0,2,kenya-3w-final-list-2017.xlsx
37,Trans Nzoia,TRANS NZOIA,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,kenya-3w-final-list-2017.xlsx
38,Turkana,TURKANA,19.0,4.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0,2.0,5.0,22,kenya-3w-final-list-2017.xlsx
39,Uasin Gishu,UASIN GISHU,NaN,NaN,2.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,4,kenya-3w-final-list-2017.xlsx
40,Wajir,WAJIR,1.0,6.0,2.0,8.0,2.0,7.0,NaN,NaN,2.0,7.0,8.0,11,kenya-3w-final-list-2017.xlsx
41,West Pokot,WEST POKOT,NaN,1.0,1.0,NaN,1.0,2.0,NaN,1.0,1.0,NaN,1.0,3,kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (42, 4)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

             COUNTY         COUNTY.1  Food                           file
0           Baringo          BARINGO   1.0  kenya-3w-final-list-2017.xlsx
1             Bomet            BOMET   NaN  kenya-3w-final-list-2017.xlsx
2           Bungoma          BUNGOMA   NaN  kenya-3w-final-list-2017.xlsx
3             Busia            BUSIA   NaN  kenya-3w-final-list-2017.xlsx
4   Elgeyo-Marakwet  ELGEYO-MARAKWET   NaN  kenya-3w-final-list-2017.xlsx
5              Embu             EMBU   1.0  kenya-3w-final-list-2017.xlsx
6           Garissa          GARISSA   3.0  kenya-3w-final-list-2017.xlsx
7          Homa Bay         HOMA BAY   1.0  kenya-3w-final-list-2017.xlsx
8            Isiolo           ISIOLO   8.0  kenya-3w-final-list-2017.xlsx
9           Kajiado          KAJIADO   1.0  kenya-3w-final-list-2017.xlsx
10         Kakamega         KAKAMEGA   NaN  kenya-3w-final-list-2017.xlsx
11          Kericho          KERICHO   NaN  kenya-3w-final-list-2017.xlsx
12           Kiambu           KIAMBU   NaN  kenya-3w-final-list-2017.xlsx
13           Kilifi           KILIFI   1.0  kenya-3w-final-list-2017.xlsx
14           Kisumu           KISUMU   1.0  kenya-3w-final-list-2017.xlsx
15            Kitui            KITUI   2.0  kenya-3w-final-list-2017.xlsx
16            Kwale            KWALE   1.0  kenya-3w-final-list-2017.xlsx
17             Lamu             LAMU   NaN  kenya-3w-final-list-2017.xlsx
18         Machakos         MACHAKOS   NaN  kenya-3w-final-list-2017.xlsx
19          Makueni          MAKUENI   1.0  kenya-3w-final-list-2017.xlsx
20          Mandera          MANDERA   3.0  kenya-3w-final-list-2017.xlsx
21         Marsabit         MARSABIT  11.0  kenya-3w-final-list-2017.xlsx
22             Meru             MERU   1.0  kenya-3w-final-list-2017.xlsx
23           Migori           MIGORI   NaN  kenya-3w-final-list-2017.xlsx
24          Mombasa          MOMBASA   NaN  kenya-3w-final-list-2017.xlsx
25          Nairobi          NAIROBI   1.0  kenya-3w-final-list-2017.xlsx
26           Nakuru           NAKURU   1.0  kenya-3w-final-list-2017.xlsx
27            Nandi            NANDI   1.0  kenya-3w-final-list-2017.xlsx
28            Narok            NAROK   2.0  kenya-3w-final-list-2017.xlsx
29          Nyamira          NYAMIRA   1.0  kenya-3w-final-list-2017.xlsx
30        Nyandarua        NYANDARUA   NaN  kenya-3w-final-list-2017.xlsx
31            Nyeri            NYERI   NaN  kenya-3w-final-list-2017.xlsx
32          Samburu          SAMBURU   2.0  kenya-3w-final-list-2017.xlsx
33            Siaya            SIAYA   1.0  kenya-3w-final-list-2017.xlsx
34     Taita Taveta     TAITA TAVETA   1.0  kenya-3w-final-list-2017.xlsx
35       Tana River       TANA RIVER   6.0  kenya-3w-final-list-2017.xlsx
36  Tharaka - Nithi  THARAKA - NITHI   1.0  kenya-3w-final-list-2017.xlsx
37      Trans Nzoia      TRANS NZOIA   NaN  kenya-3w-final-list-2017.xlsx
38          Turkana          TURKANA   4.0  kenya-3w-final-list-2017.xlsx
39      Uasin Gishu      UASIN GISHU   1.0  kenya-3w-final-list-2017.xlsx
40            Wajir            WAJIR   8.0  kenya-3w-final-list-2017.xlsx
41       West Pokot       WEST POKOT   NaN  kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (65, 8)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,Organization,Abbrev,Type,Unnamed: 3,Organization.1,Abbrev.1,Type.1,file
0,Action Against Hunger,ACF,INGO,NaN,Medecins Sans Frontieres,MSF,INGO,kenya-3w-final-list-2017.xlsx
1,Action Aid Kenya,AAK,INGO,NaN,Mercy-USA,Mercy-USA,INGO,kenya-3w-final-list-2017.xlsx
2,Africa Development Solutions,ADESO,INGO,NaN,Northerm Water Service Board,NWSB,Gov,kenya-3w-final-list-2017.xlsx
3,Agency for Technical Cooperation and Development,ACTED,INGO,NaN,Nowregian Refugee Council,NRC,INGO,kenya-3w-final-list-2017.xlsx
4,Aldef Kenya,AK,INGO,NaN,OXFAM,OXFAM,INGO,kenya-3w-final-list-2017.xlsx
...,...,...,...,...,...,...,...,...
60,Waso Development Resource Agency,WARDA,NGO,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx
61,Women kind Worldwide,WKW,INGO,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx
62,World Food Programme,WFP,UN,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx
63,World Health Organization,WHO,UN,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx
64,World Vision International,WVI,INGO,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (35, 4)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,Name,Abbred,Type,file
0,Action Against Hunger,ACF,INGO,kenya-3w-final-list-2017.xlsx
1,Agency for Technical Cooperation and Development,ACTED,INGO,kenya-3w-final-list-2017.xlsx
2,ADESO,ADESO,INGO,kenya-3w-final-list-2017.xlsx
3,Africa Development Solutions,ADESO,INGO,kenya-3w-final-list-2017.xlsx
4,TendeAVSI,AVSI,INGO,kenya-3w-final-list-2017.xlsx
5,CHILD FUND,CHILD FUND,INGO,kenya-3w-final-list-2017.xlsx
6,Catholic Organization for Relief and developme...,CORDAID,INGO,kenya-3w-final-list-2017.xlsx
7,Catholic Diocese of Lodwar,DOL,NGO,kenya-3w-final-list-2017.xlsx
8,Food and Agriculture Organization,FAO,UN,kenya-3w-final-list-2017.xlsx
9,FilmAid,FilmAid,INGO,kenya-3w-final-list-2017.xlsx
10,HelpAge International,HelpAge,INGO,kenya-3w-final-list-2017.xlsx
11,International Labour Organization,ILO,UN,kenya-3w-final-list-2017.xlsx
12,International Organization for Migration,IOM,INGO,kenya-3w-final-list-2017.xlsx
13,Kenya Red Cross,KRC,INGO,kenya-3w-final-list-2017.xlsx
14,Kenya Red Cross,KRCS,INGO,kenya-3w-final-list-2017.xlsx
15,Kenya Red Cross Society,KRCS,INGO,kenya-3w-final-list-2017.xlsx
16,Lay Volunteers International Association,LVIA,INGO,kenya-3w-final-list-2017.xlsx
17,Norweigian Refugee Council,NRC,INGO,kenya-3w-final-list-2017.xlsx
18,OXFAM,OXFAM,INGO,kenya-3w-final-list-2017.xlsx
19,Plan International,Plan,INGO,kenya-3w-final-list-2017.xlsx
20,Samaritan's Purse,SP,INGO,kenya-3w-final-list-2017.xlsx
21,Trocaire,Trocaire,INGO,kenya-3w-final-list-2017.xlsx
22,UN Women,UN Women,UN,kenya-3w-final-list-2017.xlsx
23,United Nations Development Programme,UNDP,UN,kenya-3w-final-list-2017.xlsx
24,"United Nations Educational, Scientific and Cul...",UNESCO,UN,kenya-3w-final-list-2017.xlsx
25,United Nations High Commission for Refugees,UNHCR,UN,kenya-3w-final-list-2017.xlsx
26,United Nations Childrens Fund,UNICEF,UN,kenya-3w-final-list-2017.xlsx
27,United Nations Office for Project Services,UNOPS,UN,kenya-3w-final-list-2017.xlsx
28,UN Women,UNWomen,UN,kenya-3w-final-list-2017.xlsx
29,US African Development Foundation,US- ADF,INGO,kenya-3w-final-list-2017.xlsx
30,World Food Programme,WFP,UN,kenya-3w-final-list-2017.xlsx
31,World Health Organization,WHO,UN,kenya-3w-final-list-2017.xlsx
32,World Vision,WVI,INGO,kenya-3w-final-list-2017.xlsx
33,World Vision Kenya,WVI,INGO,kenya-3w-final-list-2017.xlsx
34,World Vision International,WVI,INGO,kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (3, 2)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

        Unnamed: 0                           file
0              NaN  kenya-3w-final-list-2017.xlsx
1  Count of COUNTY  kenya-3w-final-list-2017.xlsx
2              572  kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (117, 2)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,Baringo,file
0,"ACTED, AVSI, KRCS, Trocaire, WVI",kenya-3w-final-list-2017.xlsx
1,NaN,kenya-3w-final-list-2017.xlsx
2,"Bomet, Busia",kenya-3w-final-list-2017.xlsx
3,"KRCS, WVI",kenya-3w-final-list-2017.xlsx
4,NaN,kenya-3w-final-list-2017.xlsx
...,...,...
112,"ACF, ADESO, AK, GirlKind, HelpAge, IOM, IRF, K...",kenya-3w-final-list-2017.xlsx
113,NaN,kenya-3w-final-list-2017.xlsx
114,NaN,kenya-3w-final-list-2017.xlsx
115,West Pokot,kenya-3w-final-list-2017.xlsx
116,"ACF, KRCS, WVI",kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (63, 2)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

        Unnamed: 0                           file
0              NaN  kenya-3w-final-list-2017.xlsx
1              NaN  kenya-3w-final-list-2017.xlsx
2          Bungoma  kenya-3w-final-list-2017.xlsx
3        ACF, KRCS  kenya-3w-final-list-2017.xlsx
4              NaN  kenya-3w-final-list-2017.xlsx
..             ...                            ...
58             NaN  kenya-3w-final-list-2017.xlsx
59             NaN  kenya-3w-final-list-2017.xlsx
60             NaN  kenya-3w-final-list-2017.xlsx
61      West Pokot  kenya-3w-final-list-2017.xlsx
62  ACF, KRCS, WVI  kenya-3w-final-list-2017.xlsx

[63 rows x 2 columns]

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (43, 13)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,County,Total Organizations,DRR/DRM,Education,Emergency Response,Food Security/Livelihoods,Governance,Health,Nutrition,Protection,Shelter & NFI,WaSH,file
0,Baringo,5.0,WVI,"AVSI, WVI",KRCS,Trocaire,NaN,WVI,NaN,"AVSI, WVI",ACTED,"ACTED, WVI",kenya-3w-final-list-2017.xlsx
1,Bomet,2.0,NaN,NaN,KRCS,NaN,NaN,NaN,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx
2,Bungoma,2.0,NaN,NaN,KRCS,NaN,NaN,NaN,ACF,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx
3,Busia,2.0,NaN,WVI,KRCS,NaN,WVI,WVI,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx
4,Elgeyo Marakwet,3.0,NaN,AVSI,KRCS,NaN,NaN,WVI,NaN,"AVSI, WVI",NaN,WVI,kenya-3w-final-list-2017.xlsx
5,Embu,1.0,Trocaire,NaN,NaN,Trocaire,NaN,NaN,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx
6,Garissa,24.0,ADESO,"AVSI, FilmAid, WVI","FilmAid, IOM, KRCS","ADESO, FilmAid, WVI",NaN,"ACF, ASPECT, CARE, FaiDa, FilmAid, GCN, IRDO, ...",NaN,"AVSI, FilmAid","ACF, ASPECT, CARE, FaiDa, GCN, IRDO, Mercy-USA...","ACF, ADESO, ASPECT, CARE, FaiDa, FilmAid, GCN,...",kenya-3w-final-list-2017.xlsx
7,Homa Bay,4.0,PLAN,PLAN,"KRCS, MSF, PLAN",WVI,PLAN,WVI,NaN,"PLAN, WVI",PLAN,"PLAN, WVI",kenya-3w-final-list-2017.xlsx
8,Isiolo,10.0,ADESO,"AAK, ACF, DPHO, FHK, KRCS, WVI",NaN,"AAK, ACF, ADESO, DPHO, FHK, KRCS, LVIA, WVI","ADESO, CORDAID","AAK, ACF, DPHO, FHK, KRCS, WVI","AAK, ACF, DPHO, FHK, KRCS, WVI",WVI,"AAK, ACF, ADESO, DPHO, FHK, KRCS, NRC, WVI",NaN,kenya-3w-final-list-2017.xlsx
9,Kajiado,3.0,NaN,"AVSI, WVI",KRCS,NaN,NaN,WVI,NaN,"AVSI, WVI",NaN,"AVSI, WVI",kenya-3w-final-list-2017.xlsx
10,Kakamega,2.0,NaN,WVI,NaN,NaN,NaN,"ACF, WVI",ACF,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx
11,Kericho,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS,kenya-3w-final-list-2017.xlsx
12,Kiambu,1.0,NaN,AVSI,NaN,NaN,NaN,NaN,NaN,AVSI,NaN,NaN,kenya-3w-final-list-2017.xlsx
13,Kilifi,3.0,PLAN,"PLAN, WVI","KRCS, PLAN",NaN,PLAN,WVI,NaN,"PLAN, WVI",PLAN,"PLAN, WVI",kenya-3w-final-list-2017.xlsx
14,Kisumu,3.0,PLAN,PLAN,"KRCS, PLAN",NaN,"PLAN, WVI",NaN,NaN,"PLAN, WVI",PLAN,PLAN,kenya-3w-final-list-2017.xlsx
15,Kitui,4.0,Trocaire,NaN,KRCS,NaN,NaN,WVI,WVI,WVI,NaN,"SP, WVI",kenya-3w-final-list-2017.xlsx
16,Kwale,3.0,PLAN,PLAN,"KRCS, PLAN",NaN,PLAN,NaN,NaN,PLAN,PLAN,PLAN,kenya-3w-final-list-2017.xlsx
17,Lamu,2.0,NaN,WVI,KRCS,NaN,WVI,NaN,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx
18,Machakos,3.0,PLAN,PLAN,"KRCS, PLAN",NaN,"PLAN, WVI",NaN,NaN,PLAN,PLAN,PLAN,kenya-3w-final-list-2017.xlsx
19,Makueni,1.0,NaN,NaN,NaN,NaN,NaN,WVI,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx
20,Mandera,7.0,NaN,"FHK, IRF, SC",KRCS,NaN,NaN,"FHK, IRF, SC","FHK, IRF, SC",HelpAge,"ACTED, FHK, IRF, NRC, SC","ACTED, FHK, IRF, SC",kenya-3w-final-list-2017.xlsx
21,Marsabit,14.0,"ADESO, VSF-G","ADESO, CIFA, CONCERN, CWSK, FHK, Goal Kenya, H...","IOM, KRCS",NaN,ADESO,"CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PA...","CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PA...","HelpAge, PACIDA, WVI","CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PI...","ADESO, CIFA, CONCERN, CWSK, FHK, Goal Kenya, H...",kenya-3w-final-list-2017.xlsx
22,Meru,1.0,NaN,AVSI,NaN,NaN,NaN,NaN,NaN,AVSI,NaN,NaN,kenya-3w-final-list-2017.xlsx
23,Migori,2.0,NaN,WVI,KRCS,NaN,WVI,WVI,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx
24,Mombasa,3.0,NaN,NaN,KRCS,NaN,WVI,NaN,NaN,NaN,NaN,SP,kenya-3w-final-list-2017.xlsx
25,Nairobi,13.0,NaN,NaN,KRCS,NaN,"HelpAge, IOM, NRC, SP, Trocaire, UNICEF, WVI","MSF, UNHCR, WVI",NaN,"AVSI, FilmAid, WVI",UNHCR,"ACF, UNHCR",kenya-3w-final-list-2017.xlsx
26,Nakuru,3.0,NaN,NaN,KRCS,WVI,NaN,WVI,NaN,WVI,NaN,"ACF, WVI",kenya-3w-final-list-2017.xlsx
27,Nandi,3.0,NaN,AVSI,KRCS,NaN,NaN,WVI,NaN,"AVSI, WVI",NaN,WVI,kenya-3w-final-list-2017.xlsx
28,Narok,4.0,NaN,NaN,KRCS,"AVSI, VSF-G",WVI,WVI,NaN,"AVSI, WVI",NaN,NaN,kenya-3w-final-list-2017.xlsx
29,Nyamira,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WVI,NaN,NaN,kenya-3w-final-list-2017.xlsx
30,Nyandarua,2.0,NaN,NaN,KRCS,NaN,NaN,NaN,NaN,AVSI,NaN,NaN,kenya-3w-final-list-2017.xlsx
31,Nyeri,2.0,NaN,WVI,KRCS,NaN,WVI,NaN,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx
32,Samburu,5.0,NaN,NaN,NaN,"Ramati, WVI",NaN,NaN,NaN,WVI,ACTED,"ACTED, WVI",kenya-3w-final-list-2017.xlsx
33,Siaya,4.0,"PLAN, WVI","AVSI, PLAN","KRCS, PLAN",NaN,PLAN,WVI,NaN,"AVSI, PLAN, WVI",PLAN,PLAN,kenya-3w-final-list-2017.xlsx
34,Taita Taveta,2.0,NaN,NaN,KRCS,WVI,NaN,NaN,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx
35,Tana River,7.0,NaN,NaN,KRCS,NaN,NaN,WVI,NaN,NaN,"ACF, CPHO, GAA, IMC, WVI","ACF, CPHO, GAA, IMC, WVI",kenya-3w-final-list-2017.xlsx
36,Tharaka Nithi,2.0,"PLAN, Trocaire",PLAN,PLAN,NaN,PLAN,NaN,NaN,PLAN,PLAN,"PLAN, Trocaire",kenya-3w-final-list-2017.xlsx
37,Trans Nzoia,1.0,NaN,NaN,KRCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx
38,Turkana,22.0,"ADESO, CF, DOL, FAO, ILO, KRCS, OXFAM, Trocair...",NaN,"FilmAid, IOM, KRCS","ADESO, FilmAid, VSF-G, WVI","ADESO, Trocaire","FilmAid, UNHCR",NaN,"FilmAid, WVI","NRC, UNHCR","ADESO, FilmAid, UNHCR, UNICEF, WVI",kenya-3w-final-list-2017.xlsx
39,Uasin Gishu,4.0,NaN,NaN,"IOM, KRCS",NaN,WVI,NaN,NaN,WVI,NaN,NaN,kenya-3w-final-list-2017.xlsx
40,Wajir,11.0,NaN,"AK, GirlKind, IRF, KRCS, SC, WASDA","IOM, KRCS",NaN,"ADESO, WVI","ACF, AK, GirlKind, IRF, KRCS, SC, WASDA",NaN,"HelpAge, WVI","AK, GirlKind, IRF, KRCS, SC, WASDA, WVI","ADESO, AK, GirlKind, IRF, KRCS, SC, WASDA, WVI",kenya-3w-final-list-2017.xlsx
41,West Pokot,3.0,NaN,NaN,KRCS,NaN,WVI,"ACF, WVI",NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx
42,Total,NaN,20,29,29,29,10,35,18,6,38,42,kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (17, 3)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,Unnamed: 0,Unnamed: 1,file
0,Baringo,ACTED,kenya-3w-final-list-2017.xlsx
1,Garissa,"ACF, ASPECT, CARE, FaiDa, GCN, IRDO, Mercy-USA...",kenya-3w-final-list-2017.xlsx
2,Homa Bay,PLAN,kenya-3w-final-list-2017.xlsx
3,Isiolo,"AAK, ACF, ADESO, DPHO, FHK, KRCS, NRC, WVI",kenya-3w-final-list-2017.xlsx
4,Kilifi,PLAN,kenya-3w-final-list-2017.xlsx
5,Kisumu,PLAN,kenya-3w-final-list-2017.xlsx
6,Kwale,PLAN,kenya-3w-final-list-2017.xlsx
7,Machakos,PLAN,kenya-3w-final-list-2017.xlsx
8,Mandera,"ACTED, FHK, IRF, NRC, SC",kenya-3w-final-list-2017.xlsx
9,Marsabit,"CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PI...",kenya-3w-final-list-2017.xlsx
10,Nairobi,UNHCR,kenya-3w-final-list-2017.xlsx
11,Samburu,ACTED,kenya-3w-final-list-2017.xlsx
12,Siaya,PLAN,kenya-3w-final-list-2017.xlsx
13,Tana River,"ACF, CPHO, GAA, IMC, WVI",kenya-3w-final-list-2017.xlsx
14,Tharaka Nithi,PLAN,kenya-3w-final-list-2017.xlsx
15,Turkana,"NRC, UNHCR",kenya-3w-final-list-2017.xlsx
16,Wajir,"AK, GirlKind, IRF, KRCS, SC, WASDA, WVI",kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (36, 3)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

         Unnamed: 0            Unnamed: 1                           file
0           Baringo             AVSI, WVI  kenya-3w-final-list-2017.xlsx
1             Bomet                   WVI  kenya-3w-final-list-2017.xlsx
2             Busia                   WVI  kenya-3w-final-list-2017.xlsx
3   Elgeyo Marakwet             AVSI, WVI  kenya-3w-final-list-2017.xlsx
4           Garissa         AVSI, FilmAid  kenya-3w-final-list-2017.xlsx
5          Homa Bay             PLAN, WVI  kenya-3w-final-list-2017.xlsx
6            Isiolo                   WVI  kenya-3w-final-list-2017.xlsx
7           Kajiado             AVSI, WVI  kenya-3w-final-list-2017.xlsx
8          Kakamega                   WVI  kenya-3w-final-list-2017.xlsx
9            Kiambu                  AVSI  kenya-3w-final-list-2017.xlsx
10           Kilifi             PLAN, WVI  kenya-3w-final-list-2017.xlsx
11           Kisumu             PLAN, WVI  kenya-3w-final-list-2017.xlsx
12            Kitui                   WVI  kenya-3w-final-list-2017.xlsx
13            Kwale                  PLAN  kenya-3w-final-list-2017.xlsx
14             Lamu                   WVI  kenya-3w-final-list-2017.xlsx
15         Machakos                  PLAN  kenya-3w-final-list-2017.xlsx
16          Makueni                   WVI  kenya-3w-final-list-2017.xlsx
17          Mandera               HelpAge  kenya-3w-final-list-2017.xlsx
18         Marsabit  HelpAge, PACIDA, WVI  kenya-3w-final-list-2017.xlsx
19             Meru                  AVSI  kenya-3w-final-list-2017.xlsx
20           Migori                   WVI  kenya-3w-final-list-2017.xlsx
21          Nairobi    AVSI, FilmAid, WVI  kenya-3w-final-list-2017.xlsx
22           Nakuru                   WVI  kenya-3w-final-list-2017.xlsx
23            Nandi             AVSI, WVI  kenya-3w-final-list-2017.xlsx
24            Narok             AVSI, WVI  kenya-3w-final-list-2017.xlsx
25          Nyamira                   WVI  kenya-3w-final-list-2017.xlsx
26        Nyandarua                  AVSI  kenya-3w-final-list-2017.xlsx
27            Nyeri                   WVI  kenya-3w-final-list-2017.xlsx
28          Samburu                   WVI  kenya-3w-final-list-2017.xlsx
29            Siaya       AVSI, PLAN, WVI  kenya-3w-final-list-2017.xlsx
30     Taita Taveta                   WVI  kenya-3w-final-list-2017.xlsx
31    Tharaka Nithi                  PLAN  kenya-3w-final-list-2017.xlsx
32          Turkana          FilmAid, WVI  kenya-3w-final-list-2017.xlsx
33      Uasin Gishu                   WVI  kenya-3w-final-list-2017.xlsx
34            Wajir          HelpAge, WVI  kenya-3w-final-list-2017.xlsx
35       West Pokot                   WVI  kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (8, 3)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,Unnamed: 0,Unnamed: 1,file
0,Bungoma,ACF,kenya-3w-final-list-2017.xlsx
1,Isiolo,"AAK, ACF, DPHO, FHK, KRCS, WVI",kenya-3w-final-list-2017.xlsx
2,Kakamega,ACF,kenya-3w-final-list-2017.xlsx
3,Kitui,WVI,kenya-3w-final-list-2017.xlsx
4,Mandera,"FHK, IRF, SC",kenya-3w-final-list-2017.xlsx
5,Marsabit,"CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PA...",kenya-3w-final-list-2017.xlsx
6,Tana River,"ACF, CPHO, GAA, IMC, WVI",kenya-3w-final-list-2017.xlsx
7,West Pokot,ACF,kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (25, 3)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,Unnamed: 0,Unnamed: 1,file
0,Baringo,WVI,kenya-3w-final-list-2017.xlsx
1,Bungoma,ACF,kenya-3w-final-list-2017.xlsx
2,Busia,WVI,kenya-3w-final-list-2017.xlsx
3,Elgeyo Marakwet,WVI,kenya-3w-final-list-2017.xlsx
4,Garissa,"ACF, ASPECT, CARE, FaiDa, FilmAid, GCN, IRDO, ...",kenya-3w-final-list-2017.xlsx
5,Homa Bay,WVI,kenya-3w-final-list-2017.xlsx
6,Isiolo,"AAK, ACF, DPHO, FHK, KRCS, WVI",kenya-3w-final-list-2017.xlsx
7,Kajiado,WVI,kenya-3w-final-list-2017.xlsx
8,Kakamega,"ACF, WVI",kenya-3w-final-list-2017.xlsx
9,Kilifi,WVI,kenya-3w-final-list-2017.xlsx
10,Kitui,WVI,kenya-3w-final-list-2017.xlsx
11,Makueni,WVI,kenya-3w-final-list-2017.xlsx
12,Mandera,"FHK, IRF, SC",kenya-3w-final-list-2017.xlsx
13,Marsabit,"CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PA...",kenya-3w-final-list-2017.xlsx
14,Meru,AVSI,kenya-3w-final-list-2017.xlsx
15,Migori,WVI,kenya-3w-final-list-2017.xlsx
16,Nairobi,"MSF, UNHCR, WVI",kenya-3w-final-list-2017.xlsx
17,Nakuru,WVI,kenya-3w-final-list-2017.xlsx
18,Nandi,WVI,kenya-3w-final-list-2017.xlsx
19,Narok,WVI,kenya-3w-final-list-2017.xlsx
20,Siaya,WVI,kenya-3w-final-list-2017.xlsx
21,Taita Taveta,WVI,kenya-3w-final-list-2017.xlsx
22,Turkana,"FilmAid, UNHCR",kenya-3w-final-list-2017.xlsx
23,Wajir,"ACF, AK, GirlKind, IRF, KRCS, SC, WASDA",kenya-3w-final-list-2017.xlsx
24,West Pokot,"ACF, WVI",kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (21, 3)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,Unnamed: 0,Unnamed: 1,file
0,Busia,WVI,kenya-3w-final-list-2017.xlsx
1,Garissa,ADESO,kenya-3w-final-list-2017.xlsx
2,Homa Bay,PLAN,kenya-3w-final-list-2017.xlsx
3,Isiolo,"ADESO, CORDAID",kenya-3w-final-list-2017.xlsx
4,Kilifi,PLAN,kenya-3w-final-list-2017.xlsx
5,Kisumu,"PLAN, WVI",kenya-3w-final-list-2017.xlsx
6,Kwale,PLAN,kenya-3w-final-list-2017.xlsx
7,Lamu,WVI,kenya-3w-final-list-2017.xlsx
8,Machakos,"PLAN, WVI",kenya-3w-final-list-2017.xlsx
9,Marsabit,ADESO,kenya-3w-final-list-2017.xlsx
10,Migori,WVI,kenya-3w-final-list-2017.xlsx
11,Mombasa,WVI,kenya-3w-final-list-2017.xlsx
12,Nairobi,"HelpAge, IOM, NRC, SP, Trocaire, UNICEF, WVI",kenya-3w-final-list-2017.xlsx
13,Narok,WVI,kenya-3w-final-list-2017.xlsx
14,Nyeri,WVI,kenya-3w-final-list-2017.xlsx
15,Siaya,PLAN,kenya-3w-final-list-2017.xlsx
16,Tharaka Nithi,PLAN,kenya-3w-final-list-2017.xlsx
17,Turkana,"ADESO, Trocaire",kenya-3w-final-list-2017.xlsx
18,Uasin Gishu,WVI,kenya-3w-final-list-2017.xlsx
19,Wajir,"ADESO, WVI",kenya-3w-final-list-2017.xlsx
20,West Pokot,WVI,kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (33, 3)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

         Unnamed: 0          Unnamed: 1                           file
0           Baringo                KRCS  kenya-3w-final-list-2017.xlsx
1             Bomet                KRCS  kenya-3w-final-list-2017.xlsx
2           Bungoma                KRCS  kenya-3w-final-list-2017.xlsx
3             Busia                KRCS  kenya-3w-final-list-2017.xlsx
4   Elgeyo Marakwet                KRCS  kenya-3w-final-list-2017.xlsx
5           Garissa  FilmAid, IOM, KRCS  kenya-3w-final-list-2017.xlsx
6          Homa Bay     KRCS, MSF, PLAN  kenya-3w-final-list-2017.xlsx
7           Kajiado                KRCS  kenya-3w-final-list-2017.xlsx
8            Kilifi          KRCS, PLAN  kenya-3w-final-list-2017.xlsx
9            Kisumu          KRCS, PLAN  kenya-3w-final-list-2017.xlsx
10            Kitui                KRCS  kenya-3w-final-list-2017.xlsx
11            Kwale          KRCS, PLAN  kenya-3w-final-list-2017.xlsx
12             Lamu                KRCS  kenya-3w-final-list-2017.xlsx
13         Machakos          KRCS, PLAN  kenya-3w-final-list-2017.xlsx
14          Mandera                KRCS  kenya-3w-final-list-2017.xlsx
15         Marsabit           IOM, KRCS  kenya-3w-final-list-2017.xlsx
16           Migori                KRCS  kenya-3w-final-list-2017.xlsx
17          Mombasa                KRCS  kenya-3w-final-list-2017.xlsx
18          Nairobi                KRCS  kenya-3w-final-list-2017.xlsx
19           Nakuru                KRCS  kenya-3w-final-list-2017.xlsx
20            Nandi                KRCS  kenya-3w-final-list-2017.xlsx
21            Narok                KRCS  kenya-3w-final-list-2017.xlsx
22        Nyandarua                KRCS  kenya-3w-final-list-2017.xlsx
23            Nyeri                KRCS  kenya-3w-final-list-2017.xlsx
24            Siaya          KRCS, PLAN  kenya-3w-final-list-2017.xlsx
25     Taita Taveta                KRCS  kenya-3w-final-list-2017.xlsx
26       Tana River                KRCS  kenya-3w-final-list-2017.xlsx
27    Tharaka Nithi                PLAN  kenya-3w-final-list-2017.xlsx
28      Trans Nzoia                KRCS  kenya-3w-final-list-2017.xlsx
29          Turkana  FilmAid, IOM, KRCS  kenya-3w-final-list-2017.xlsx
30      Uasin Gishu           IOM, KRCS  kenya-3w-final-list-2017.xlsx
31            Wajir           IOM, KRCS  kenya-3w-final-list-2017.xlsx
32       West Pokot                KRCS  kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (10, 3)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,Unnamed: 0,Unnamed: 1,file
0,Baringo,Trocaire,kenya-3w-final-list-2017.xlsx
1,Embu,Trocaire,kenya-3w-final-list-2017.xlsx
2,Garissa,"ADESO, FilmAid, WVI",kenya-3w-final-list-2017.xlsx
3,Homa Bay,WVI,kenya-3w-final-list-2017.xlsx
4,Isiolo,"AAK, ACF, ADESO, DPHO, FHK, KRCS, LVIA, WVI",kenya-3w-final-list-2017.xlsx
5,Nakuru,WVI,kenya-3w-final-list-2017.xlsx
6,Narok,"AVSI, VSF-G",kenya-3w-final-list-2017.xlsx
7,Samburu,"Ramati, WVI",kenya-3w-final-list-2017.xlsx
8,Taita Taveta,WVI,kenya-3w-final-list-2017.xlsx
9,Turkana,"ADESO, FilmAid, VSF-G, WVI",kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (23, 3)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,Unnamed: 0,Unnamed: 1,file
0,Baringo,"AVSI, WVI",kenya-3w-final-list-2017.xlsx
1,Busia,WVI,kenya-3w-final-list-2017.xlsx
2,Elgeyo Marakwet,AVSI,kenya-3w-final-list-2017.xlsx
3,Garissa,"AVSI, FilmAid, WVI",kenya-3w-final-list-2017.xlsx
4,Homa Bay,PLAN,kenya-3w-final-list-2017.xlsx
5,Isiolo,"AAK, ACF, DPHO, FHK, KRCS, WVI",kenya-3w-final-list-2017.xlsx
6,Kajiado,"AVSI, WVI",kenya-3w-final-list-2017.xlsx
7,Kakamega,WVI,kenya-3w-final-list-2017.xlsx
8,Kiambu,AVSI,kenya-3w-final-list-2017.xlsx
9,Kilifi,"PLAN, WVI",kenya-3w-final-list-2017.xlsx
10,Kisumu,PLAN,kenya-3w-final-list-2017.xlsx
11,Kwale,PLAN,kenya-3w-final-list-2017.xlsx
12,Lamu,WVI,kenya-3w-final-list-2017.xlsx
13,Machakos,PLAN,kenya-3w-final-list-2017.xlsx
14,Mandera,"FHK, IRF, SC",kenya-3w-final-list-2017.xlsx
15,Marsabit,"ADESO, CIFA, CONCERN, CWSK, FHK, Goal Kenya, H...",kenya-3w-final-list-2017.xlsx
16,Meru,AVSI,kenya-3w-final-list-2017.xlsx
17,Migori,WVI,kenya-3w-final-list-2017.xlsx
18,Nandi,AVSI,kenya-3w-final-list-2017.xlsx
19,Nyeri,WVI,kenya-3w-final-list-2017.xlsx
20,Siaya,"AVSI, PLAN",kenya-3w-final-list-2017.xlsx
21,Tharaka Nithi,PLAN,kenya-3w-final-list-2017.xlsx
22,Wajir,"AK, GirlKind, IRF, KRCS, SC, WASDA",kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (14, 3)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,Unnamed: 0,Unnamed: 1,file
0,Baringo,WVI,kenya-3w-final-list-2017.xlsx
1,Embu,Trocaire,kenya-3w-final-list-2017.xlsx
2,Garissa,ADESO,kenya-3w-final-list-2017.xlsx
3,Homa Bay,PLAN,kenya-3w-final-list-2017.xlsx
4,Isiolo,ADESO,kenya-3w-final-list-2017.xlsx
5,Kilifi,PLAN,kenya-3w-final-list-2017.xlsx
6,Kisumu,PLAN,kenya-3w-final-list-2017.xlsx
7,Kitui,Trocaire,kenya-3w-final-list-2017.xlsx
8,Kwale,PLAN,kenya-3w-final-list-2017.xlsx
9,Machakos,PLAN,kenya-3w-final-list-2017.xlsx
10,Marsabit,"ADESO, VSF-G",kenya-3w-final-list-2017.xlsx
11,Siaya,"PLAN, WVI",kenya-3w-final-list-2017.xlsx
12,Tharaka Nithi,"PLAN, Trocaire",kenya-3w-final-list-2017.xlsx
13,Turkana,"ADESO, CF, DOL, FAO, ILO, KRCS, OXFAM, Trocair...",kenya-3w-final-list-2017.xlsx

===================================================================================================


File: kenya-3w-final-list-2017.xlsx > Size: (44, 14)


Description:  Kenya - Who is doing what and where 2017

Dataset shows who is doing what and where (3W) in kenya. This data was collected for the Kenya drought response

,County,DRR/DRM,Education,Emergency response,Food security and livelihoods,Governance,Health,logistics,Nutrition,Protection,Shelter and NFI,WaSH,Total,file
0,Baringo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx
1,Bomet,WVI,NaN,KRCS,NaN,NaN,NaN,NaN,NaN,WVI,NaN,WVI,2.0,kenya-3w-final-list-2017.xlsx
2,Embu,Trocaire,NaN,NaN,Trocaire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,kenya-3w-final-list-2017.xlsx
3,Kiambu,NaN,AVSI,NaN,NaN,NaN,NaN,NaN,NaN,AVSI,NaN,NaN,1.0,kenya-3w-final-list-2017.xlsx
4,Kisumu,Plan,Plan,"KRCS, Plan",WVI,"CORDAID, Plan, WVI",NaN,NaN,NaN,"Plan, WVI",Plan,Plan,4.0,kenya-3w-final-list-2017.xlsx
5,Kwale,Plan,Plan,"KRCS, Plan",SP,Plan,NaN,NaN,NaN,Plan,Plan,Plan,3.0,kenya-3w-final-list-2017.xlsx
6,Lamu,NaN,WVI,KRCS,NaN,WVI,NaN,NaN,NaN,WVI,NaN,WVI,2.0,kenya-3w-final-list-2017.xlsx
7,Machakos,Plan,Plan,"KRCS, Plan",NaN,"WVI, Plan",NaN,NaN,NaN,Plan,Plan,Plan,3.0,kenya-3w-final-list-2017.xlsx
8,Mombasa,NaN,NaN,KRCS,NaN,WVI,NaN,NaN,NaN,NaN,NaN,SP,3.0,kenya-3w-final-list-2017.xlsx
9,Nyandarua,NaN,AVSI,KRCS,NaN,NaN,NaN,NaN,NaN,AVSI,NaN,NaN,2.0,kenya-3w-final-list-2017.xlsx
10,Samburu,NaN,"CORDAID, WVI, CF",NaN,"WVI, Ramati",NaN,NaN,NaN,NaN,WVI,ACTED,"ACTED, WVI",5.0,kenya-3w-final-list-2017.xlsx
11,Tana River,NaN,"WVI, GAA, ACF,\nIMC, CPHO",KRCS,"SP, WVI, GAA, ACF,\nIMC, CPHO",NaN,NaN,NaN,"WVI, GAA, ACF,\nIMC, CPHO",NaN,"WVI, GAA, ACF,\nIMC, CPHO","ACF, WVI, GAA, ACF,\nIMC, CPHO",8.0,kenya-3w-final-list-2017.xlsx
12,Trans Nzoia,NaN,NaN,KRCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx
13,Uasin Gishu,NaN,NaN,"IOM, KRCS",WVI,WVI,NaN,SP,NaN,WVI,NaN,NaN,4.0,kenya-3w-final-list-2017.xlsx
14,Bungoma,NaN,NaN,KRCS,NaN,NaN,ACF,NaN,ACF,NaN,NaN,NaN,2.0,kenya-3w-final-list-2017.xlsx
15,Kakamega,NaN,WVI,NaN,NaN,NaN,"ACF, WVI",NaN,ACF,WVI,NaN,WVI,2.0,kenya-3w-final-list-2017.xlsx
16,West Pokot,NaN,WVI,KRCS,NaN,WVI,"ACF, WVI",NaN,ACF,WVI,NaN,WVI,3.0,kenya-3w-final-list-2017.xlsx
17,Meru,NaN,AVSI,NaN,AVSI,NaN,AVSI,NaN,NaN,AVSI,NaN,NaN,1.0,kenya-3w-final-list-2017.xlsx
18,Turkana,"ADESO, CHILD FUND, DOL, FAO, ILO, KRCS, KRCS, ...","FilmAid, WVI, UNICEF, UNHCR","FilmAid, IOM, KRCS, KRCS","ADESO, FilmAid, WVI, VSF-G","ADESO, Trocaire","FilmAid, UNHCR",NaN,NaN,"FilmAid, WVI","NRC, UNHCR","ADESO, FilmAid, WVI, UNICEF, UNHCR",23.0,kenya-3w-final-list-2017.xlsx
19,Garissa,ADESO,"AVSI, FilmAid, WVI","FilmAid, IOM, KRCS","ADESO, FilmAid, WVI",ADESO,"FilmAid, UNHCR, CARE,\nTDH, PISP,\nFaiDa, IRDO...",NaN,NaN,"AVSI, FilmAid","NRC,UNHCR, CARE,\nTDH, PISP,\nFaiDa, IRDO,\nNW...","ADESO, FilmAid, WVI,UNHCR, CARE,\nTDH, PISP,\n...",26.0,kenya-3w-final-list-2017.xlsx
20,Marsabit,"ADESO, VSF-G","ADESO, HODI, CIFA, WVI,\nCONCERN, FHK,\nGoal K...","IOM, KRCS","ADESO, WVI, HODI, CIFA, WVI,\nCONCERN, FHK,\nG...",ADESO,"HODI, CIFA,\nWVI, CONCERN,\nFHK, Goal Kenya, C...",NaN,"HODI, CIFA,\nWVI, CONCERN,\nFHK, Goal Kenya, C...","HelpAge, WVI","HODI, CIFA,\nWVI, CONCERN,\nFHK, Goal Kenya, C...","ADESO, HODI, CIFA,\nWVI, CONCERN,\nFHK, Goal K...",25.0,kenya-3w-final-list-2017.xlsx
21,Mandera,NaN,"IR, SC, FHK",KRCS,"IR, SC, FHK",NaN,"IR, SC, FHK",NaN,"IR, SC, FHK",HelpAge,"ACTED, NRC, IR, SC, FHK","ACTED, IR, SC, FHK",8.0,kenya-3w-final-list-2017.xlsx
22,Wajir,ADESO,"WASDA, Aldef\nKenya, SC,\nGirlKind, KRCS, IR","IOM, KRCS","ADESO, WVI, WASDA, Aldef\nKenya, SC,\nGirlKind...","ADESO, WVI","WASDA, Aldef\nKenya, SC,\nGirlKind, KRCS, IR",NaN,ACF,"HelpAge, WVI","WASDA, Aldef\nKenya, SC,\nGirlKind, WV,\nKRCS, IR","ADESO, WVI, WASDA, Aldef\nKenya, SC,\nGirlKind...",13.0,kenya-3w-final-list-2017.xlsx
23,Baringo,WVI,"AVSI, WVI",KRCS,Trocaire,NaN,WVI,NaN,NaN,"AVSI, WVI",ACTED,"ACTED, WVI",5.0,kenya-3w-final-list-2017.xlsx
24,Busia,NaN,WVI,KRCS,NaN,WVI,WVI,NaN,NaN,WVI,NaN,WVI,2.0,kenya-3w-final-list-2017.xlsx
25,Elgeyo Marakwet,NaN,AVSI,KRCS,NaN,NaN,WVI,NaN,NaN,"AVSI, WVI",NaN,WVI,3.0,kenya-3w-final-list-2017.xlsx
26,Homa Bay,Plan,Plan,"KRCS, Plan, MSF",WVI,Plan,WVI,NaN,NaN,"Plan, WVI",Plan,"Plan, WVI",5.0,kenya-3w-final-list-2017.xlsx
27,Kajiado,NaN,"AVSI, WVI",KRCS,AVSI,NaN,WVI,NaN,NaN,"AVSI, WVI",NaN,"AVSI, WVI",3.0,kenya-3w-final-list-2017.xlsx
28,Kilifi,Plan,"Plan, WVI","KRCS, Plan",WVI,Plan,WVI,NaN,NaN,"Plan, WVI",Plan,"Plan, WVI",4.0,kenya-3w-final-list-2017.xlsx
29,Kitui,Trocaire,NaN,KRCS,"Trocaire, WVI",NaN,WVI,NaN,WVI,WVI,NaN,"SP, WVI",4.0,kenya-3w-final-list-2017.xlsx
30,Makueni,NaN,NaN,NaN,WVI,NaN,WVI,NaN,NaN,WVI,NaN,WVI,1.0,kenya-3w-final-list-2017.xlsx
31,Migori,NaN,WVI,KRCS,NaN,WVI,WVI,NaN,NaN,WVI,NaN,WVI,2.0,kenya-3w-final-list-2017.xlsx
32,Nakuru,NaN,NaN,KRCS,WVI,NaN,WVI,NaN,NaN,WVI,NaN,"ACF, WVI",3.0,kenya-3w-final-list-2017.xlsx
33,Nandi,NaN,AVSI,KRCS,AVSI,NaN,WVI,NaN,NaN,"AVSI, WVI",NaN,WVI,3.0,kenya-3w-final-list-2017.xlsx
34,Narok,NaN,"AVSI, WVI",KRCS,"AVSI, VSF-G",WVI,WVI,NaN,NaN,"AVSI, WVI",NaN,NaN,4.0,kenya-3w-final-list-2017.xlsx
35,Siaya,"Plan, WVI","AVSI, Plan","KRCS, Plan",WVI,Plan,WVI,NaN,NaN,"AVSI, Plan, WVI",Plan,Plan,4.0,kenya-3w-final-list-2017.xlsx
36,Taita Taveta,NaN,WVI,KRCS,WVI,NaN,WVI,NaN,NaN,WVI,NaN,WVI,2.0,kenya-3w-final-list-2017.xlsx
37,Isiolo,ADESO,"WVI, ACF, AAK, KRCS,\nWV, FHK, DPHO",NaN,"ADESO, LVIA, WVI, ACF, AAK, KRCS,\nWV, FHK, DPHO","ADESO, CORDAID","WVI, ACF, AAK, KRCS,\nWV, FHK, DPHO",NaN,"ACF, ACF, AAK, KRCS,\nWV, FHK, DPHO",WVI,"ACF, AAK, KRCS,\nWV, FHK, DPHO","ACF, ADESO, NRC, ACF, AAK, KRCS,\nWV, FHK, DPHO",12.0,kenya-3w-final-list-2017.xlsx
38,Nairobi,NaN,"AVSI, UNHCR",KRCS,WVI,"HelpAge, IOM, NRC, SP, Trocaire, WVI, UNICEF","WVI, UNHCR, MSF",NaN,NaN,"AVSI, FilmAid, WVI",UNHCR,"ACF, UNHCR",NaN,kenya-3w-final-list-2017.xlsx
39,Kericho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS,1.0,kenya-3w-final-list-2017.xlsx
40,Nyamira,NaN,NaN,NaN,WVI,NaN,NaN,NaN,NaN,WVI,NaN,NaN,1.0,kenya-3w-final-list-2017.xlsx
41,Nyeri,NaN,WVI,NaN,NaN,WVI,NaN,NaN,NaN,WVI,NaN,WVI,1.0,kenya-3w-final-list-2017.xlsx
42,Tharaka,Plan,Plan,Plan,NaN,Plan,NaN,NaN,NaN,Plan,Plan,Plan,1.0,kenya-3w-final-list-2017.xlsx
43,Tharaka Nithi,Trocaire,NaN,NaN,Trocaire,NaN,NaN,NaN,NaN,NaN,NaN,Trocaire,1.0,kenya-3w-final-list-2017.xlsx

===================================================================================================


File: Kenya - IPC Analysis 2017-2022.xlsx > Size: (231, 56)

KeyError: ignored

## Loading pandas dataframes into a postgres database

Roughcode for how one might load all the dataframes into a SQL database. You can install postgres locally, or use docker and run [this](https://hub.docker.com/_/postgres).

In [ ]:
from sqlalchemy import create_engine  
import sqlalchemy

# Set these for your Postgres instance
host   = 'localhost' 
dbname = 'postgres'
user   = 'postgres'
pwd    = os.getenv['PWD'] # Don't save passwords in notebooks - that's naughty! :) - use environment variables. :)
port   = '5432'

engine = create_engine('postgresql+psycopg2://' + user + ':' + pwd + '@' + host +':' + port + '/' + dbname)

for k in dfs:
    df = dfs[k]
    table = k.replace('.','').replace(' ','_').replace('-','_').replace('/','').replace(',','')[0:62]
    print(f"Loading into database table {table} ...")
    df.to_sql(table, engine, if_exists='replace')

print("Done")

Loading into database table Kenyafts_requirements_funding_covid_kencsv ...
Loading into database table Kenyadbo_foodconsumptionscorescsv ...
Loading into database table Kenyaper_capita_food_consumption_2017_and_2018xlsx___Sheet1 ...
Loading into database table Kenyaretail_prices_for_dry_beans_2019_per_kgxlsx___Prices_for_ ...
Loading into database table Kenyavalue_of_recorded_marketed_agricultural_production_at_cur ...
Loading into database table Kenyawfp_food_prices_kencsv ...
Loading into database table Kenyafts_requirements_funding_cluster_kencsv ...
Loading into database table Kenyafts_incoming_funding_kencsv ...
Loading into database table Kenyahealth_kencsv ...
Loading into database table Kenyaken_adminboundaries_tabulardataxlsx___Admin2 ...
Loading into database table Kenyaken_adminboundaries_tabulardataxlsx___Admin1 ...
Loading into database table Kenyaken_adminboundaries_tabulardataxlsx___Admin0 ...
Loading into database table Kenyafts_requirements_funding_kencsv ...
Loading into database table Kenyaken_admpop_2019xlsx___ken_admpop_ADM0_2019 ...
Loading into database table Kenyaken_admpop_2019xlsx___ken_admpop_ADM1_2019 ...
Loading into database table Kenyaken_admpop_2019xlsx___ken_admpop_ADM2_2019 ...
Loading into database table Kenyaken_admpop_2019xlsx___Metadata ...
Loading into database table Kenyaken_admpop_adm1_2019csv ...
Loading into database table Kenyaken_admpop_adm0_2019csv ...
Loading into database table KenyaKenya___IPC_Analysis_2017_2022xlsx___IPC ...
Loading into database table Kenyaretail_prices_for_dry_beans_2018_per_kgxlsx___Prices_for_ ...
Loading into database table Kenyafts_requirements_funding_globalcluster_kencsv ...
Loading into database table Kenyakenya_health_facilities_2017_08_02xlsx___Sheet1 ...
Loading into database table Kenyaretail_prices_for_dry_beans_2017_per_kgxlsx___Sheet1 ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___LIST ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___FOR_IMPORT ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx____food_import ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Org_Lookup ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___ABBREV ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Pivot ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___County___Abbrev ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Sheet2 ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___wash ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___shelter ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___protection ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___nutrition ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___health ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___governance ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___emergency ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___food ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___edu ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___drr ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Table ...
Done

## Query from the database

In [ ]:
query = ' SELECT * FROM public."Kenyakenya_3w_final_list_2017xlsx___drr"'
df = pd.read_sql(query, con=engine)
display(df)

    index     Unnamed: 0                                         Unnamed: 1
0       0        Baringo                                                WVI
1       1           Embu                                           Trocaire
2       2        Garissa                                              ADESO
3       3       Homa Bay                                               PLAN
4       4         Isiolo                                              ADESO
5       5         Kilifi                                               PLAN
6       6         Kisumu                                               PLAN
7       7          Kitui                                           Trocaire
8       8          Kwale                                               PLAN
9       9       Machakos                                               PLAN
10     10       Marsabit                                       ADESO, VSF-G
11     11          Siaya                                          PLAN, WVI
12     12  Tharaka Nithi                                     PLAN, Trocaire
13     13        Turkana  ADESO, CF, DOL, FAO, ILO, KRCS, OXFAM, Trocair...

### Select all column names in the files which uploaded ok

In [ ]:
query = ' SELECT * FROM information_schema.columns'
df = pd.read_sql(query, con=engine)
display(df)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,public,Kenyakenya_3w_final_list_2017xlsx___Table,Total,14,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,pg_catalog,pg_statistic,stanumbers5,26,None,YES,ARRAY,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,pg_catalog,pg_statistic,stavalues1,27,None,YES,anyarray,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,pg_catalog,pg_statistic,stavalues2,28,None,YES,anyarray,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,pg_catalog,pg_statistic,stavalues3,29,None,YES,anyarray,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,postgres,information_schema,sql_parts,feature_id,1,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2844,postgres,pg_catalog,pg_partitioned_table,partexprs,8,None,YES,pg_node_tree,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2845,postgres,information_schema,sql_parts,feature_name,2,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2846,postgres,information_schema,sql_parts,is_supported,3,None,YES,character varying,3.0,1.200000e+01,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2847,postgres,information_schema,sql_parts,is_verified_by,4,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES