# Introduction

Some example code showing how to automatically download files from a Google drive folder, then load all csv and excel into a Postgres database. The code will handle csv encoding issues as well as load all tabs in each Excel file. 

However, it is only an example and would need more work because:

- Some Excel files have more than one table on a sheet
- Many Excel files have blank rows, you'd need to scan through them with openpyxl and remove so column heading are identified
- Table names are cleaned <FILE NAME>_<SHEET NAME IF EXCEL WITH MULTIPLE SHEETS>

The examples chosen are for the Save the Children stream of the DataKind 2022 DataDive.

- [project brief](https://docs.google.com/document/d/1TQ2TiGK_k8KEIUPzVb3ZSKaxzEBP9s9ZJBI2U_HeQ6U/edit#)
- [Google drive with data](https://drive.google.com/drive/folders/1G_CAhpb0xV9zRrV-T5ngA03x-IZ4tGKz)

The example is meant to show how we might load all data into a database to see how we might link data together, build classification and persist meta data. There are many other ways of course, but good 'ol SQL might be a good start!

## Setup

1. Go to the DataDive [google folder](https://drive.google.com/drive/folders/1eBQZhSeCXC9a62Dpg8_cWeKIZXfrxfGz)
2. Right-click on a sub-folder and Create a shortcut in your My Drive, eg for Kenya folder
3. Run pane to mount google drive below, connect your drive
5. Edit `dir` variable below and set path as seen in the laft pane

In [ ]:
# If you don't have these installed, uncomment these lines and run
#%pip install gdown
#%pip install chardet
#%pip install sqlalchemy
#%pip install psycopg2-binary

In [ ]:
import gdown
import os
import pandas as pd
import chardet

## Examples
### Downloading a folder from gdrive

In [17]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
#folder_url = "https://drive.google.com/drive/folders/1G_CAhpb0xV9zRrV-T5ngA03x-IZ4tGKz?usp=share_link"
#gdown.download_folder(folder_url, quiet=True, use_cookies=False)

In [156]:
def load_data(dir, dfs, country):
  for f in os.listdir(dir):
    file = f
    f = f"{dir}/{f}"
    if '.csv' in f:
        print(f"Loading csv file {f}")
        # Detect encoding
        with open(f, 'rb') as rawdata:
            r = chardet.detect(rawdata.read(100000))
        df = pd.read_csv(f, encoding=r['encoding'])
        df['file'] = file
        df['sheet'] = ''
        df['country'] = country
        dfs[f] = df
    if '.xlsx' in f:
        print(f"Leading {f} ...")
        # Read all sheets in
        sheet_to_df_map = pd.read_excel(f, sheet_name=None)
        for sheet in sheet_to_df_map:
          # TODO
          # 1. TEST FOR BLANK ROWS AT TOP, AND REMOVE
          # 2. Does the table have a blank column, if so, is it two tables on one sheet. If so handle that
          df = sheet_to_df_map[sheet]
          df['file'] = file
          df['sheet'] = sheet
          df['country'] = country
          dfs[f"{f} - SHEET= {sheet}"] = df 
  print("Done")
  return dfs

def output_data_summaries(dfs, meta_data):
  op_meta_data = []
  for key in dfs:
      print("\n\n===================================================================================================\n\n")
      df = dfs[key]
      print(key)
      f = str(df['file'])
      country = str(df['country'])
      print(f"Country: {country} > File + Sheet: {key} > Size: {df.shape}\n\n")
      file_meta = meta_data.loc[meta_data[file_col] == f]
      description = str(file_meta['Dataset description'])
      link = str(file_meta['Dataset'])
      print("Link: ", str(link),"\n\n")
      print("Description: \n\n",str(description),"\n\n")
      display(df)
  return 

def create_meta_data(dfs, meta_data):
  op_meta_data = []
  for key in dfs:
      df = dfs[key]
      if isinstance(df, pd.DataFrame) and df.shape[0] > 0:
        f = str(df['file'])
        country = str(df['country'][0])
        file_meta = meta_data.loc[meta_data[file_col] == f]
        description = str(file_meta['Dataset description'])
        link = str(file_meta['Dataset'])
        r = {
          "key":key,
          "file":f,
          "description":str(description),
          "country":str(df['country'][0]),
          "rows": str(df.shape[0]),
          "columns": str(df.shape[1]),
          "data_columns": str(list(df.columns)),
          "data_types": str(list(df.dtypes))
        }
      else:
        r = {
          "key": key,
          "file": "",
          "description":"",
          "country":"",
          "rows": "",
          "columns": "",
          "data_columns": "",
          "data_types":""
        }
      op_meta_data.append(r)
  return pd.DataFrame(op_meta_data)

In [159]:
op_meta_data = create_meta_data(dfs, meta_data)
display(op_meta_data)
op_meta_data.to_csv('/content/drive/MyDrive/Kenya/ALL_META_DATA.csv')

,key,file,description,country,rows,columns,data_columns,data_types
0,/content/drive/MyDrive/Kenya/kenya-3w-final-li...,0 kenya-3w-final-list-2017.xlsx\n1 ...,"Series([], Name: Dataset description, dtype: o...",Kenya,1008,8,"['COUNTY', 'NAME', 'TYPE', 'ABBREV', 'SECTOR',...","[dtype('O'), dtype('O'), dtype('O'), dtype('O'..."
1,/content/drive/MyDrive/Kenya/kenya-3w-final-li...,0 kenya-3w-final-list-2017.xlsx\n1 ken...,"Series([], Name: Dataset description, dtype: o...",Kenya,42,17,"['COUNTY', 'COUNTY.1', 'DRR', 'Education', 'Em...","[dtype('O'), dtype('O'), dtype('float64'), dty..."
2,/content/drive/MyDrive/Kenya/kenya-3w-final-li...,0 kenya-3w-final-list-2017.xlsx\n1 ken...,"Series([], Name: Dataset description, dtype: o...",Kenya,42,6,"['COUNTY', 'COUNTY.1', 'Food', 'file', 'sheet'...","[dtype('O'), dtype('O'), dtype('float64'), dty..."
3,/content/drive/MyDrive/Kenya/kenya-3w-final-li...,0 kenya-3w-final-list-2017.xlsx\n1 ken...,"Series([], Name: Dataset description, dtype: o...",Kenya,65,10,"['Organization', 'Abbrev', 'Type', 'Unnamed: 3...","[dtype('O'), dtype('O'), dtype('O'), dtype('fl..."
4,/content/drive/MyDrive/Kenya/kenya-3w-final-li...,0 kenya-3w-final-list-2017.xlsx\n1 ken...,"Series([], Name: Dataset description, dtype: o...",Kenya,35,6,"['Name', 'Abbred', 'Type', 'file', 'sheet', 'c...","[dtype('O'), dtype('O'), dtype('O'), dtype('O'..."
...,...,...,...,...,...,...,...,...
96,/content/drive/MyDrive/Somalia/Somalia-Humanit...,0 Somalia-Humanitarian Needs Overview-2020...,"Series([], Name: Dataset description, dtype: o...",Somalia,24,26,"['Well being', 'Unnamed: 1', 'Unnamed: 2', 'Un...","[dtype('O'), dtype('O'), dtype('O'), dtype('O'..."
97,/content/drive/MyDrive/Somalia/Somalia-Humanit...,0 Somalia-Humanitarian Needs Overview-2020...,"Series([], Name: Dataset description, dtype: o...",Somalia,76,51,"['District', 'Baseline Non-displaced Populatio...","[dtype('O'), dtype('O'), dtype('O'), dtype('O'..."
98,/content/drive/MyDrive/Somalia/Somalia-Humanit...,0 Somalia-Humanitarian Needs Overview-2020...,"Series([], Name: Dataset description, dtype: o...",Somalia,78,31,['HUMANITARIAN CONSEQUENCE: Physical and menta...,"[dtype('O'), dtype('O'), dtype('O'), dtype('O'..."
99,/content/drive/MyDrive/Somalia/Somalia-Humanit...,0 Somalia-Humanitarian Needs Overview-2020...,"Series([], Name: Dataset description, dtype: o...",Somalia,75,31,['HUMANITARIAN CONSEQUENCE: Physical and menta...,"[dtype('O'), dtype('O'), dtype('O'), dtype('O'..."
100,/content/drive/MyDrive/Somalia/Somalia-Humanit...,0 Somalia-Humanitarian Needs Overview-202...,"Series([], Name: Dataset description, dtype: o...",Somalia,160,10,"['Outcome', 'Severity Class', 'None/ Minimal',...","[dtype('O'), dtype('O'), dtype('O'), dtype('O'..."

## Reading files in a directory to pandas

This snippet will read all csv and xls files in a directory into pandas dataframes, create a list of them.

Just an example, needs a bit more logic to handle xlsx sheets which hold multiple tables, blank rows etc.

In [124]:
meta_data = pd.read_csv(f"/content/drive/MyDrive/Kenya/Data metadata - Sheet1.csv")
file_col = 'Google Drive or Github link to downloaded data (if you can put what you’ve downloaded into a shared location!)'

# Disctionary of pandas dataframes
dfs = {}

for country in ["Kenya", "Somalia"]:
  dir = f"/content/drive/MyDrive/{country}"
  dfs = load_data(dir, dfs, country)

  dir = f"/content/drive/MyDrive/{country}"
  dfs = load_data(dir, dfs, country)

print("Done")

Leading /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx ...

/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

Leading /content/drive/MyDrive/Kenya/Kenya - IPC Analysis 2017-2022.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/wfp_food_prices_ken.csv
Leading /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2017-per-kg.xlsx ...
Leading /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2018-per-kg.xlsx ...
Leading /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2019-per-kg.xlsx ...
Leading /content/drive/MyDrive/Kenya/value-of-recorded-marketed-agricultural-production-at-current-prices-2014-2018.xlsx ...
Leading /content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/dbo-foodconsumptionscores.csv
Leading /content/drive/MyDrive/Kenya/per-capita-food-consumption-2017-and-2018.xlsx ...
Leading /content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/ken_admpop_adm0_2019.csv
Loading csv file /content/drive/MyDrive/Kenya/ken_admpop_adm1_2019.csv
Loading csv file /content/drive/MyDrive/Kenya/health_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_incoming_funding_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_globalcluster_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_cluster_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_covid_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_ken.csv
Leading /content/drive/MyDrive/Kenya/kenya-health-facilities-2017_08_02.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/Data metadata - Sheet1.csv
Done
Leading /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx ...
Leading /content/drive/MyDrive/Kenya/Kenya - IPC Analysis 2017-2022.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/wfp_food_prices_ken.csv
Leading /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2017-per-kg.xlsx ...
Leading /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2018-per-kg.xlsx ...
Leading /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2019-per-kg.xlsx ...
Leading /content/drive/MyDrive/Kenya/value-of-recorded-marketed-agricultural-production-at-current-prices-2014-2018.xlsx ...
Leading /content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/dbo-foodconsumptionscores.csv
Leading /content/drive/MyDrive/Kenya/per-capita-food-consumption-2017-and-2018.xlsx ...
Leading /content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/ken_admpop_adm0_2019.csv
Loading csv file /content/drive/MyDrive/Kenya/ken_admpop_adm1_2019.csv
Loading csv file /content/drive/MyDrive/Kenya/health_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_incoming_funding_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_globalcluster_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_cluster_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_covid_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_ken.csv
Leading /content/drive/MyDrive/Kenya/kenya-health-facilities-2017_08_02.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/Data metadata - Sheet1.csv
Done
Leading /content/drive/MyDrive/Somalia/Somalia - Who is Doing What and Where (3W)- October 2022.xlsx ...
Loading csv file /content/drive/MyDrive/Somalia/wfp_food_prices_som.csv
Loading csv file /content/drive/MyDrive/Somalia/Somalia Monthly FEWS NET Staple Food Price.csv
Leading /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia - Health Facilities.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia Violent and Threatening Incidents Against Healthcare_2020.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia - IPC Analysis 2017-2022.xlsx ...
Leading /content/drive/MyDrive/Somalia/2021-post-gu-amn-burden-and-prevalence-9-sep-2021.xlsx ...
Leading /content/drive/MyDrive/Somalia/population-15.7_final.xlsx ...
Leading /content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx ...
Loading csv file /content/drive/MyDrive/Somalia/som_pplp_adm2_v2.csv
Leading /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2019.xlsx ...
Leading /content/drive/MyDrive/Somalia/somalia_pin_2021.xlsx ...
Leading /content/drive/MyDrive/Somalia/combined_cluster_pin_hxl.xlsx ...
Leading /content/drive/MyDrive/Somalia/Humanitarian Needs Overview-2022-refugees-and-returnees.xlsx ...
Loading csv file /content/drive/MyDrive/Somalia/fts_requirements_funding_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_requirements_funding_covid_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_requirements_funding_cluster_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_requirements_funding_globalcluster_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_incoming_funding_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_internal_funding_som.csv
Leading /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx ...
Done
Leading /content/drive/MyDrive/Somalia/Somalia - Who is Doing What and Where (3W)- October 2022.xlsx ...
Loading csv file /content/drive/MyDrive/Somalia/wfp_food_prices_som.csv
Loading csv file /content/drive/MyDrive/Somalia/Somalia Monthly FEWS NET Staple Food Price.csv
Leading /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia - Health Facilities.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia Violent and Threatening Incidents Against Healthcare_2020.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia - IPC Analysis 2017-2022.xlsx ...
Leading /content/drive/MyDrive/Somalia/2021-post-gu-amn-burden-and-prevalence-9-sep-2021.xlsx ...
Leading /content/drive/MyDrive/Somalia/population-15.7_final.xlsx ...
Leading /content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx ...
Loading csv file /content/drive/MyDrive/Somalia/som_pplp_adm2_v2.csv
Leading /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2019.xlsx ...
Leading /content/drive/MyDrive/Somalia/somalia_pin_2021.xlsx ...
Leading /content/drive/MyDrive/Somalia/combined_cluster_pin_hxl.xlsx ...
Leading /content/drive/MyDrive/Somalia/Humanitarian Needs Overview-2022-refugees-and-returnees.xlsx ...
Loading csv file /content/drive/MyDrive/Somalia/fts_requirements_funding_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_requirements_funding_covid_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_requirements_funding_cluster_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_requirements_funding_globalcluster_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_incoming_funding_som.csv
Loading csv file /content/drive/MyDrive/Somalia/fts_internal_funding_som.csv
Leading /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx ...
Leading /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx ...
Done
Done

In [138]:
op_meta_data = create_meta_data(dfs, meta_data)
display(op_meta_data)

/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= LIST
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= FOR IMPORT
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET=  food import
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= Org Lookup
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= ABBREV
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= Pivot
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= County - Abbrev
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= Sheet2
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= wash
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= shelter
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= protection
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= nutrition
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= health
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= governance
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= emergency
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= food
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= edu
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= drr
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= Table
/content/drive/MyDrive/Kenya/Kenya - IPC Analysis 2017-2022.xlsx - SHEET= IPC
/content/drive/MyDrive/Kenya/wfp_food_prices_ken.csv
/content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2017-per-kg.xlsx - SHEET= Sheet1
/content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2018-per-kg.xlsx - SHEET= Prices for Dry Beans, 2018
/content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2019-per-kg.xlsx - SHEET= Prices for Dry Beans, 2019
/content/drive/MyDrive/Kenya/value-of-recorded-marketed-agricultural-production-at-current-prices-2014-2018.xlsx - SHEET= Sheet1
/content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - SHEET= ken_admpop_ADM0_2019
/content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - SHEET= ken_admpop_ADM1_2019
/content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - SHEET= ken_admpop_ADM2_2019
/content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - SHEET= Metadata
/content/drive/MyDrive/Kenya/dbo-foodconsumptionscores.csv
/content/drive/MyDrive/Kenya/per-capita-food-consumption-2017-and-2018.xlsx - SHEET= Sheet1
/content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - SHEET= Admin2
/content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - SHEET= Admin1
/content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - SHEET= Admin0
/content/drive/MyDrive/Kenya/ken_admpop_adm0_2019.csv
/content/drive/MyDrive/Kenya/ken_admpop_adm1_2019.csv
/content/drive/MyDrive/Kenya/health_ken.csv
/content/drive/MyDrive/Kenya/fts_incoming_funding_ken.csv
/content/drive/MyDrive/Kenya/fts_requirements_funding_globalcluster_ken.csv
/content/drive/MyDrive/Kenya/fts_requirements_funding_cluster_ken.csv
/content/drive/MyDrive/Kenya/fts_requirements_funding_covid_ken.csv
/content/drive/MyDrive/Kenya/fts_requirements_funding_ken.csv
/content/drive/MyDrive/Kenya/kenya-health-facilities-2017_08_02.xlsx - SHEET= Sheet1
/content/drive/MyDrive/Kenya/Data metadata - Sheet1.csv
/content/drive/MyDrive/Somalia/Somalia - Who is Doing What and Where (3W)- October 2022.xlsx - SHEET= 3W_Data
/content/drive/MyDrive/Somalia/wfp_food_prices_som.csv
/content/drive/MyDrive/Somalia/Somalia Monthly FEWS NET Staple Food Price.csv
/content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= Data
/content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= Analysis
/content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= InterCluster Map
/content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= Cluster Map
/content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= Pivot
/content/drive/MyDrive/Somalia/Somalia - Health Facilities.xlsx - SHEET= HFs Data
/content/drive/MyDrive/Somalia/Somalia Violent and Threatening Incidents Against Healthcare_2020.xlsx - SHEET= 2020 Somalia SHCC Incident
/content/drive/MyDrive/Somalia/Somalia Violent and Threatening Incidents Against Healthcare_2020.xlsx - SHEET= MetaData&Notes
/content/drive/MyDrive/Somalia/Somalia - IPC Analysis 2017-2022.xlsx - SHEET= IPC
/content/drive/MyDrive/Somalia/2021-post-gu-amn-burden-and-prevalence-9-sep-2021.xlsx - SHEET= Burden
/content/drive/MyDrive/Somalia/2021-post-gu-amn-burden-and-prevalence-9-sep-2021.xlsx - SHEET= Prevalence
/content/drive/MyDrive/Somalia/population-15.7_final.xlsx - SHEET= Sheet1
/content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx - SHEET= Region Population Statistics
/content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx - SHEET= District Population Statistics
/content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx - SHEET= Metadata
/content/drive/MyDrive/Somalia/som_pplp_adm2_v2.csv
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx - SHEET= 2018_Somalia_HNO Per sector
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx - SHEET= per region
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx - SHEET= Humanitarian needs (IPC)
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx - SHEET= Sheet1
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2019.xlsx - SHEET= 2019_Somalia_HNO Per sector
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2019.xlsx - SHEET= per region
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2019.xlsx - SHEET= Sheet1
/content/drive/MyDrive/Somalia/somalia_pin_2021.xlsx - SHEET= All clusters
/content/drive/MyDrive/Somalia/combined_cluster_pin_hxl.xlsx - SHEET= All PiN
/content/drive/MyDrive/Somalia/combined_cluster_pin_hxl.xlsx - SHEET= Summary PiN
/content/drive/MyDrive/Somalia/Humanitarian Needs Overview-2022-refugees-and-returnees.xlsx - SHEET= Refugees
/content/drive/MyDrive/Somalia/Humanitarian Needs Overview-2022-refugees-and-returnees.xlsx - SHEET= Returnees
/content/drive/MyDrive/Somalia/fts_requirements_funding_som.csv
/content/drive/MyDrive/Somalia/fts_requirements_funding_covid_som.csv
/content/drive/MyDrive/Somalia/fts_requirements_funding_cluster_som.csv
/content/drive/MyDrive/Somalia/fts_requirements_funding_globalcluster_som.csv
/content/drive/MyDrive/Somalia/fts_incoming_funding_som.csv
/content/drive/MyDrive/Somalia/fts_internal_funding_som.csv
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= methodology
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= SUMMARY
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPDistrictWorkings
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= DisaggByRegion
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= DisaggJMCNAunpivotted
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= DisaggCompareTo2018
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= DisaggSubstituteRegions
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPUrban
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPTriangulation1
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPTriangulation2
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POP_PTWG_IPE
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPGHSL_Urban_triangulation
/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= IDPestimates
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= PIN Analysis
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= PIN-PT Analysis
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= Rounded up Summary
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= LivingStandards-Dissagregated
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= Non-displaced
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= Displaced
/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= Scoring table

                                                     0
0    0       kenya-3w-final-list-2017.xlsx\n1      ...
1    0     kenya-3w-final-list-2017.xlsx\n1     ken...
2    0     kenya-3w-final-list-2017.xlsx\n1     ken...
3    0     kenya-3w-final-list-2017.xlsx\n1     ken...
4    0     kenya-3w-final-list-2017.xlsx\n1     ken...
..                                                 ...
96   0     Somalia-Humanitarian Needs Overview-2020...
97   0     Somalia-Humanitarian Needs Overview-2020...
98   0     Somalia-Humanitarian Needs Overview-2020...
99   0     Somalia-Humanitarian Needs Overview-2020...
100  0      Somalia-Humanitarian Needs Overview-202...

[101 rows x 1 columns]

In [109]:
output_data_summaries(dfs, meta_data)
display(op_meta_data)

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= LIST
Country: 0       Kenya
1       Kenya
2       Kenya
3       Kenya
4       Kenya
        ...
1003    Kenya
1004    Kenya
1005    Kenya
1006    Kenya
1007    Kenya
Name: country, Length: 1008, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= LIST > Size: (1008, 8)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,COUNTY,NAME,TYPE,ABBREV,SECTOR,file,sheet,country
0,Bungoma,United Nations Childrens Fund,UN,UNICEF,Health,kenya-3w-final-list-2017.xlsx,LIST,Kenya
1,Bungoma,United Nations Childrens Fund,UN,UNICEF,Education,kenya-3w-final-list-2017.xlsx,LIST,Kenya
2,Bungoma,United Nations Childrens Fund,UN,UNICEF,Nutrition,kenya-3w-final-list-2017.xlsx,LIST,Kenya
3,Bungoma,United Nations Childrens Fund,UN,UNICEF,Protection,kenya-3w-final-list-2017.xlsx,LIST,Kenya
4,Bungoma,United Nations Childrens Fund,UN,UNICEF,Emergency Response,kenya-3w-final-list-2017.xlsx,LIST,Kenya
...,...,...,...,...,...,...,...,...
1003,Tharaka - Nithi,World Food Programme,UN,WFP,Education,kenya-3w-final-list-2017.xlsx,LIST,Kenya
1004,Embu,World Food Programme,UN,WFP,Education,kenya-3w-final-list-2017.xlsx,LIST,Kenya
1005,Isiolo,World Food Programme,UN,WFP,Emergency Response,kenya-3w-final-list-2017.xlsx,LIST,Kenya
1006,Samburu,World Food Programme,UN,WFP,Nutrition,kenya-3w-final-list-2017.xlsx,LIST,Kenya
1007,Isiolo,World Food Programme,UN,WFP,Nutrition,kenya-3w-final-list-2017.xlsx,LIST,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= FOR IMPORT
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
23    Kenya
24    Kenya
25    Kenya
26    Kenya
27    Kenya
28    Kenya
29    Kenya
30    Kenya
31    Kenya
32    Kenya
33    Kenya
34    Kenya
35    Kenya
36    Kenya
37    Kenya
38    Kenya
39    Kenya
40    Kenya
41    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= FOR IMPORT > Size: (42, 17)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,COUNTY,COUNTY.1,DRR,Education,Emergency,Food,Governance,Health,logistics,Nutrition,Protection,Shelter,WaSH,Total,file,sheet,country
0,Baringo,BARINGO,1.0,2.0,1.0,1.0,NaN,1.0,NaN,NaN,2.0,1.0,2.0,5,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
1,Bomet,BOMET,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
2,Bungoma,BUNGOMA,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,2,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
3,Busia,BUSIA,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
4,Elgeyo-Marakwet,ELGEYO-MARAKWET,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,2.0,NaN,1.0,3,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
5,Embu,EMBU,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
6,Garissa,GARISSA,1.0,3.0,3.0,3.0,1.0,18.0,NaN,NaN,2.0,18.0,20.0,24,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
7,Homa Bay,HOMA BAY,1.0,1.0,3.0,1.0,1.0,1.0,NaN,NaN,2.0,1.0,2.0,4,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
8,Isiolo,ISIOLO,1.0,6.0,NaN,8.0,2.0,6.0,NaN,6.0,1.0,8.0,NaN,10,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
9,Kajiado,KAJIADO,NaN,2.0,1.0,1.0,NaN,1.0,NaN,NaN,2.0,NaN,2.0,3,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
10,Kakamega,KAKAMEGA,NaN,1.0,NaN,NaN,NaN,2.0,NaN,1.0,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
11,Kericho,KERICHO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
12,Kiambu,KIAMBU,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
13,Kilifi,KILIFI,1.0,2.0,2.0,1.0,1.0,1.0,NaN,NaN,2.0,1.0,2.0,3,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
14,Kisumu,KISUMU,1.0,1.0,2.0,1.0,2.0,NaN,NaN,NaN,2.0,1.0,1.0,3,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
15,Kitui,KITUI,1.0,NaN,1.0,2.0,NaN,1.0,NaN,1.0,1.0,NaN,2.0,4,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
16,Kwale,KWALE,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,3,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
17,Lamu,LAMU,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
18,Machakos,MACHAKOS,1.0,1.0,2.0,NaN,2.0,NaN,NaN,NaN,1.0,1.0,1.0,3,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
19,Makueni,MAKUENI,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
20,Mandera,MANDERA,NaN,3.0,1.0,3.0,NaN,3.0,NaN,3.0,1.0,5.0,4.0,7,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
21,Marsabit,MARSABIT,2.0,10.0,2.0,11.0,1.0,9.0,NaN,9.0,3.0,8.0,10.0,14,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
22,Meru,MERU,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
23,Migori,MIGORI,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
24,Mombasa,MOMBASA,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,3,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
25,Nairobi,NAIROBI,NaN,2.0,1.0,1.0,7.0,3.0,NaN,NaN,3.0,1.0,2.0,13,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
26,Nakuru,NAKURU,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,NaN,2.0,3,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
27,Nandi,NANDI,NaN,1.0,1.0,1.0,NaN,1.0,NaN,NaN,2.0,NaN,1.0,3,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
28,Narok,NAROK,NaN,2.0,1.0,2.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,4,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
29,Nyamira,NYAMIRA,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
30,Nyandarua,NYANDARUA,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
31,Nyeri,NYERI,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
32,Samburu,SAMBURU,NaN,3.0,NaN,2.0,NaN,NaN,NaN,NaN,1.0,1.0,2.0,5,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
33,Siaya,SIAYA,2.0,2.0,2.0,1.0,1.0,1.0,NaN,NaN,3.0,1.0,1.0,4,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
34,Taita Taveta,TAITA TAVETA,NaN,1.0,1.0,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,2,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
35,Tana River,TANA RIVER,NaN,5.0,1.0,6.0,NaN,NaN,NaN,5.0,NaN,5.0,5.0,7,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
36,Tharaka - Nithi,THARAKA - NITHI,2.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,2.0,2,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
37,Trans Nzoia,TRANS NZOIA,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
38,Turkana,TURKANA,19.0,4.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0,2.0,5.0,22,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
39,Uasin Gishu,UASIN GISHU,NaN,NaN,2.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,4,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
40,Wajir,WAJIR,1.0,6.0,2.0,8.0,2.0,7.0,NaN,NaN,2.0,7.0,8.0,11,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya
41,West Pokot,WEST POKOT,NaN,1.0,1.0,NaN,1.0,2.0,NaN,1.0,1.0,NaN,1.0,3,kenya-3w-final-list-2017.xlsx,FOR IMPORT,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET=  food import
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
23    Kenya
24    Kenya
25    Kenya
26    Kenya
27    Kenya
28    Kenya
29    Kenya
30    Kenya
31    Kenya
32    Kenya
33    Kenya
34    Kenya
35    Kenya
36    Kenya
37    Kenya
38    Kenya
39    Kenya
40    Kenya
41    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET=  food import > Size: (42, 6)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,COUNTY,COUNTY.1,Food,file,sheet,country
0,Baringo,BARINGO,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
1,Bomet,BOMET,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
2,Bungoma,BUNGOMA,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
3,Busia,BUSIA,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
4,Elgeyo-Marakwet,ELGEYO-MARAKWET,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
5,Embu,EMBU,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
6,Garissa,GARISSA,3.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
7,Homa Bay,HOMA BAY,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
8,Isiolo,ISIOLO,8.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
9,Kajiado,KAJIADO,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
10,Kakamega,KAKAMEGA,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
11,Kericho,KERICHO,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
12,Kiambu,KIAMBU,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
13,Kilifi,KILIFI,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
14,Kisumu,KISUMU,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
15,Kitui,KITUI,2.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
16,Kwale,KWALE,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
17,Lamu,LAMU,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
18,Machakos,MACHAKOS,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
19,Makueni,MAKUENI,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
20,Mandera,MANDERA,3.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
21,Marsabit,MARSABIT,11.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
22,Meru,MERU,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
23,Migori,MIGORI,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
24,Mombasa,MOMBASA,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
25,Nairobi,NAIROBI,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
26,Nakuru,NAKURU,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
27,Nandi,NANDI,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
28,Narok,NAROK,2.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
29,Nyamira,NYAMIRA,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
30,Nyandarua,NYANDARUA,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
31,Nyeri,NYERI,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
32,Samburu,SAMBURU,2.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
33,Siaya,SIAYA,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
34,Taita Taveta,TAITA TAVETA,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
35,Tana River,TANA RIVER,6.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
36,Tharaka - Nithi,THARAKA - NITHI,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
37,Trans Nzoia,TRANS NZOIA,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya
38,Turkana,TURKANA,4.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
39,Uasin Gishu,UASIN GISHU,1.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
40,Wajir,WAJIR,8.0,kenya-3w-final-list-2017.xlsx,food import,Kenya
41,West Pokot,WEST POKOT,NaN,kenya-3w-final-list-2017.xlsx,food import,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= Org Lookup
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
      ...
60    Kenya
61    Kenya
62    Kenya
63    Kenya
64    Kenya
Name: country, Length: 65, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= Org Lookup > Size: (65, 10)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Organization,Abbrev,Type,Unnamed: 3,Organization.1,Abbrev.1,Type.1,file,sheet,country
0,Action Against Hunger,ACF,INGO,NaN,Medecins Sans Frontieres,MSF,INGO,kenya-3w-final-list-2017.xlsx,Org Lookup,Kenya
1,Action Aid Kenya,AAK,INGO,NaN,Mercy-USA,Mercy-USA,INGO,kenya-3w-final-list-2017.xlsx,Org Lookup,Kenya
2,Africa Development Solutions,ADESO,INGO,NaN,Northerm Water Service Board,NWSB,Gov,kenya-3w-final-list-2017.xlsx,Org Lookup,Kenya
3,Agency for Technical Cooperation and Development,ACTED,INGO,NaN,Nowregian Refugee Council,NRC,INGO,kenya-3w-final-list-2017.xlsx,Org Lookup,Kenya
4,Aldef Kenya,AK,INGO,NaN,OXFAM,OXFAM,INGO,kenya-3w-final-list-2017.xlsx,Org Lookup,Kenya
...,...,...,...,...,...,...,...,...,...,...
60,Waso Development Resource Agency,WARDA,NGO,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx,Org Lookup,Kenya
61,Women kind Worldwide,WKW,INGO,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx,Org Lookup,Kenya
62,World Food Programme,WFP,UN,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx,Org Lookup,Kenya
63,World Health Organization,WHO,UN,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx,Org Lookup,Kenya
64,World Vision International,WVI,INGO,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx,Org Lookup,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= ABBREV
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
23    Kenya
24    Kenya
25    Kenya
26    Kenya
27    Kenya
28    Kenya
29    Kenya
30    Kenya
31    Kenya
32    Kenya
33    Kenya
34    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= ABBREV > Size: (35, 6)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Name,Abbred,Type,file,sheet,country
0,Action Against Hunger,ACF,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
1,Agency for Technical Cooperation and Development,ACTED,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
2,ADESO,ADESO,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
3,Africa Development Solutions,ADESO,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
4,TendeAVSI,AVSI,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
5,CHILD FUND,CHILD FUND,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
6,Catholic Organization for Relief and developme...,CORDAID,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
7,Catholic Diocese of Lodwar,DOL,NGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
8,Food and Agriculture Organization,FAO,UN,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
9,FilmAid,FilmAid,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
10,HelpAge International,HelpAge,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
11,International Labour Organization,ILO,UN,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
12,International Organization for Migration,IOM,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
13,Kenya Red Cross,KRC,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
14,Kenya Red Cross,KRCS,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
15,Kenya Red Cross Society,KRCS,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
16,Lay Volunteers International Association,LVIA,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
17,Norweigian Refugee Council,NRC,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
18,OXFAM,OXFAM,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
19,Plan International,Plan,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
20,Samaritan's Purse,SP,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
21,Trocaire,Trocaire,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
22,UN Women,UN Women,UN,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
23,United Nations Development Programme,UNDP,UN,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
24,"United Nations Educational, Scientific and Cul...",UNESCO,UN,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
25,United Nations High Commission for Refugees,UNHCR,UN,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
26,United Nations Childrens Fund,UNICEF,UN,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
27,United Nations Office for Project Services,UNOPS,UN,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
28,UN Women,UNWomen,UN,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
29,US African Development Foundation,US- ADF,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
30,World Food Programme,WFP,UN,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
31,World Health Organization,WHO,UN,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
32,World Vision,WVI,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
33,World Vision Kenya,WVI,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya
34,World Vision International,WVI,INGO,kenya-3w-final-list-2017.xlsx,ABBREV,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= Pivot
Country: 0    Kenya
1    Kenya
2    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= Pivot > Size: (3, 4)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

        Unnamed: 0                           file  sheet country
0              NaN  kenya-3w-final-list-2017.xlsx  Pivot   Kenya
1  Count of COUNTY  kenya-3w-final-list-2017.xlsx  Pivot   Kenya
2              572  kenya-3w-final-list-2017.xlsx  Pivot   Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= County - Abbrev
Country: 0      Kenya
1      Kenya
2      Kenya
3      Kenya
4      Kenya
       ...
112    Kenya
113    Kenya
114    Kenya
115    Kenya
116    Kenya
Name: country, Length: 117, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= County - Abbrev > Size: (117, 4)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Baringo,file,sheet,country
0,"ACTED, AVSI, KRCS, Trocaire, WVI",kenya-3w-final-list-2017.xlsx,County - Abbrev,Kenya
1,NaN,kenya-3w-final-list-2017.xlsx,County - Abbrev,Kenya
2,"Bomet, Busia",kenya-3w-final-list-2017.xlsx,County - Abbrev,Kenya
3,"KRCS, WVI",kenya-3w-final-list-2017.xlsx,County - Abbrev,Kenya
4,NaN,kenya-3w-final-list-2017.xlsx,County - Abbrev,Kenya
...,...,...,...,...
112,"ACF, ADESO, AK, GirlKind, HelpAge, IOM, IRF, K...",kenya-3w-final-list-2017.xlsx,County - Abbrev,Kenya
113,NaN,kenya-3w-final-list-2017.xlsx,County - Abbrev,Kenya
114,NaN,kenya-3w-final-list-2017.xlsx,County - Abbrev,Kenya
115,West Pokot,kenya-3w-final-list-2017.xlsx,County - Abbrev,Kenya
116,"ACF, KRCS, WVI",kenya-3w-final-list-2017.xlsx,County - Abbrev,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= Sheet2
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
      ...
58    Kenya
59    Kenya
60    Kenya
61    Kenya
62    Kenya
Name: country, Length: 63, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= Sheet2 > Size: (63, 4)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

        Unnamed: 0                           file   sheet country
0              NaN  kenya-3w-final-list-2017.xlsx  Sheet2   Kenya
1              NaN  kenya-3w-final-list-2017.xlsx  Sheet2   Kenya
2          Bungoma  kenya-3w-final-list-2017.xlsx  Sheet2   Kenya
3        ACF, KRCS  kenya-3w-final-list-2017.xlsx  Sheet2   Kenya
4              NaN  kenya-3w-final-list-2017.xlsx  Sheet2   Kenya
..             ...                            ...     ...     ...
58             NaN  kenya-3w-final-list-2017.xlsx  Sheet2   Kenya
59             NaN  kenya-3w-final-list-2017.xlsx  Sheet2   Kenya
60             NaN  kenya-3w-final-list-2017.xlsx  Sheet2   Kenya
61      West Pokot  kenya-3w-final-list-2017.xlsx  Sheet2   Kenya
62  ACF, KRCS, WVI  kenya-3w-final-list-2017.xlsx  Sheet2   Kenya

[63 rows x 4 columns]

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= wash
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
23    Kenya
24    Kenya
25    Kenya
26    Kenya
27    Kenya
28    Kenya
29    Kenya
30    Kenya
31    Kenya
32    Kenya
33    Kenya
34    Kenya
35    Kenya
36    Kenya
37    Kenya
38    Kenya
39    Kenya
40    Kenya
41    Kenya
42    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= wash > Size: (43, 15)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,County,Total Organizations,DRR/DRM,Education,Emergency Response,Food Security/Livelihoods,Governance,Health,Nutrition,Protection,Shelter & NFI,WaSH,file,sheet,country
0,Baringo,5.0,WVI,"AVSI, WVI",KRCS,Trocaire,NaN,WVI,NaN,"AVSI, WVI",ACTED,"ACTED, WVI",kenya-3w-final-list-2017.xlsx,wash,Kenya
1,Bomet,2.0,NaN,NaN,KRCS,NaN,NaN,NaN,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx,wash,Kenya
2,Bungoma,2.0,NaN,NaN,KRCS,NaN,NaN,NaN,ACF,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx,wash,Kenya
3,Busia,2.0,NaN,WVI,KRCS,NaN,WVI,WVI,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx,wash,Kenya
4,Elgeyo Marakwet,3.0,NaN,AVSI,KRCS,NaN,NaN,WVI,NaN,"AVSI, WVI",NaN,WVI,kenya-3w-final-list-2017.xlsx,wash,Kenya
5,Embu,1.0,Trocaire,NaN,NaN,Trocaire,NaN,NaN,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx,wash,Kenya
6,Garissa,24.0,ADESO,"AVSI, FilmAid, WVI","FilmAid, IOM, KRCS","ADESO, FilmAid, WVI",NaN,"ACF, ASPECT, CARE, FaiDa, FilmAid, GCN, IRDO, ...",NaN,"AVSI, FilmAid","ACF, ASPECT, CARE, FaiDa, GCN, IRDO, Mercy-USA...","ACF, ADESO, ASPECT, CARE, FaiDa, FilmAid, GCN,...",kenya-3w-final-list-2017.xlsx,wash,Kenya
7,Homa Bay,4.0,PLAN,PLAN,"KRCS, MSF, PLAN",WVI,PLAN,WVI,NaN,"PLAN, WVI",PLAN,"PLAN, WVI",kenya-3w-final-list-2017.xlsx,wash,Kenya
8,Isiolo,10.0,ADESO,"AAK, ACF, DPHO, FHK, KRCS, WVI",NaN,"AAK, ACF, ADESO, DPHO, FHK, KRCS, LVIA, WVI","ADESO, CORDAID","AAK, ACF, DPHO, FHK, KRCS, WVI","AAK, ACF, DPHO, FHK, KRCS, WVI",WVI,"AAK, ACF, ADESO, DPHO, FHK, KRCS, NRC, WVI",NaN,kenya-3w-final-list-2017.xlsx,wash,Kenya
9,Kajiado,3.0,NaN,"AVSI, WVI",KRCS,NaN,NaN,WVI,NaN,"AVSI, WVI",NaN,"AVSI, WVI",kenya-3w-final-list-2017.xlsx,wash,Kenya
10,Kakamega,2.0,NaN,WVI,NaN,NaN,NaN,"ACF, WVI",ACF,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx,wash,Kenya
11,Kericho,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS,kenya-3w-final-list-2017.xlsx,wash,Kenya
12,Kiambu,1.0,NaN,AVSI,NaN,NaN,NaN,NaN,NaN,AVSI,NaN,NaN,kenya-3w-final-list-2017.xlsx,wash,Kenya
13,Kilifi,3.0,PLAN,"PLAN, WVI","KRCS, PLAN",NaN,PLAN,WVI,NaN,"PLAN, WVI",PLAN,"PLAN, WVI",kenya-3w-final-list-2017.xlsx,wash,Kenya
14,Kisumu,3.0,PLAN,PLAN,"KRCS, PLAN",NaN,"PLAN, WVI",NaN,NaN,"PLAN, WVI",PLAN,PLAN,kenya-3w-final-list-2017.xlsx,wash,Kenya
15,Kitui,4.0,Trocaire,NaN,KRCS,NaN,NaN,WVI,WVI,WVI,NaN,"SP, WVI",kenya-3w-final-list-2017.xlsx,wash,Kenya
16,Kwale,3.0,PLAN,PLAN,"KRCS, PLAN",NaN,PLAN,NaN,NaN,PLAN,PLAN,PLAN,kenya-3w-final-list-2017.xlsx,wash,Kenya
17,Lamu,2.0,NaN,WVI,KRCS,NaN,WVI,NaN,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx,wash,Kenya
18,Machakos,3.0,PLAN,PLAN,"KRCS, PLAN",NaN,"PLAN, WVI",NaN,NaN,PLAN,PLAN,PLAN,kenya-3w-final-list-2017.xlsx,wash,Kenya
19,Makueni,1.0,NaN,NaN,NaN,NaN,NaN,WVI,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx,wash,Kenya
20,Mandera,7.0,NaN,"FHK, IRF, SC",KRCS,NaN,NaN,"FHK, IRF, SC","FHK, IRF, SC",HelpAge,"ACTED, FHK, IRF, NRC, SC","ACTED, FHK, IRF, SC",kenya-3w-final-list-2017.xlsx,wash,Kenya
21,Marsabit,14.0,"ADESO, VSF-G","ADESO, CIFA, CONCERN, CWSK, FHK, Goal Kenya, H...","IOM, KRCS",NaN,ADESO,"CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PA...","CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PA...","HelpAge, PACIDA, WVI","CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PI...","ADESO, CIFA, CONCERN, CWSK, FHK, Goal Kenya, H...",kenya-3w-final-list-2017.xlsx,wash,Kenya
22,Meru,1.0,NaN,AVSI,NaN,NaN,NaN,NaN,NaN,AVSI,NaN,NaN,kenya-3w-final-list-2017.xlsx,wash,Kenya
23,Migori,2.0,NaN,WVI,KRCS,NaN,WVI,WVI,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx,wash,Kenya
24,Mombasa,3.0,NaN,NaN,KRCS,NaN,WVI,NaN,NaN,NaN,NaN,SP,kenya-3w-final-list-2017.xlsx,wash,Kenya
25,Nairobi,13.0,NaN,NaN,KRCS,NaN,"HelpAge, IOM, NRC, SP, Trocaire, UNICEF, WVI","MSF, UNHCR, WVI",NaN,"AVSI, FilmAid, WVI",UNHCR,"ACF, UNHCR",kenya-3w-final-list-2017.xlsx,wash,Kenya
26,Nakuru,3.0,NaN,NaN,KRCS,WVI,NaN,WVI,NaN,WVI,NaN,"ACF, WVI",kenya-3w-final-list-2017.xlsx,wash,Kenya
27,Nandi,3.0,NaN,AVSI,KRCS,NaN,NaN,WVI,NaN,"AVSI, WVI",NaN,WVI,kenya-3w-final-list-2017.xlsx,wash,Kenya
28,Narok,4.0,NaN,NaN,KRCS,"AVSI, VSF-G",WVI,WVI,NaN,"AVSI, WVI",NaN,NaN,kenya-3w-final-list-2017.xlsx,wash,Kenya
29,Nyamira,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WVI,NaN,NaN,kenya-3w-final-list-2017.xlsx,wash,Kenya
30,Nyandarua,2.0,NaN,NaN,KRCS,NaN,NaN,NaN,NaN,AVSI,NaN,NaN,kenya-3w-final-list-2017.xlsx,wash,Kenya
31,Nyeri,2.0,NaN,WVI,KRCS,NaN,WVI,NaN,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx,wash,Kenya
32,Samburu,5.0,NaN,NaN,NaN,"Ramati, WVI",NaN,NaN,NaN,WVI,ACTED,"ACTED, WVI",kenya-3w-final-list-2017.xlsx,wash,Kenya
33,Siaya,4.0,"PLAN, WVI","AVSI, PLAN","KRCS, PLAN",NaN,PLAN,WVI,NaN,"AVSI, PLAN, WVI",PLAN,PLAN,kenya-3w-final-list-2017.xlsx,wash,Kenya
34,Taita Taveta,2.0,NaN,NaN,KRCS,WVI,NaN,NaN,NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx,wash,Kenya
35,Tana River,7.0,NaN,NaN,KRCS,NaN,NaN,WVI,NaN,NaN,"ACF, CPHO, GAA, IMC, WVI","ACF, CPHO, GAA, IMC, WVI",kenya-3w-final-list-2017.xlsx,wash,Kenya
36,Tharaka Nithi,2.0,"PLAN, Trocaire",PLAN,PLAN,NaN,PLAN,NaN,NaN,PLAN,PLAN,"PLAN, Trocaire",kenya-3w-final-list-2017.xlsx,wash,Kenya
37,Trans Nzoia,1.0,NaN,NaN,KRCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx,wash,Kenya
38,Turkana,22.0,"ADESO, CF, DOL, FAO, ILO, KRCS, OXFAM, Trocair...",NaN,"FilmAid, IOM, KRCS","ADESO, FilmAid, VSF-G, WVI","ADESO, Trocaire","FilmAid, UNHCR",NaN,"FilmAid, WVI","NRC, UNHCR","ADESO, FilmAid, UNHCR, UNICEF, WVI",kenya-3w-final-list-2017.xlsx,wash,Kenya
39,Uasin Gishu,4.0,NaN,NaN,"IOM, KRCS",NaN,WVI,NaN,NaN,WVI,NaN,NaN,kenya-3w-final-list-2017.xlsx,wash,Kenya
40,Wajir,11.0,NaN,"AK, GirlKind, IRF, KRCS, SC, WASDA","IOM, KRCS",NaN,"ADESO, WVI","ACF, AK, GirlKind, IRF, KRCS, SC, WASDA",NaN,"HelpAge, WVI","AK, GirlKind, IRF, KRCS, SC, WASDA, WVI","ADESO, AK, GirlKind, IRF, KRCS, SC, WASDA, WVI",kenya-3w-final-list-2017.xlsx,wash,Kenya
41,West Pokot,3.0,NaN,NaN,KRCS,NaN,WVI,"ACF, WVI",NaN,WVI,NaN,WVI,kenya-3w-final-list-2017.xlsx,wash,Kenya
42,Total,NaN,20,29,29,29,10,35,18,6,38,42,kenya-3w-final-list-2017.xlsx,wash,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= shelter
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= shelter > Size: (17, 5)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,file,sheet,country
0,Baringo,ACTED,kenya-3w-final-list-2017.xlsx,shelter,Kenya
1,Garissa,"ACF, ASPECT, CARE, FaiDa, GCN, IRDO, Mercy-USA...",kenya-3w-final-list-2017.xlsx,shelter,Kenya
2,Homa Bay,PLAN,kenya-3w-final-list-2017.xlsx,shelter,Kenya
3,Isiolo,"AAK, ACF, ADESO, DPHO, FHK, KRCS, NRC, WVI",kenya-3w-final-list-2017.xlsx,shelter,Kenya
4,Kilifi,PLAN,kenya-3w-final-list-2017.xlsx,shelter,Kenya
5,Kisumu,PLAN,kenya-3w-final-list-2017.xlsx,shelter,Kenya
6,Kwale,PLAN,kenya-3w-final-list-2017.xlsx,shelter,Kenya
7,Machakos,PLAN,kenya-3w-final-list-2017.xlsx,shelter,Kenya
8,Mandera,"ACTED, FHK, IRF, NRC, SC",kenya-3w-final-list-2017.xlsx,shelter,Kenya
9,Marsabit,"CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PI...",kenya-3w-final-list-2017.xlsx,shelter,Kenya
10,Nairobi,UNHCR,kenya-3w-final-list-2017.xlsx,shelter,Kenya
11,Samburu,ACTED,kenya-3w-final-list-2017.xlsx,shelter,Kenya
12,Siaya,PLAN,kenya-3w-final-list-2017.xlsx,shelter,Kenya
13,Tana River,"ACF, CPHO, GAA, IMC, WVI",kenya-3w-final-list-2017.xlsx,shelter,Kenya
14,Tharaka Nithi,PLAN,kenya-3w-final-list-2017.xlsx,shelter,Kenya
15,Turkana,"NRC, UNHCR",kenya-3w-final-list-2017.xlsx,shelter,Kenya
16,Wajir,"AK, GirlKind, IRF, KRCS, SC, WASDA, WVI",kenya-3w-final-list-2017.xlsx,shelter,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= protection
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
23    Kenya
24    Kenya
25    Kenya
26    Kenya
27    Kenya
28    Kenya
29    Kenya
30    Kenya
31    Kenya
32    Kenya
33    Kenya
34    Kenya
35    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= protection > Size: (36, 5)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,file,sheet,country
0,Baringo,"AVSI, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
1,Bomet,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
2,Busia,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
3,Elgeyo Marakwet,"AVSI, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
4,Garissa,"AVSI, FilmAid",kenya-3w-final-list-2017.xlsx,protection,Kenya
5,Homa Bay,"PLAN, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
6,Isiolo,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
7,Kajiado,"AVSI, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
8,Kakamega,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
9,Kiambu,AVSI,kenya-3w-final-list-2017.xlsx,protection,Kenya
10,Kilifi,"PLAN, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
11,Kisumu,"PLAN, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
12,Kitui,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
13,Kwale,PLAN,kenya-3w-final-list-2017.xlsx,protection,Kenya
14,Lamu,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
15,Machakos,PLAN,kenya-3w-final-list-2017.xlsx,protection,Kenya
16,Makueni,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
17,Mandera,HelpAge,kenya-3w-final-list-2017.xlsx,protection,Kenya
18,Marsabit,"HelpAge, PACIDA, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
19,Meru,AVSI,kenya-3w-final-list-2017.xlsx,protection,Kenya
20,Migori,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
21,Nairobi,"AVSI, FilmAid, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
22,Nakuru,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
23,Nandi,"AVSI, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
24,Narok,"AVSI, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
25,Nyamira,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
26,Nyandarua,AVSI,kenya-3w-final-list-2017.xlsx,protection,Kenya
27,Nyeri,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
28,Samburu,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
29,Siaya,"AVSI, PLAN, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
30,Taita Taveta,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
31,Tharaka Nithi,PLAN,kenya-3w-final-list-2017.xlsx,protection,Kenya
32,Turkana,"FilmAid, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
33,Uasin Gishu,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya
34,Wajir,"HelpAge, WVI",kenya-3w-final-list-2017.xlsx,protection,Kenya
35,West Pokot,WVI,kenya-3w-final-list-2017.xlsx,protection,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= nutrition
Country: 0    Kenya
1    Kenya
2    Kenya
3    Kenya
4    Kenya
5    Kenya
6    Kenya
7    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= nutrition > Size: (8, 5)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,file,sheet,country
0,Bungoma,ACF,kenya-3w-final-list-2017.xlsx,nutrition,Kenya
1,Isiolo,"AAK, ACF, DPHO, FHK, KRCS, WVI",kenya-3w-final-list-2017.xlsx,nutrition,Kenya
2,Kakamega,ACF,kenya-3w-final-list-2017.xlsx,nutrition,Kenya
3,Kitui,WVI,kenya-3w-final-list-2017.xlsx,nutrition,Kenya
4,Mandera,"FHK, IRF, SC",kenya-3w-final-list-2017.xlsx,nutrition,Kenya
5,Marsabit,"CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PA...",kenya-3w-final-list-2017.xlsx,nutrition,Kenya
6,Tana River,"ACF, CPHO, GAA, IMC, WVI",kenya-3w-final-list-2017.xlsx,nutrition,Kenya
7,West Pokot,ACF,kenya-3w-final-list-2017.xlsx,nutrition,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= health
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
23    Kenya
24    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= health > Size: (25, 5)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,file,sheet,country
0,Baringo,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
1,Bungoma,ACF,kenya-3w-final-list-2017.xlsx,health,Kenya
2,Busia,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
3,Elgeyo Marakwet,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
4,Garissa,"ACF, ASPECT, CARE, FaiDa, FilmAid, GCN, IRDO, ...",kenya-3w-final-list-2017.xlsx,health,Kenya
5,Homa Bay,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
6,Isiolo,"AAK, ACF, DPHO, FHK, KRCS, WVI",kenya-3w-final-list-2017.xlsx,health,Kenya
7,Kajiado,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
8,Kakamega,"ACF, WVI",kenya-3w-final-list-2017.xlsx,health,Kenya
9,Kilifi,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
10,Kitui,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
11,Makueni,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
12,Mandera,"FHK, IRF, SC",kenya-3w-final-list-2017.xlsx,health,Kenya
13,Marsabit,"CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PA...",kenya-3w-final-list-2017.xlsx,health,Kenya
14,Meru,AVSI,kenya-3w-final-list-2017.xlsx,health,Kenya
15,Migori,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
16,Nairobi,"MSF, UNHCR, WVI",kenya-3w-final-list-2017.xlsx,health,Kenya
17,Nakuru,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
18,Nandi,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
19,Narok,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
20,Siaya,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
21,Taita Taveta,WVI,kenya-3w-final-list-2017.xlsx,health,Kenya
22,Turkana,"FilmAid, UNHCR",kenya-3w-final-list-2017.xlsx,health,Kenya
23,Wajir,"ACF, AK, GirlKind, IRF, KRCS, SC, WASDA",kenya-3w-final-list-2017.xlsx,health,Kenya
24,West Pokot,"ACF, WVI",kenya-3w-final-list-2017.xlsx,health,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= governance
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= governance > Size: (21, 5)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,file,sheet,country
0,Busia,WVI,kenya-3w-final-list-2017.xlsx,governance,Kenya
1,Garissa,ADESO,kenya-3w-final-list-2017.xlsx,governance,Kenya
2,Homa Bay,PLAN,kenya-3w-final-list-2017.xlsx,governance,Kenya
3,Isiolo,"ADESO, CORDAID",kenya-3w-final-list-2017.xlsx,governance,Kenya
4,Kilifi,PLAN,kenya-3w-final-list-2017.xlsx,governance,Kenya
5,Kisumu,"PLAN, WVI",kenya-3w-final-list-2017.xlsx,governance,Kenya
6,Kwale,PLAN,kenya-3w-final-list-2017.xlsx,governance,Kenya
7,Lamu,WVI,kenya-3w-final-list-2017.xlsx,governance,Kenya
8,Machakos,"PLAN, WVI",kenya-3w-final-list-2017.xlsx,governance,Kenya
9,Marsabit,ADESO,kenya-3w-final-list-2017.xlsx,governance,Kenya
10,Migori,WVI,kenya-3w-final-list-2017.xlsx,governance,Kenya
11,Mombasa,WVI,kenya-3w-final-list-2017.xlsx,governance,Kenya
12,Nairobi,"HelpAge, IOM, NRC, SP, Trocaire, UNICEF, WVI",kenya-3w-final-list-2017.xlsx,governance,Kenya
13,Narok,WVI,kenya-3w-final-list-2017.xlsx,governance,Kenya
14,Nyeri,WVI,kenya-3w-final-list-2017.xlsx,governance,Kenya
15,Siaya,PLAN,kenya-3w-final-list-2017.xlsx,governance,Kenya
16,Tharaka Nithi,PLAN,kenya-3w-final-list-2017.xlsx,governance,Kenya
17,Turkana,"ADESO, Trocaire",kenya-3w-final-list-2017.xlsx,governance,Kenya
18,Uasin Gishu,WVI,kenya-3w-final-list-2017.xlsx,governance,Kenya
19,Wajir,"ADESO, WVI",kenya-3w-final-list-2017.xlsx,governance,Kenya
20,West Pokot,WVI,kenya-3w-final-list-2017.xlsx,governance,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= emergency
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
23    Kenya
24    Kenya
25    Kenya
26    Kenya
27    Kenya
28    Kenya
29    Kenya
30    Kenya
31    Kenya
32    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= emergency > Size: (33, 5)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,file,sheet,country
0,Baringo,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
1,Bomet,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
2,Bungoma,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
3,Busia,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
4,Elgeyo Marakwet,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
5,Garissa,"FilmAid, IOM, KRCS",kenya-3w-final-list-2017.xlsx,emergency,Kenya
6,Homa Bay,"KRCS, MSF, PLAN",kenya-3w-final-list-2017.xlsx,emergency,Kenya
7,Kajiado,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
8,Kilifi,"KRCS, PLAN",kenya-3w-final-list-2017.xlsx,emergency,Kenya
9,Kisumu,"KRCS, PLAN",kenya-3w-final-list-2017.xlsx,emergency,Kenya
10,Kitui,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
11,Kwale,"KRCS, PLAN",kenya-3w-final-list-2017.xlsx,emergency,Kenya
12,Lamu,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
13,Machakos,"KRCS, PLAN",kenya-3w-final-list-2017.xlsx,emergency,Kenya
14,Mandera,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
15,Marsabit,"IOM, KRCS",kenya-3w-final-list-2017.xlsx,emergency,Kenya
16,Migori,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
17,Mombasa,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
18,Nairobi,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
19,Nakuru,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
20,Nandi,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
21,Narok,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
22,Nyandarua,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
23,Nyeri,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
24,Siaya,"KRCS, PLAN",kenya-3w-final-list-2017.xlsx,emergency,Kenya
25,Taita Taveta,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
26,Tana River,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
27,Tharaka Nithi,PLAN,kenya-3w-final-list-2017.xlsx,emergency,Kenya
28,Trans Nzoia,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya
29,Turkana,"FilmAid, IOM, KRCS",kenya-3w-final-list-2017.xlsx,emergency,Kenya
30,Uasin Gishu,"IOM, KRCS",kenya-3w-final-list-2017.xlsx,emergency,Kenya
31,Wajir,"IOM, KRCS",kenya-3w-final-list-2017.xlsx,emergency,Kenya
32,West Pokot,KRCS,kenya-3w-final-list-2017.xlsx,emergency,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= food
Country: 0    Kenya
1    Kenya
2    Kenya
3    Kenya
4    Kenya
5    Kenya
6    Kenya
7    Kenya
8    Kenya
9    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= food > Size: (10, 5)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,file,sheet,country
0,Baringo,Trocaire,kenya-3w-final-list-2017.xlsx,food,Kenya
1,Embu,Trocaire,kenya-3w-final-list-2017.xlsx,food,Kenya
2,Garissa,"ADESO, FilmAid, WVI",kenya-3w-final-list-2017.xlsx,food,Kenya
3,Homa Bay,WVI,kenya-3w-final-list-2017.xlsx,food,Kenya
4,Isiolo,"AAK, ACF, ADESO, DPHO, FHK, KRCS, LVIA, WVI",kenya-3w-final-list-2017.xlsx,food,Kenya
5,Nakuru,WVI,kenya-3w-final-list-2017.xlsx,food,Kenya
6,Narok,"AVSI, VSF-G",kenya-3w-final-list-2017.xlsx,food,Kenya
7,Samburu,"Ramati, WVI",kenya-3w-final-list-2017.xlsx,food,Kenya
8,Taita Taveta,WVI,kenya-3w-final-list-2017.xlsx,food,Kenya
9,Turkana,"ADESO, FilmAid, VSF-G, WVI",kenya-3w-final-list-2017.xlsx,food,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= edu
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= edu > Size: (23, 5)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,file,sheet,country
0,Baringo,"AVSI, WVI",kenya-3w-final-list-2017.xlsx,edu,Kenya
1,Busia,WVI,kenya-3w-final-list-2017.xlsx,edu,Kenya
2,Elgeyo Marakwet,AVSI,kenya-3w-final-list-2017.xlsx,edu,Kenya
3,Garissa,"AVSI, FilmAid, WVI",kenya-3w-final-list-2017.xlsx,edu,Kenya
4,Homa Bay,PLAN,kenya-3w-final-list-2017.xlsx,edu,Kenya
5,Isiolo,"AAK, ACF, DPHO, FHK, KRCS, WVI",kenya-3w-final-list-2017.xlsx,edu,Kenya
6,Kajiado,"AVSI, WVI",kenya-3w-final-list-2017.xlsx,edu,Kenya
7,Kakamega,WVI,kenya-3w-final-list-2017.xlsx,edu,Kenya
8,Kiambu,AVSI,kenya-3w-final-list-2017.xlsx,edu,Kenya
9,Kilifi,"PLAN, WVI",kenya-3w-final-list-2017.xlsx,edu,Kenya
10,Kisumu,PLAN,kenya-3w-final-list-2017.xlsx,edu,Kenya
11,Kwale,PLAN,kenya-3w-final-list-2017.xlsx,edu,Kenya
12,Lamu,WVI,kenya-3w-final-list-2017.xlsx,edu,Kenya
13,Machakos,PLAN,kenya-3w-final-list-2017.xlsx,edu,Kenya
14,Mandera,"FHK, IRF, SC",kenya-3w-final-list-2017.xlsx,edu,Kenya
15,Marsabit,"ADESO, CIFA, CONCERN, CWSK, FHK, Goal Kenya, H...",kenya-3w-final-list-2017.xlsx,edu,Kenya
16,Meru,AVSI,kenya-3w-final-list-2017.xlsx,edu,Kenya
17,Migori,WVI,kenya-3w-final-list-2017.xlsx,edu,Kenya
18,Nandi,AVSI,kenya-3w-final-list-2017.xlsx,edu,Kenya
19,Nyeri,WVI,kenya-3w-final-list-2017.xlsx,edu,Kenya
20,Siaya,"AVSI, PLAN",kenya-3w-final-list-2017.xlsx,edu,Kenya
21,Tharaka Nithi,PLAN,kenya-3w-final-list-2017.xlsx,edu,Kenya
22,Wajir,"AK, GirlKind, IRF, KRCS, SC, WASDA",kenya-3w-final-list-2017.xlsx,edu,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= drr
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= drr > Size: (14, 5)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,file,sheet,country
0,Baringo,WVI,kenya-3w-final-list-2017.xlsx,drr,Kenya
1,Embu,Trocaire,kenya-3w-final-list-2017.xlsx,drr,Kenya
2,Garissa,ADESO,kenya-3w-final-list-2017.xlsx,drr,Kenya
3,Homa Bay,PLAN,kenya-3w-final-list-2017.xlsx,drr,Kenya
4,Isiolo,ADESO,kenya-3w-final-list-2017.xlsx,drr,Kenya
5,Kilifi,PLAN,kenya-3w-final-list-2017.xlsx,drr,Kenya
6,Kisumu,PLAN,kenya-3w-final-list-2017.xlsx,drr,Kenya
7,Kitui,Trocaire,kenya-3w-final-list-2017.xlsx,drr,Kenya
8,Kwale,PLAN,kenya-3w-final-list-2017.xlsx,drr,Kenya
9,Machakos,PLAN,kenya-3w-final-list-2017.xlsx,drr,Kenya
10,Marsabit,"ADESO, VSF-G",kenya-3w-final-list-2017.xlsx,drr,Kenya
11,Siaya,"PLAN, WVI",kenya-3w-final-list-2017.xlsx,drr,Kenya
12,Tharaka Nithi,"PLAN, Trocaire",kenya-3w-final-list-2017.xlsx,drr,Kenya
13,Turkana,"ADESO, CF, DOL, FAO, ILO, KRCS, OXFAM, Trocair...",kenya-3w-final-list-2017.xlsx,drr,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= Table
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
23    Kenya
24    Kenya
25    Kenya
26    Kenya
27    Kenya
28    Kenya
29    Kenya
30    Kenya
31    Kenya
32    Kenya
33    Kenya
34    Kenya
35    Kenya
36    Kenya
37    Kenya
38    Kenya
39    Kenya
40    Kenya
41    Kenya
42    Kenya
43    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - SHEET= Table > Size: (44, 16)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,County,DRR/DRM,Education,Emergency response,Food security and livelihoods,Governance,Health,logistics,Nutrition,Protection,Shelter and NFI,WaSH,Total,file,sheet,country
0,Baringo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx,Table,Kenya
1,Bomet,WVI,NaN,KRCS,NaN,NaN,NaN,NaN,NaN,WVI,NaN,WVI,2.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
2,Embu,Trocaire,NaN,NaN,Trocaire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
3,Kiambu,NaN,AVSI,NaN,NaN,NaN,NaN,NaN,NaN,AVSI,NaN,NaN,1.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
4,Kisumu,Plan,Plan,"KRCS, Plan",WVI,"CORDAID, Plan, WVI",NaN,NaN,NaN,"Plan, WVI",Plan,Plan,4.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
5,Kwale,Plan,Plan,"KRCS, Plan",SP,Plan,NaN,NaN,NaN,Plan,Plan,Plan,3.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
6,Lamu,NaN,WVI,KRCS,NaN,WVI,NaN,NaN,NaN,WVI,NaN,WVI,2.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
7,Machakos,Plan,Plan,"KRCS, Plan",NaN,"WVI, Plan",NaN,NaN,NaN,Plan,Plan,Plan,3.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
8,Mombasa,NaN,NaN,KRCS,NaN,WVI,NaN,NaN,NaN,NaN,NaN,SP,3.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
9,Nyandarua,NaN,AVSI,KRCS,NaN,NaN,NaN,NaN,NaN,AVSI,NaN,NaN,2.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
10,Samburu,NaN,"CORDAID, WVI, CF",NaN,"WVI, Ramati",NaN,NaN,NaN,NaN,WVI,ACTED,"ACTED, WVI",5.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
11,Tana River,NaN,"WVI, GAA, ACF,\nIMC, CPHO",KRCS,"SP, WVI, GAA, ACF,\nIMC, CPHO",NaN,NaN,NaN,"WVI, GAA, ACF,\nIMC, CPHO",NaN,"WVI, GAA, ACF,\nIMC, CPHO","ACF, WVI, GAA, ACF,\nIMC, CPHO",8.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
12,Trans Nzoia,NaN,NaN,KRCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kenya-3w-final-list-2017.xlsx,Table,Kenya
13,Uasin Gishu,NaN,NaN,"IOM, KRCS",WVI,WVI,NaN,SP,NaN,WVI,NaN,NaN,4.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
14,Bungoma,NaN,NaN,KRCS,NaN,NaN,ACF,NaN,ACF,NaN,NaN,NaN,2.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
15,Kakamega,NaN,WVI,NaN,NaN,NaN,"ACF, WVI",NaN,ACF,WVI,NaN,WVI,2.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
16,West Pokot,NaN,WVI,KRCS,NaN,WVI,"ACF, WVI",NaN,ACF,WVI,NaN,WVI,3.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
17,Meru,NaN,AVSI,NaN,AVSI,NaN,AVSI,NaN,NaN,AVSI,NaN,NaN,1.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
18,Turkana,"ADESO, CHILD FUND, DOL, FAO, ILO, KRCS, KRCS, ...","FilmAid, WVI, UNICEF, UNHCR","FilmAid, IOM, KRCS, KRCS","ADESO, FilmAid, WVI, VSF-G","ADESO, Trocaire","FilmAid, UNHCR",NaN,NaN,"FilmAid, WVI","NRC, UNHCR","ADESO, FilmAid, WVI, UNICEF, UNHCR",23.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
19,Garissa,ADESO,"AVSI, FilmAid, WVI","FilmAid, IOM, KRCS","ADESO, FilmAid, WVI",ADESO,"FilmAid, UNHCR, CARE,\nTDH, PISP,\nFaiDa, IRDO...",NaN,NaN,"AVSI, FilmAid","NRC,UNHCR, CARE,\nTDH, PISP,\nFaiDa, IRDO,\nNW...","ADESO, FilmAid, WVI,UNHCR, CARE,\nTDH, PISP,\n...",26.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
20,Marsabit,"ADESO, VSF-G","ADESO, HODI, CIFA, WVI,\nCONCERN, FHK,\nGoal K...","IOM, KRCS","ADESO, WVI, HODI, CIFA, WVI,\nCONCERN, FHK,\nG...",ADESO,"HODI, CIFA,\nWVI, CONCERN,\nFHK, Goal Kenya, C...",NaN,"HODI, CIFA,\nWVI, CONCERN,\nFHK, Goal Kenya, C...","HelpAge, WVI","HODI, CIFA,\nWVI, CONCERN,\nFHK, Goal Kenya, C...","ADESO, HODI, CIFA,\nWVI, CONCERN,\nFHK, Goal K...",25.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
21,Mandera,NaN,"IR, SC, FHK",KRCS,"IR, SC, FHK",NaN,"IR, SC, FHK",NaN,"IR, SC, FHK",HelpAge,"ACTED, NRC, IR, SC, FHK","ACTED, IR, SC, FHK",8.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
22,Wajir,ADESO,"WASDA, Aldef\nKenya, SC,\nGirlKind, KRCS, IR","IOM, KRCS","ADESO, WVI, WASDA, Aldef\nKenya, SC,\nGirlKind...","ADESO, WVI","WASDA, Aldef\nKenya, SC,\nGirlKind, KRCS, IR",NaN,ACF,"HelpAge, WVI","WASDA, Aldef\nKenya, SC,\nGirlKind, WV,\nKRCS, IR","ADESO, WVI, WASDA, Aldef\nKenya, SC,\nGirlKind...",13.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
23,Baringo,WVI,"AVSI, WVI",KRCS,Trocaire,NaN,WVI,NaN,NaN,"AVSI, WVI",ACTED,"ACTED, WVI",5.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
24,Busia,NaN,WVI,KRCS,NaN,WVI,WVI,NaN,NaN,WVI,NaN,WVI,2.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
25,Elgeyo Marakwet,NaN,AVSI,KRCS,NaN,NaN,WVI,NaN,NaN,"AVSI, WVI",NaN,WVI,3.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
26,Homa Bay,Plan,Plan,"KRCS, Plan, MSF",WVI,Plan,WVI,NaN,NaN,"Plan, WVI",Plan,"Plan, WVI",5.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
27,Kajiado,NaN,"AVSI, WVI",KRCS,AVSI,NaN,WVI,NaN,NaN,"AVSI, WVI",NaN,"AVSI, WVI",3.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
28,Kilifi,Plan,"Plan, WVI","KRCS, Plan",WVI,Plan,WVI,NaN,NaN,"Plan, WVI",Plan,"Plan, WVI",4.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
29,Kitui,Trocaire,NaN,KRCS,"Trocaire, WVI",NaN,WVI,NaN,WVI,WVI,NaN,"SP, WVI",4.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
30,Makueni,NaN,NaN,NaN,WVI,NaN,WVI,NaN,NaN,WVI,NaN,WVI,1.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
31,Migori,NaN,WVI,KRCS,NaN,WVI,WVI,NaN,NaN,WVI,NaN,WVI,2.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
32,Nakuru,NaN,NaN,KRCS,WVI,NaN,WVI,NaN,NaN,WVI,NaN,"ACF, WVI",3.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
33,Nandi,NaN,AVSI,KRCS,AVSI,NaN,WVI,NaN,NaN,"AVSI, WVI",NaN,WVI,3.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
34,Narok,NaN,"AVSI, WVI",KRCS,"AVSI, VSF-G",WVI,WVI,NaN,NaN,"AVSI, WVI",NaN,NaN,4.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
35,Siaya,"Plan, WVI","AVSI, Plan","KRCS, Plan",WVI,Plan,WVI,NaN,NaN,"AVSI, Plan, WVI",Plan,Plan,4.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
36,Taita Taveta,NaN,WVI,KRCS,WVI,NaN,WVI,NaN,NaN,WVI,NaN,WVI,2.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
37,Isiolo,ADESO,"WVI, ACF, AAK, KRCS,\nWV, FHK, DPHO",NaN,"ADESO, LVIA, WVI, ACF, AAK, KRCS,\nWV, FHK, DPHO","ADESO, CORDAID","WVI, ACF, AAK, KRCS,\nWV, FHK, DPHO",NaN,"ACF, ACF, AAK, KRCS,\nWV, FHK, DPHO",WVI,"ACF, AAK, KRCS,\nWV, FHK, DPHO","ACF, ADESO, NRC, ACF, AAK, KRCS,\nWV, FHK, DPHO",12.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
38,Nairobi,NaN,"AVSI, UNHCR",KRCS,WVI,"HelpAge, IOM, NRC, SP, Trocaire, WVI, UNICEF","WVI, UNHCR, MSF",NaN,NaN,"AVSI, FilmAid, WVI",UNHCR,"ACF, UNHCR",NaN,kenya-3w-final-list-2017.xlsx,Table,Kenya
39,Kericho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS,1.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
40,Nyamira,NaN,NaN,NaN,WVI,NaN,NaN,NaN,NaN,WVI,NaN,NaN,1.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
41,Nyeri,NaN,WVI,NaN,NaN,WVI,NaN,NaN,NaN,WVI,NaN,WVI,1.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
42,Tharaka,Plan,Plan,Plan,NaN,Plan,NaN,NaN,NaN,Plan,Plan,Plan,1.0,kenya-3w-final-list-2017.xlsx,Table,Kenya
43,Tharaka Nithi,Trocaire,NaN,NaN,Trocaire,NaN,NaN,NaN,NaN,NaN,NaN,Trocaire,1.0,kenya-3w-final-list-2017.xlsx,Table,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/Kenya - IPC Analysis 2017-2022.xlsx - SHEET= IPC
Country: 0      Kenya
1      Kenya
2      Kenya
3      Kenya
4      Kenya
       ...
226    Kenya
227    Kenya
228    Kenya
229    Kenya
230    Kenya
Name: country, Length: 231, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/Kenya - IPC Analysis 2017-2022.xlsx - SHEET= IPC > Size: (231, 58)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,file,sheet,country
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya - IPC Analysis 2017-2022.xlsx,IPC,Kenya
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya - IPC Analysis 2017-2022.xlsx,IPC,Kenya
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya - IPC Analysis 2017-2022.xlsx,IPC,Kenya
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya - IPC Analysis 2017-2022.xlsx,IPC,Kenya
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya - IPC Analysis 2017-2022.xlsx,IPC,Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya - IPC Analysis 2017-2022.xlsx,IPC,Kenya
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya - IPC Analysis 2017-2022.xlsx,IPC,Kenya
228,Disclaimer: All national population figures ar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya - IPC Analysis 2017-2022.xlsx,IPC,Kenya
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya - IPC Analysis 2017-2022.xlsx,IPC,Kenya
230,Source: Integrated Food Security Phase Classi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya - IPC Analysis 2017-2022.xlsx,IPC,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/wfp_food_prices_ken.csv
Country: 0        Kenya
1        Kenya
2        Kenya
3        Kenya
4        Kenya
         ...
14446    Kenya
14447    Kenya
14448    Kenya
14449    Kenya
14450    Kenya
Name: country, Length: 14451, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/wfp_food_prices_ken.csv > Size: (14451, 17)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,file,sheet,country
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd,wfp_food_prices_ken.csv,,Kenya
1,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,cereals and tubers,Maize,KG,actual,Wholesale,KES,16.13,0.2235,wfp_food_prices_ken.csv,,Kenya
2,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,cereals and tubers,Maize (white),90 KG,actual,Wholesale,KES,1480.0,20.5041,wfp_food_prices_ken.csv,,Kenya
3,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,pulses and nuts,Beans,KG,actual,Wholesale,KES,33.63,0.4659,wfp_food_prices_ken.csv,,Kenya
4,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,pulses and nuts,Beans (dry),90 KG,actual,Wholesale,KES,3246.0,44.9705,wfp_food_prices_ken.csv,,Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14446,2022-07-15,Nyanza,Kisumu,Kisumu,-0.1,34.75,cereals and tubers,Maize,KG,forecast,Wholesale,KES,0.0,0.0,wfp_food_prices_ken.csv,,Kenya
14447,2022-07-15,Rift Valley,Uasin Gishu,Eldoret town (Uasin Gishu),0.516667,35.283333,cereals and tubers,Maize,KG,forecast,Wholesale,KES,0.0,0.0,wfp_food_prices_ken.csv,,Kenya
14448,2022-08-15,Nairobi,Nairobi,Nairobi,-1.283333,36.816667,cereals and tubers,Maize,KG,forecast,Wholesale,KES,0.0,0.0,wfp_food_prices_ken.csv,,Kenya
14449,2022-08-15,Nyanza,Kisumu,Kisumu,-0.1,34.75,cereals and tubers,Maize,KG,forecast,Wholesale,KES,0.0,0.0,wfp_food_prices_ken.csv,,Kenya
14450,2022-08-15,Rift Valley,Uasin Gishu,Eldoret town (Uasin Gishu),0.516667,35.283333,cereals and tubers,Maize,KG,forecast,Wholesale,KES,0.0,0.0,wfp_food_prices_ken.csv,,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2017-per-kg.xlsx - SHEET= Sheet1
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
      ...
81    Kenya
82    Kenya
83    Kenya
84    Kenya
85    Kenya
Name: country, Length: 86, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2017-per-kg.xlsx - SHEET= Sheet1 > Size: (86, 16)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Month/Town,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec,file,sheet,country
0,Kiambu,80,95,-,-,-,-,-,-,-,-,-,-,retail-prices-for-dry-beans-2017-per-kg.xlsx,Sheet1,Kenya
1,Limuru,77.5,95,-,-,-,-,-,-,-,-,-,-,retail-prices-for-dry-beans-2017-per-kg.xlsx,Sheet1,Kenya
2,Thika,80,80,-,-,-,-,75,70,75,80,80,110,retail-prices-for-dry-beans-2017-per-kg.xlsx,Sheet1,Kenya
3,Kutus,70.15,82.35,81.4,-,-,-,-,-,-,-,-,-,retail-prices-for-dry-beans-2017-per-kg.xlsx,Sheet1,Kenya
4,Sagana,88.43,-,-,-,-,-,-,-,-,-,-,-,retail-prices-for-dry-beans-2017-per-kg.xlsx,Sheet1,Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Gikomba,100,104.76,100,104.76,105,100,-,107.38,107.38,105,95.24,95.24,retail-prices-for-dry-beans-2017-per-kg.xlsx,Sheet1,Kenya
82,Kangemi,95.45,100,95.24,100,100,100,-,100,102.5,100,100,105,retail-prices-for-dry-beans-2017-per-kg.xlsx,Sheet1,Kenya
83,Korokocho,95.24,95.24,100,95.24,95.24,100,-,100,100,96.43,95.24,100,retail-prices-for-dry-beans-2017-per-kg.xlsx,Sheet1,Kenya
84,Toi,95.24,95.24,100,100,95.24,100,-,102.38,100,102.38,100,100,retail-prices-for-dry-beans-2017-per-kg.xlsx,Sheet1,Kenya
85,Total,87.2,93.01,93.96,97.3,105.48,105.13,96.59,89.9,87.46,96.32,103.4,104.31,retail-prices-for-dry-beans-2017-per-kg.xlsx,Sheet1,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2018-per-kg.xlsx - SHEET= Prices for Dry Beans, 2018
Country: 0      Kenya
1      Kenya
2      Kenya
3      Kenya
4      Kenya
       ...
96     Kenya
97     Kenya
98     Kenya
99     Kenya
100    Kenya
Name: country, Length: 101, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2018-per-kg.xlsx - SHEET= Prices for Dry Beans, 2018 > Size: (101, 16)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Month/Town,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,file,sheet,country
0,Akala.....................................,80.98,-,-,-,-,-,-,71.34,74.91,72.21,81.19,81.45,retail-prices-for-dry-beans-2018-per-kg.xlsx,"Prices for Dry Beans, 2018",Kenya
1,Bomet....................................,71.16,66.66,78.85,70.94,70.77,77.78,73.08,71.15,69.93,64.62,69.23,-,retail-prices-for-dry-beans-2018-per-kg.xlsx,"Prices for Dry Beans, 2018",Kenya
2,Bondo...................................,100.28,100.22,93.41,95.03,99.28,70.74,90.91,-,-,-,-,-,retail-prices-for-dry-beans-2018-per-kg.xlsx,"Prices for Dry Beans, 2018",Kenya
3,Bumala..................................,-,-,-,-,69.05,73.02,-,-,-,-,-,-,retail-prices-for-dry-beans-2018-per-kg.xlsx,"Prices for Dry Beans, 2018",Kenya
4,Bungoma Town....................,-,-,-,-,-,-,73,88.21,-,-,-,-,retail-prices-for-dry-beans-2018-per-kg.xlsx,"Prices for Dry Beans, 2018",Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Unguja..................................,98.75,98.13,95.38,100,74.44,69.33,74.11,75.28,74.17,72.63,81.68,83.33,retail-prices-for-dry-beans-2018-per-kg.xlsx,"Prices for Dry Beans, 2018",Kenya
97,Voi........................................,-,-,-,-,-,-,63.33,-,-,-,-,-,retail-prices-for-dry-beans-2018-per-kg.xlsx,"Prices for Dry Beans, 2018",Kenya
98,Wajir Town............................,-,-,-,-,-,-,-,120,-,-,-,-,retail-prices-for-dry-beans-2018-per-kg.xlsx,"Prices for Dry Beans, 2018",Kenya
99,Wote......................................,-,-,-,110,-,97.5,90,80,100,-,86.67,95,retail-prices-for-dry-beans-2018-per-kg.xlsx,"Prices for Dry Beans, 2018",Kenya
100,Total.....................................,88.1,88.74,88.84,90.52,87.5,85.03,82.07,75.72,74.55,74.42,74.95,76.8,retail-prices-for-dry-beans-2018-per-kg.xlsx,"Prices for Dry Beans, 2018",Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2019-per-kg.xlsx - SHEET= Prices for Dry Beans, 2019
Country: 0      Kenya
1      Kenya
2      Kenya
3      Kenya
4      Kenya
       ...
96     Kenya
97     Kenya
98     Kenya
99     Kenya
100    Kenya
Name: country, Length: 101, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2019-per-kg.xlsx - SHEET= Prices for Dry Beans, 2019 > Size: (101, 7)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Month/Town,Jan,Feb,Mar,file,sheet,country
0,Akala...................................,-,-,-,retail-prices-for-dry-beans-2019-per-kg.xlsx,"Prices for Dry Beans, 2019",Kenya
1,Bomet..................................,72.11,71.79,71.79,retail-prices-for-dry-beans-2019-per-kg.xlsx,"Prices for Dry Beans, 2019",Kenya
2,Bondo.................................,84.9,-,-,retail-prices-for-dry-beans-2019-per-kg.xlsx,"Prices for Dry Beans, 2019",Kenya
3,Bumala................................,-,-,-,retail-prices-for-dry-beans-2019-per-kg.xlsx,"Prices for Dry Beans, 2019",Kenya
4,Bungoma Town ................,-,-,-,retail-prices-for-dry-beans-2019-per-kg.xlsx,"Prices for Dry Beans, 2019",Kenya
...,...,...,...,...,...,...,...
96,Unguja................................,87.11,-,-,retail-prices-for-dry-beans-2019-per-kg.xlsx,"Prices for Dry Beans, 2019",Kenya
97,Voi......................................,86.67,81.11,-,retail-prices-for-dry-beans-2019-per-kg.xlsx,"Prices for Dry Beans, 2019",Kenya
98,Wajir Town..........................,-,-,-,retail-prices-for-dry-beans-2019-per-kg.xlsx,"Prices for Dry Beans, 2019",Kenya
99,Wote....................................,75,71,77.14,retail-prices-for-dry-beans-2019-per-kg.xlsx,"Prices for Dry Beans, 2019",Kenya
100,Total,74.64,72.59,72.15,retail-prices-for-dry-beans-2019-per-kg.xlsx,"Prices for Dry Beans, 2019",Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/value-of-recorded-marketed-agricultural-production-at-current-prices-2014-2018.xlsx - SHEET= Sheet1
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
23    Kenya
24    Kenya
25    Kenya
26    Kenya
27    Kenya
28    Kenya
29    Kenya
30    Kenya
31    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/value-of-recorded-marketed-agricultural-production-at-current-prices-2014-2018.xlsx - SHEET= Sheet1 > Size: (32, 11)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,"Value of Recorded Marketed Agricultural Production at Current Prices, 2014-2018",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,file,sheet,country
0,NaN,KSh Million,NaN,NaN,NaN,NaN,NaN,NaN,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
1,NaN,NaN,NaN,2014.0,2015.0,2016.0,2017.0,2018*,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
2,NaN,CEREALS-,NaN,NaN,NaN,NaN,NaN,NaN,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
3,NaN,Maize,NaN,9604.4,8506.0,7891.2,8478.7,9986.9,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
4,NaN,Wheat,NaN,7618.0,8198.2,8028.1,5283.1,11744.7,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
5,NaN,Others,NaN,7720.8,7488.5,7266.2,5965.1,7268,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
6,NaN,Total ..,NaN,24943.2,24192.7,23185.4,19726.9,28999.6,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
7,NaN,HORTICULTURE1-,NaN,NaN,NaN,NaN,NaN,NaN,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
8,NaN,Cut flowers,NaN,59893.1,62937.5,70829.5,82248.9,113165.2,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
9,NaN,Vegetables,NaN,18780.6,20939.5,23366.8,24064.6,27685.2,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
10,NaN,Fruits,NaN,5410.6,6561.8,7317.3,9009.3,12831.1,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
11,NaN,Total ..,NaN,84084.3,90438.8,101513.5,115322.8,153681.5,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
12,NaN,TEMPORARY INDUSTRIAL CROPS-,NaN,NaN,NaN,NaN,NaN,NaN,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
13,NaN,Sugar-cane ..,NaN,20294.5,22397.1,24221.3,20133.8,20550.2,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
14,NaN,Pyrethrum,NaN,61.1,51.0,37.9,26.5,26.2,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
15,NaN,Others,NaN,1438.9,1516.8,1470.4,1689.7,1510.4,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
16,NaN,Total ..,NaN,21794.5,23964.9,25729.6,21850.0,22086.8,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
17,NaN,PERMANENT CROPS-,NaN,NaN,NaN,NaN,NaN,NaN,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
18,NaN,Coffee,NaN,16634.4,12074.7,16192.3,16037.1,14837.7,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
19,NaN,Tea,NaN,84854.6,118391.2,116547.3,134826.0,127669.3,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
20,NaN,Sisal,NaN,2944.8,3595.0,4729.6,3557.8,3794.3,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
21,NaN,Total ..,NaN,104433.7,134060.8,137469.1,154420.9,146301.3,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
22,NaN,NaN,TOTAL CROPS…,235255.7,272657.3,287897.7,311320.6,351069.2,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
23,NaN,LIVESTOCK AND PRODUCTS-…….,NaN,NaN,NaN,NaN,NaN,NaN,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
24,NaN,NaN,Cattle and Calves ………,59272.8,66216.7,84701.2,93630.2,100248.7,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
25,NaN,NaN,Goats and Sheep………,4249.8,4854.7,5767.4,6782.4,7758.8,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
26,NaN,Milk,……... ……….,18785.0,21205.4,23020.1,20878.2,22705,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
27,NaN,NaN,Chicken and eggs………,7440.7,6005.9,8788.4,10674.8,12069.2,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
28,NaN,Others,……………,2124.7,2562.1,3124.9,3634.9,4040.5,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
29,NaN,NaN,Total ..,91873.0,100844.7,125401.9,135600.5,146822.2,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
30,NaN,GRAND TOTAL .. ………………….,NaN,327128.7,373502.1,413299.6,446921.2,497891.4,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya
31,NaN,* Provisional.,NaN,NaN,NaN,NaN,NaN,NaN,value-of-recorded-marketed-agricultural-produc...,Sheet1,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - SHEET= ken_admpop_ADM0_2019
Country: 0    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - SHEET= ken_admpop_ADM0_2019 > Size: (1, 74)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,ADM0_NAME,ADM0_PCODE,F_TL,M_TL,T_TL,F_00_04,F_05_09,F_10_14,F_15_19,F_20_24,...,T_75_79,T_80_84,T_85_89,T_90_94,T_95_99,T_100Plus,T_Unstated,file,sheet,country
0,Kenya,KE,24014716,23548056,47562772,2986769,3085516,3136142,2599442,2334777,...,283115,203894,113606,55097,28006,14040,682,ken_admpop_2019.xlsx,ken_admpop_ADM0_2019,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - SHEET= ken_admpop_ADM1_2019
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
23    Kenya
24    Kenya
25    Kenya
26    Kenya
27    Kenya
28    Kenya
29    Kenya
30    Kenya
31    Kenya
32    Kenya
33    Kenya
34    Kenya
35    Kenya
36    Kenya
37    Kenya
38    Kenya
39    Kenya
40    Kenya
41    Kenya
42    Kenya
43    Kenya
44    Kenya
45    Kenya
46    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - SHEET= ken_admpop_ADM1_2019 > Size: (47, 76)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,ADM0_NAME,ADM0_PCODE,ADM1_NAME,ADM1_PCODE,F_TL,M_TL,T_TL,F_00_04,F_05_09,F_10_14,...,T_75_79,T_80_84,T_85_89,T_90_94,T_95_99,T_100Plus,T_Unstated,file,sheet,country
0,Kenya,KE,Mombasa,KE001,598046,610257,1208303,73178,65459,58280,...,3045,1858,803,323,152,73,26,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
1,Kenya,KE,Kwale,KE002,441681,425121,866802,64761,65043,62091,...,4616,3260,1604,700,306,259,12,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
2,Kenya,KE,Kilifi,KE003,749673,704089,1453762,99912,102458,103193,...,8726,5336,3002,1158,667,363,17,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
3,Kenya,KE,Tana River,KE004,157391,158550,315941,26006,25878,22971,...,1362,1003,484,244,104,87,6,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
4,Kenya,KE,Lamu,KE005,67813,76103,143916,9134,9241,8981,...,800,517,226,125,53,49,4,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
5,Kenya,KE,Taita Taveta,KE006,167327,173337,340664,19300,18621,19671,...,2960,2169,1258,499,269,127,3,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
6,Kenya,KE,Garissa,KE007,382344,458975,841319,54590,64189,57929,...,1708,1980,584,470,154,90,5,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
7,Kenya,KE,Wajir,KE008,365840,415374,781214,61291,67049,59172,...,1552,1565,480,347,92,39,2,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
8,Kenya,KE,Mandera,KE009,432444,434976,867420,86562,86574,70848,...,1574,1928,592,519,101,74,3,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
9,Kenya,KE,Marsabit,KE010,216219,243548,459767,33964,36981,33482,...,1743,1920,685,582,164,164,6,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
10,Kenya,KE,Isiolo,KE011,128483,139510,267993,20172,20076,18425,...,1112,1012,470,294,122,70,1,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
11,Kenya,KE,Meru,KE012,777975,767698,1545673,84878,87068,97080,...,12007,9983,5288,2827,1444,1079,30,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
12,Kenya,KE,Tharaka-Nithi,KE013,199406,193764,393170,20215,21488,23884,...,4083,3145,1985,881,638,330,10,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
13,Kenya,KE,Embu,KE014,304367,304208,608575,30389,30246,33553,...,5353,4589,2683,1654,868,477,7,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
14,Kenya,KE,Kitui,KE015,587151,549003,1136154,62618,71465,85722,...,10519,8916,4480,3578,1438,753,10,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
15,Kenya,KE,Machakos,KE016,711191,710707,1421898,72770,74089,82134,...,11081,8936,5066,3685,1772,925,18,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
16,Kenya,KE,Makueni,KE017,497942,489691,987633,47692,54843,67449,...,9371,7407,4165,3408,1459,853,8,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
17,Kenya,KE,Nyandarua,KE018,323247,315022,638269,34632,36940,40333,...,6714,4020,2269,1091,565,267,5,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
18,Kenya,KE,Nyeri,KE019,384845,374288,759133,36082,37313,37479,...,10438,7109,3882,2093,1067,491,10,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
19,Kenya,KE,Kirinyaga,KE020,308369,302011,610380,28655,28536,30395,...,5464,4439,2526,1682,844,605,9,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
20,Kenya,KE,Murang'a,KE021,532669,523940,1056609,54819,56687,57807,...,14953,10123,6164,2978,1656,847,14,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
21,Kenya,KE,Kiambu,KE022,1230454,1187146,2417600,138012,120815,114114,...,13520,8989,5411,2410,1478,658,48,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
22,Kenya,KE,Turkana,KE023,448868,478087,926955,65278,71086,67145,...,3587,2231,1095,404,198,88,3,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
23,Kenya,KE,West Pokot,KE024,314213,307013,621226,56831,54220,47326,...,2527,1557,759,396,217,146,3,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
24,Kenya,KE,Samburu,KE025,153546,156774,310320,25220,26167,23280,...,1436,1169,532,244,139,54,2,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
25,Kenya,KE,Trans Nzoia,KE026,501206,489107,990313,64232,71287,74192,...,5407,3500,2204,776,497,156,4,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
26,Kenya,KE,Uasin Gishu,KE027,582889,580269,1163158,69877,69610,73534,...,5717,3565,2082,950,658,291,12,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
27,Kenya,KE,Elgeyo-Marakwet,KE028,227151,227317,454468,30346,31929,32635,...,3051,2087,1163,535,335,153,1,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
28,Kenya,KE,Nandi,KE029,444430,441259,885689,52679,57623,62390,...,5989,3646,2365,1148,808,317,2,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
29,Kenya,KE,Baringo,KE030,330428,336322,666750,46523,48679,49207,...,3701,2844,1497,693,419,192,2,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
30,Kenya,KE,Laikipia,KE031,259102,259440,518542,32385,31814,31925,...,4242,2583,1381,667,350,211,5,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
31,Kenya,KE,Nakuru,KE032,1084835,1077272,2162107,135314,132242,136219,...,11635,7416,4297,1888,1120,556,41,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
32,Kenya,KE,Narok,KE033,578805,579042,1157847,93485,98516,88364,...,4215,2999,1544,781,459,362,11,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
33,Kenya,KE,Kajiado,KE034,560704,557098,1117802,77385,72350,65659,...,3398,2304,1238,638,382,261,21,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
34,Kenya,KE,Kericho,KE035,451008,450741,901749,54221,58524,63327,...,4560,3528,2139,928,591,216,13,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
35,Kenya,KE,Bomet,KE036,441379,434287,875666,54709,60050,65402,...,4816,3527,2298,1120,607,280,5,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
36,Kenya,KE,Kakamega,KE037,970406,897133,1867539,113559,134555,147002,...,14068,9157,5381,1725,860,203,31,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
37,Kenya,KE,Vihiga,KE038,306323,283678,590001,32583,39257,43978,...,7324,5279,3067,1106,516,145,9,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
38,Kenya,KE,Bungoma,KE039,858389,812146,1670535,110069,126486,133921,...,9868,6737,4132,1403,718,141,8,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
39,Kenya,KE,Busia,KE040,467401,426252,893653,56989,64448,70116,...,6154,4333,2714,941,399,137,9,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
40,Kenya,KE,Siaya,KE041,521496,471669,993165,60791,69093,75099,...,9441,7089,4039,1336,468,158,24,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
41,Kenya,KE,Kisumu,KE042,594609,560942,1155551,70870,73933,82705,...,6651,4732,2490,876,369,136,27,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
42,Kenya,KE,Homa Bay,KE043,592367,539560,1131927,77663,83842,90367,...,7394,5556,3124,1049,481,190,9,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
43,Kenya,KE,Migori,KE044,580214,536187,1116401,81289,86241,90228,...,5655,4037,2316,796,397,188,17,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
44,Kenya,KE,Kisii,KE045,661038,605784,1266822,71694,85870,97319,...,7877,6141,3694,1489,758,391,22,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
45,Kenya,KE,Nyamira,KE046,314656,290907,605563,32257,39153,46267,...,4264,3288,1898,787,413,182,4,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya
46,Kenya,KE,Nairobi,KE047,2204376,2192452,4396828,260888,217482,193542,...,7437,4385,2050,873,434,206,143,ken_admpop_2019.xlsx,ken_admpop_ADM1_2019,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - SHEET= ken_admpop_ADM2_2019
Country: 0      Kenya
1      Kenya
2      Kenya
3      Kenya
4      Kenya
       ...
340    Kenya
341    Kenya
342    Kenya
343    Kenya
344    Kenya
Name: country, Length: 345, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - SHEET= ken_admpop_ADM2_2019 > Size: (345, 77)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,ADM0_NAME,ADM0_PCODE,ADM1_NAME,ADM1_PCODE,ADM2_NAME,F_TL,M_TL,T_TL,F_00_04,F_05_09,...,T_75_79,T_80_84,T_85_89,T_90_94,T_95_99,T_100Plus,T_Unstated,file,sheet,country
0,Kenya,KE,Mombasa,KE001,Changamwe,63121,68761,131882,7287,6717,...,188,132,44,30,14,7,1,ken_admpop_2019.xlsx,ken_admpop_ADM2_2019,Kenya
1,Kenya,KE,Mombasa,KE001,Jomvu,80410,83002,163412,10388,9602,...,246,125,68,39,15,9,4,ken_admpop_2019.xlsx,ken_admpop_ADM2_2019,Kenya
2,Kenya,KE,Mombasa,KE001,Kisauni,145176,146748,291924,18776,16505,...,582,335,174,65,40,22,3,ken_admpop_2019.xlsx,ken_admpop_ADM2_2019,Kenya
3,Kenya,KE,Mombasa,KE001,Likoni,123392,126962,250354,16757,14291,...,396,239,99,32,18,11,5,ken_admpop_2019.xlsx,ken_admpop_ADM2_2019,Kenya
4,Kenya,KE,Mombasa,KE001,Mvita,78601,75565,154166,7566,7399,...,1052,697,269,102,44,14,8,ken_admpop_2019.xlsx,ken_admpop_ADM2_2019,Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Kenya,KE,Nairobi,KE047,Makadara,93157,96369,189526,9833,8543,...,389,198,95,38,18,10,3,ken_admpop_2019.xlsx,ken_admpop_ADM2_2019,Kenya
341,Kenya,KE,Nairobi,KE047,Mathare,100028,106522,206550,12761,10482,...,184,109,47,18,12,4,3,ken_admpop_2019.xlsx,ken_admpop_ADM2_2019,Kenya
342,Kenya,KE,Nairobi,KE047,Njiru,318809,307642,626451,39760,34782,...,726,425,223,105,66,28,23,ken_admpop_2019.xlsx,ken_admpop_ADM2_2019,Kenya
343,Kenya,KE,Nairobi,KE047,Starehe,101238,109173,210411,10035,8588,...,489,262,112,43,19,10,9,ken_admpop_2019.xlsx,ken_admpop_ADM2_2019,Kenya
344,Kenya,KE,Nairobi,KE047,Westlands,155021,153818,308839,14289,12930,...,1904,1243,654,208,92,23,10,ken_admpop_2019.xlsx,ken_admpop_ADM2_2019,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - SHEET= Metadata
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - SHEET= Metadata > Size: (16, 5)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Item,Metadata,file,sheet,country
0,Country,Kenya,ken_admpop_2019.xlsx,Metadata,Kenya
1,Baseline population,2019,ken_admpop_2019.xlsx,Metadata,Kenya
2,Reference year of projections,2019,ken_admpop_2019.xlsx,Metadata,Kenya
3,Source(s),Kenya National Bureau of Statistics,ken_admpop_2019.xlsx,Metadata,Kenya
4,Source(s) Link(s),https://www.knbs.or.ke/?wpdmpro=2019-kenya-pop...,ken_admpop_2019.xlsx,Metadata,Kenya
5,Methods,https://www.knbs.or.ke/?wpdmpro=2019-kenya-pop...,ken_admpop_2019.xlsx,Metadata,Kenya
6,Year of publication,2019,ken_admpop_2019.xlsx,Metadata,Kenya
7,ADM1 Name,County,ken_admpop_2019.xlsx,Metadata,Kenya
8,ADM1 Number of units,47,ken_admpop_2019.xlsx,Metadata,Kenya
9,ADM1 Age-and-Sex disaggregation,"5 year age-groups, SAD integrated",ken_admpop_2019.xlsx,Metadata,Kenya
10,ADM1 Open-ended group,100+,ken_admpop_2019.xlsx,Metadata,Kenya
11,ADM2 Name,Sub-county,ken_admpop_2019.xlsx,Metadata,Kenya
12,ADM2 Number of units,345,ken_admpop_2019.xlsx,Metadata,Kenya
13,ADM2 Age-and-Sex disaggregation,"5 year age-groups, SAD integrated",ken_admpop_2019.xlsx,Metadata,Kenya
14,ADM2 Open-ended group,100+,ken_admpop_2019.xlsx,Metadata,Kenya
15,Limitations of use and general Notes,NaN,ken_admpop_2019.xlsx,Metadata,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/dbo-foodconsumptionscores.csv
Country: 0      Kenya
1      Kenya
2      Kenya
3      Kenya
4      Kenya
       ...
880    Kenya
881    Kenya
882    Kenya
883    Kenya
884    Kenya
Name: country, Length: 885, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/dbo-foodconsumptionscores.csv > Size: (885, 18)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,ADM0_NAME,ADM1_NAME,ADM2_NAME,FCS_Mean,FCS_poor,FCS_Borderline,FCS_Acceptable,Target_Group,FCS_Month,FCS_Year,Methodology,FCS_LowerThreshold,FCS_UpperThreshold,FCS_DataSource,Indicator_Type,file,sheet,country
0,Armenia,Aragatsotn,NaN,NaN,0.000000,3.128377,96.871623,Total Population by Administrative Units,8,2009,Raised Threshold: 28/42,NaN,NaN,WFP VAM Impact of the Global Financial Crisis ...,Baseline,dbo-foodconsumptionscores.csv,,Kenya
1,Armenia,Ararat,NaN,NaN,0.262799,1.744469,97.992732,Total Population by Administrative Units,8,2009,Raised Threshold: 28/42,NaN,NaN,WFP VAM Impact of the Global Financial Crisis ...,Baseline,dbo-foodconsumptionscores.csv,,Kenya
2,Armenia,Armavir,NaN,NaN,1.039385,4.820485,94.140130,Total Population by Administrative Units,8,2009,Raised Threshold: 28/42,NaN,NaN,WFP VAM Impact of the Global Financial Crisis ...,Baseline,dbo-foodconsumptionscores.csv,,Kenya
3,Armenia,Gergharkunik,NaN,NaN,1.163326,5.236943,93.599731,Total Population by Administrative Units,8,2009,Raised Threshold: 28/42,NaN,NaN,WFP VAM Impact of the Global Financial Crisis ...,Baseline,dbo-foodconsumptionscores.csv,,Kenya
4,Armenia,Kotayk,NaN,NaN,0.586704,3.999282,95.414014,Total Population by Administrative Units,8,2009,Raised Threshold: 28/42,NaN,NaN,WFP VAM Impact of the Global Financial Crisis ...,Baseline,dbo-foodconsumptionscores.csv,,Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,Yemen,Sana'a,NaN,NaN,45.376661,23.686211,30.937128,Total Population by Administrative Units,12,2011,Raised Threshold: 28/42,NaN,NaN,WFP VAM The State of Food Security and Nutriti...,Baseline,dbo-foodconsumptionscores.csv,,Kenya
881,Yemen,Shabwah,NaN,NaN,10.282276,27.549617,62.168107,Total Population by Administrative Units,12,2011,Raised Threshold: 28/42,NaN,NaN,WFP VAM The State of Food Security and Nutriti...,Baseline,dbo-foodconsumptionscores.csv,,Kenya
882,Yemen,Taizz,NaN,NaN,22.397625,25.404140,52.198235,Total Population by Administrative Units,12,2011,Raised Threshold: 28/42,NaN,NaN,WFP VAM The State of Food Security and Nutriti...,Baseline,dbo-foodconsumptionscores.csv,,Kenya
883,Yemen,NaN,NaN,NaN,22.164174,22.323650,55.512176,Total Population by Administrative Units,12,2011,Raised Threshold: 28/42,NaN,NaN,WFP VAM The State of Food Security and Nutriti...,Baseline,dbo-foodconsumptionscores.csv,,Kenya
884,Yemen,$Amanat Al Asimah,NaN,NaN,7.620284,19.938726,72.440990,Total Population by Administrative Units,12,2011,Raised Threshold: 28/42,NaN,NaN,WFP VAM The State of Food Security and Nutriti...,Baseline,dbo-foodconsumptionscores.csv,,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/per-capita-food-consumption-2017-and-2018.xlsx - SHEET= Sheet1
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/per-capita-food-consumption-2017-and-2018.xlsx - SHEET= Sheet1 > Size: (21, 7)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,"Per Capita Food Consumption, 2017 and 2018",Unnamed: 1,Unnamed: 2,Unnamed: 3,file,sheet,country
0,Food Commodity,2017.0,2018.0,Percent change,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
1,Wheat and products,39.1,41.3,5.6,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
2,Maize and products,64.2,69.5,8.3,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
3,Millet and products,1.2,1.0,-16.7,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
4,Sorghum and products,2.2,1.9,-13.6,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
5,Rice & Prod (Milled Equivalent),22.7,20.6,-9.3,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
6,Potatoes and products,26.4,29.9,13.3,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
7,Cassava and products,23.1,19.8,-14.3,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
8,Sweet potatoes,22.2,18.0,-18.9,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
9,Sugar & Prod. (raw equivalent),13.5,16.3,20.7,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
10,"Beans, Dry & Products",16.1,16.0,-0.6,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
11,Tomatoes and products,6.0,8.5,41.7,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
12,"Onions, Dry",0.9,0.8,-11.1,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
13,"Vegetables, Other & Prod",23.6,32.6,38.1,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
14,Bananas,15.1,27.5,82.1,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
15,"Meat & Products, Bovine",12.6,14.0,11.1,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
16,"Meat & Products, Pig",0.3,0.4,33.3,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
17,"Meat & Products, Poultry",2.3,2.6,13,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
18,Milk & Prod (Excluding Butter),89.4,93.3,4.4,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
19,Eggs and products,1.5,1.6,6.7,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya
20,Freshwater fish,3.1,3.1,0,per-capita-food-consumption-2017-and-2018.xlsx,Sheet1,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - SHEET= Admin2
Country: 0      Kenya
1      Kenya
2      Kenya
3      Kenya
4      Kenya
       ...
285    Kenya
286    Kenya
287    Kenya
288    Kenya
289    Kenya
Name: country, Length: 290, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - SHEET= Admin2 > Size: (290, 19)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,OBJECTID *,Shape *,admin2Name_en,admin2Pcode,admin2RefName,admin2AltName1_en,admin2AltName2_en,admin1Name_en,admin1Pcode,admin0Name_en,admin0Pcode,date,validOn,validTo,Shape_Length,Shape_Area,file,sheet,country
0,1,Polygon,Ainabkoi,KE027144,<Null>,<Null>,<Null>,Uasin Gishu,KE027,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.746986,0.040829,ken_adminboundaries_tabulardata.xlsx,Admin2,Kenya
1,2,Polygon,Ainamoi,KE035190,<Null>,<Null>,<Null>,Kericho,KE035,Kenya,KE,2017-11-03,2019-10-31,<Null>,0.917307,0.019957,ken_adminboundaries_tabulardata.xlsx,Admin2,Kenya
2,3,Polygon,Aldai,KE029152,<Null>,<Null>,<Null>,Nandi,KE029,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.402637,0.038000,ken_adminboundaries_tabulardata.xlsx,Admin2,Kenya
3,4,Polygon,Alego Usonga,KE041234,<Null>,<Null>,<Null>,Siaya,KE041,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.081354,0.049357,ken_adminboundaries_tabulardata.xlsx,Admin2,Kenya
4,5,Polygon,Awendo,KE044254,<Null>,<Null>,<Null>,Migori,KE044,Kenya,KE,2017-11-03,2019-10-31,<Null>,0.743915,0.021365,ken_adminboundaries_tabulardata.xlsx,Admin2,Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,286,Polygon,Webuye West,KE039222,<Null>,<Null>,<Null>,Bungoma,KE039,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.010876,0.019180,ken_adminboundaries_tabulardata.xlsx,Admin2,Kenya
286,287,Polygon,West Mugirango,KE046271,<Null>,<Null>,<Null>,Nyamira,KE046,Kenya,KE,2017-11-03,2019-10-31,<Null>,0.630183,0.014610,ken_adminboundaries_tabulardata.xlsx,Admin2,Kenya
287,288,Polygon,Westlands,KE047274,<Null>,<Null>,<Null>,Nairobi,KE047,Kenya,KE,2017-11-03,2019-10-31,<Null>,0.405298,0.005908,ken_adminboundaries_tabulardata.xlsx,Admin2,Kenya
288,289,Polygon,Wundanyi,KE006024,<Null>,<Null>,<Null>,Taita Taveta,KE006,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.214526,0.069243,ken_adminboundaries_tabulardata.xlsx,Admin2,Kenya
289,290,Polygon,Yatta,KE016076,<Null>,<Null>,<Null>,Machakos,KE016,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.737731,0.086211,ken_adminboundaries_tabulardata.xlsx,Admin2,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - SHEET= Admin1
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
23    Kenya
24    Kenya
25    Kenya
26    Kenya
27    Kenya
28    Kenya
29    Kenya
30    Kenya
31    Kenya
32    Kenya
33    Kenya
34    Kenya
35    Kenya
36    Kenya
37    Kenya
38    Kenya
39    Kenya
40    Kenya
41    Kenya
42    Kenya
43    Kenya
44    Kenya
45    Kenya
46    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - SHEET= Admin1 > Size: (47, 17)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,OBJECTID *,Shape *,admin1Name_en,admin1Pcode,admin1RefName,admin1AltName1_en,admin1AltName2_en,admin0Name_en,admin0Pcode,date,validOn,validTo,Shape_Length,Shape_Area,file,sheet,country
0,1,Polygon,Baringo,KE030,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,5.932315,0.884732,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
1,2,Polygon,Bomet,KE036,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,2.922220,0.198099,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
2,3,Polygon,Bungoma,KE039,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.062486,0.245058,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
3,4,Polygon,Busia,KE040,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,2.670396,0.147178,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
4,5,Polygon,Elgeyo-Marakwet,KE028,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.888933,0.244432,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
5,6,Polygon,Embu,KE014,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.386653,0.229414,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
6,7,Polygon,Garissa,KE007,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,10.490922,3.542188,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
7,8,Polygon,Homa Bay,KE043,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.373781,0.384444,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
8,9,Polygon,Isiolo,KE011,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,10.219754,2.063850,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
9,10,Polygon,Kajiado,KE034,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,7.412835,1.779183,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
10,11,Polygon,Kakamega,KE037,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,4.125304,0.244381,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
11,12,Polygon,Kericho,KE035,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.541334,0.204179,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
12,13,Polygon,Kiambu,KE022,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.193175,0.206629,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
13,14,Polygon,Kilifi,KE003,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,5.744543,1.025127,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
14,15,Polygon,Kirinyaga,KE020,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.947362,0.119858,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
15,16,Polygon,Kisii,KE045,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.692352,0.106739,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
16,17,Polygon,Kisumu,KE042,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.076286,0.216511,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
17,18,Polygon,Kitui,KE015,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,9.074169,2.475338,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
18,19,Polygon,Kwale,KE002,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,5.426097,0.673255,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
19,20,Polygon,Laikipia,KE031,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,5.381674,0.774807,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
20,21,Polygon,Lamu,KE005,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,7.980883,0.491573,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
21,22,Polygon,Machakos,KE016,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,6.081984,0.491164,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
22,23,Polygon,Makueni,KE017,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,5.983774,0.664603,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
23,24,Polygon,Mandera,KE009,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,7.282121,2.114345,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
24,25,Polygon,Marsabit,KE010,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,11.995362,6.185190,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
25,26,Polygon,Meru,KE012,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,4.400599,0.568086,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
26,27,Polygon,Migori,KE044,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,2.984960,0.255483,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
27,28,Polygon,Mombasa,KE001,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.820904,0.019024,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
28,29,Polygon,Murang'a,KE021,Muranga,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,2.632397,0.205194,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
29,30,Polygon,Nairobi,KE047,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.658061,0.057496,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
30,32,Polygon,Nandi,KE029,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.150416,0.230384,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
31,33,Polygon,Narok,KE033,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,6.986054,1.455565,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
32,34,Polygon,Nyamira,KE046,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.473206,0.072890,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
33,35,Polygon,Nyandarua,KE018,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.571838,0.265398,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
34,36,Polygon,Nyeri,KE019,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.096591,0.270909,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
35,37,Polygon,Samburu,KE025,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,8.004611,1.707814,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
36,38,Polygon,Siaya,KE041,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,2.903781,0.286005,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
37,39,Polygon,Taita Taveta,KE006,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,5.677845,1.394198,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
38,40,Polygon,Tana River,KE004,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,10.371749,3.185405,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
39,41,Polygon,Tharaka-Nithi,KE013,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.171941,0.209683,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
40,42,Polygon,Trans Nzoia,KE026,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,2.421398,0.201893,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
41,43,Polygon,Turkana,KE023,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,14.387308,5.708426,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
42,44,Polygon,Uasin Gishu,KE027,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.926051,0.275976,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
43,45,Polygon,Vihiga,KE038,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.396361,0.045533,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
44,46,Polygon,Wajir,KE008,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,10.004932,4.606489,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
45,47,Polygon,West Pokot,KE024,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,4.733996,0.756344,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya
46,49,Polygon,Nakuru,KE032,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,6.431822,0.608283,ken_adminboundaries_tabulardata.xlsx,Admin1,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - SHEET= Admin0
Country: 0    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - SHEET= Admin0 > Size: (1, 15)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,OBJECTID *,Shape *,admin0Name_en,admin0Pcode,admin0RefName,admin0AltName1_en,admin0AltName2_en,date,validOn,validTo,Shape_Length,Shape_Area,file,sheet,country
0,1,Polygon,Kenya,KE,<Null>,<Null>,<Null>,2017-11-03,2019-10-31,<Null>,44.052413,48.098756,ken_adminboundaries_tabulardata.xlsx,Admin0,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/ken_admpop_adm0_2019.csv
Country: 0      Kenya
1      Kenya
2      Kenya
3      Kenya
4      Kenya
       ...
287    Kenya
288    Kenya
289    Kenya
290    Kenya
291    Kenya
Name: country, Length: 292, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/ken_admpop_adm0_2019.csv > Size: (292, 98)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,ADM0_NAME,ADM0_PCODE,F_TL,M_TL,T_TL,F_00_04,F_05_09,F_10_14,F_15_19,F_20_24,...,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,file,sheet,country
0,Kenya,KE,24014716.0,23548056.0,47562772.0,2986769.0,3085516.0,3136142.0,2599442.0,2334777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm0_2019.csv,,Kenya
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm0_2019.csv,,Kenya
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm0_2019.csv,,Kenya
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm0_2019.csv,,Kenya
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm0_2019.csv,,Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm0_2019.csv,,Kenya
288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm0_2019.csv,,Kenya
289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm0_2019.csv,,Kenya
290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm0_2019.csv,,Kenya
291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm0_2019.csv,,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/ken_admpop_adm1_2019.csv
Country: 0      Kenya
1      Kenya
2      Kenya
3      Kenya
4      Kenya
       ...
340    Kenya
341    Kenya
342    Kenya
343    Kenya
344    Kenya
Name: country, Length: 345, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/ken_admpop_adm1_2019.csv > Size: (345, 100)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,ADM0_NAME,ADM0_PCODE,ADM1_NAME,ADM1_PCODE,F_TL,M_TL,T_TL,F_00_04,F_05_09,F_10_14,...,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,file,sheet,country
0,Kenya,KE,Mombasa,KE001,598046.0,610257.0,1208303.0,73178.0,65459.0,58280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm1_2019.csv,,Kenya
1,Kenya,KE,Kwale,KE002,441681.0,425121.0,866802.0,64761.0,65043.0,62091.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm1_2019.csv,,Kenya
2,Kenya,KE,Kilifi,KE003,749673.0,704089.0,1453762.0,99912.0,102458.0,103193.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm1_2019.csv,,Kenya
3,Kenya,KE,Tana River,KE004,157391.0,158550.0,315941.0,26006.0,25878.0,22971.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm1_2019.csv,,Kenya
4,Kenya,KE,Lamu,KE005,67813.0,76103.0,143916.0,9134.0,9241.0,8981.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm1_2019.csv,,Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm1_2019.csv,,Kenya
341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm1_2019.csv,,Kenya
342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm1_2019.csv,,Kenya
343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm1_2019.csv,,Kenya
344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ken_admpop_adm1_2019.csv,,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/health_ken.csv
Country: 0       Kenya
1       Kenya
2       Kenya
3       Kenya
4       Kenya
        ...
9407    Kenya
9408    Kenya
9409    Kenya
9410    Kenya
9411    Kenya
Name: country, Length: 9412, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/health_ken.csv > Size: (9412, 9)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value,file,sheet,country
0,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+value+num,health_ken.csv,,Kenya
1,Kenya,KEN,2014,Proportion of women subjected to physical and/...,SG.VAW.1549.ZS,25.5,health_ken.csv,,Kenya
2,Kenya,KEN,2014,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,21,health_ken.csv,,Kenya
3,Kenya,KEN,2009,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,30.9,health_ken.csv,,Kenya
4,Kenya,KEN,2003,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,45.9,health_ken.csv,,Kenya
...,...,...,...,...,...,...,...,...,...
9407,Kenya,KEN,1994,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,10.33,health_ken.csv,,Kenya
9408,Kenya,KEN,1993,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,11.39,health_ken.csv,,Kenya
9409,Kenya,KEN,1992,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,11.93,health_ken.csv,,Kenya
9410,Kenya,KEN,1991,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,11.26,health_ken.csv,,Kenya
9411,Kenya,KEN,1990,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,9.99,health_ken.csv,,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/fts_incoming_funding_ken.csv
Country: 0      Kenya
1      Kenya
2      Kenya
3      Kenya
4      Kenya
       ...
178    Kenya
179    Kenya
180    Kenya
181    Kenya
182    Kenya
Name: country, Length: 183, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/fts_incoming_funding_ken.csv > Size: (183, 40)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,date,budgetYear,description,amountUSD,srcOrganization,srcOrganizationTypes,srcLocations,srcUsageYearStart,srcUsageYearEnd,destPlan,...,originalAmount,originalCurrency,exchangeRate,id,refCode,createdAt,updatedAt,file,sheet,country
0,#date,#date+year+budget,#description+notes,#value+funding+total+usd,#org+name+funder,#org+type+funder+list,#country+iso3+funder+list,#date+year+start+funder,#date+year+end+funder,#activity+appeal+name,...,#value+funding+total,#value+funding+total+currency,#financial+fx,#activity+id+fts_internal,#activity+code,#date+created,#date+updated,fts_incoming_funding_ken.csv,,Kenya
1,2022-11-03,NaN,The Kenya Cash Consortium response to the drou...,4515300,European Commission's Humanitarian Aid and Civ...,Inter-governmental,NaN,2022,2022,Kenya Drought Flash Appeal 2022,...,4500000,EUR,0.9966,261878,ECHO/-HF/BUD/2021/91056,2022-11-03,2022-11-03,fts_incoming_funding_ken.csv,,Kenya
2,2022-11-03,2022,Nutrition\tEmergency nutrition support,195771,"Canada, Government of",Government,CAN,2022,2022,Kenya Drought Flash Appeal 2022,...,250000,CAD,1.277,263928,P012095,2022-11-21,2022-11-21,fts_incoming_funding_ken.csv,,Kenya
3,2022-10-27,2022,Integrated Emergency Drought Response in Turka...,0,"Sweden, Government of",Government,SWE,2022,2022,NaN,...,0,SEK,NaN,261264,NaN,2022-10-28,2022-11-21,fts_incoming_funding_ken.csv,,Kenya
4,2022-10-26,NaN,Kenya\tCSP\t\tFood; logistics\tFamine Response,1268116,"Canada, Government of",Government,CAN,2022,2022,Kenya Drought Flash Appeal 2022,...,1750000,CAD,1.38,261606,P012091,2022-11-01,2022-11-01,fts_incoming_funding_ken.csv,,Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,2019-05-29,2019,Emergency aid for vulnerable internally displa...,2,"Germany, Government of",Government,DEU,2019,2022,NaN,...,2,EUR,0.897,194825,AA-S09 321.50 SOM 06/19,2019-07-03,2022-11-28,fts_incoming_funding_ken.csv,,Kenya
179,2019-05-29,2022,Emergency aid for vulnerable internally displa...,533636,"Germany, Government of",Government,DEU,2022,2022,Kenya Drought Flash Appeal 2022,...,479739,EUR,0.899,232033,AA-S09 321.50 SOM 06/19,2021-05-21,2022-11-28,fts_incoming_funding_ken.csv,,Kenya
180,2019-02-18,2018,"Strategic Outcome 2: ""targeted smallholder pro...",6849315,"Germany, Government of",Government,DEU,2018,2018,NaN,...,6000000,EUR,0.876,187421,2018.1860.8,2019-02-19,2019-02-20,fts_incoming_funding_ken.csv,,Kenya
181,2018-10-05,2018,Humanitarian assistance for refugees and vulne...,0,"Germany, Government of",Government,DEU,2018,2022,NaN,...,0,EUR,0.855,181167,AA-S09-72 321.50 KEN 01/18,2018-10-06,2022-09-28,fts_incoming_funding_ken.csv,,Kenya
182,2018-10-05,2022,Humanitarian assistance for refugees and vulne...,584795,"Germany, Government of",Government,DEU,2022,2022,South Sudan Regional Refugee Response Plan 2022,...,500000,EUR,0.855,224256,AA-S09-72 321.50 KEN 01/18,2020-11-30,2022-09-28,fts_incoming_funding_ken.csv,,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/fts_requirements_funding_globalcluster_ken.csv
Country: 0      Kenya
1      Kenya
2      Kenya
3      Kenya
4      Kenya
       ...
165    Kenya
166    Kenya
167    Kenya
168    Kenya
169    Kenya
Name: country, Length: 170, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/fts_requirements_funding_globalcluster_ken.csv > Size: (170, 15)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,countryCode,id,name,code,startDate,endDate,year,clusterCode,cluster,requirements,funding,percentFunded,file,sheet,country
0,#country+code,#activity+appeal+id+fts_internal,#activity+appeal+name,#activity+appeal+id+external,#date+start,#date+end,#date+year,#sector+cluster+code,#sector+cluster+name,#value+funding+required+usd,#value+funding+total+usd,#value+funding+pct,fts_requirements_funding_globalcluster_ken.csv,,Kenya
1,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,26480,Coordination and support services,300000,4173610,1391,fts_requirements_funding_globalcluster_ken.csv,,Kenya
2,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,3,Education,32500000,317029,1,fts_requirements_funding_globalcluster_ken.csv,,Kenya
3,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,6,Food Security,100556862,92427141,92,fts_requirements_funding_globalcluster_ken.csv,,Kenya
4,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,7,Health,26600000,2188194,8,fts_requirements_funding_globalcluster_ken.csv,,Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,6,Food Security,161648523,107135103,66,fts_requirements_funding_globalcluster_ken.csv,,Kenya
166,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,7,Health,5690800,4957985,87,fts_requirements_funding_globalcluster_ken.csv,,Kenya
167,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,11,Water Sanitation Hygiene,3000000,2023454,67,fts_requirements_funding_globalcluster_ken.csv,,Kenya
168,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,NaN,Not specified,NaN,NaN,NaN,fts_requirements_funding_globalcluster_ken.csv,,Kenya
169,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,NaN,Multiple clusters/sectors (shared),NaN,0,NaN,fts_requirements_funding_globalcluster_ken.csv,,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/fts_requirements_funding_cluster_ken.csv
Country: 0      Kenya
1      Kenya
2      Kenya
3      Kenya
4      Kenya
       ...
135    Kenya
136    Kenya
137    Kenya
138    Kenya
139    Kenya
Name: country, Length: 140, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/fts_requirements_funding_cluster_ken.csv > Size: (140, 15)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,countryCode,id,name,code,startDate,endDate,year,clusterCode,cluster,requirements,funding,percentFunded,file,sheet,country
0,#country+code,#activity+appeal+id+fts_internal,#activity+appeal+name,#activity+appeal+id+external,#date+start,#date+end,#date+year,#sector+cluster+code,#sector+cluster+name,#value+funding+required+usd,#value+funding+total+usd,#value+funding+pct,fts_requirements_funding_cluster_ken.csv,,Kenya
1,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,6703,Coordination and Common Services,300000,1908218,636,fts_requirements_funding_cluster_ken.csv,,Kenya
2,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,6710,Education,32500000,317029,1,fts_requirements_funding_cluster_ken.csv,,Kenya
3,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,6704,Food Security and Livelihoods,100556862,92427141,92,fts_requirements_funding_cluster_ken.csv,,Kenya
4,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,6708,Health,26600000,2188194,8,fts_requirements_funding_cluster_ken.csv,,Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,KEN,157,Kenya 2004,FKEN04,2004-07-01,2004-12-31,2004,NaN,Multiple clusters/sectors (shared),NaN,0,NaN,fts_requirements_funding_cluster_ken.csv,,Kenya
136,KEN,93,Kenya Drought Donor Alert 2002,OKEN02,2002-01-01,2002-12-31,2002,NaN,Not specified,NaN,19891797,NaN,fts_requirements_funding_cluster_ken.csv,,Kenya
137,KEN,93,Kenya Drought Donor Alert 2002,OKEN02,2002-01-01,2002-12-31,2002,NaN,Multiple clusters/sectors (shared),NaN,0,NaN,fts_requirements_funding_cluster_ken.csv,,Kenya
138,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,NaN,Not specified,NaN,114513292,NaN,fts_requirements_funding_cluster_ken.csv,,Kenya
139,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,NaN,Multiple clusters/sectors (shared),NaN,0,NaN,fts_requirements_funding_cluster_ken.csv,,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/fts_requirements_funding_covid_ken.csv
Country: 0    Kenya
1    Kenya
2    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/fts_requirements_funding_covid_ken.csv > Size: (3, 16)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,countryCode,id,name,code,typeId,typeName,startDate,endDate,year,requirements,funding,covidFunding,covidPercentageOfFunding,file,sheet,country
0,#country+code,#activity+appeal+id+fts_internal,#activity+appeal+name,#activity+appeal+id+external,#activity+appeal+type+id+fts_internal,#activity+appeal+type+name,#date+start,#date+end,#date+year,#value+funding+required+usd,#value+funding+total+usd,#value+funding+covid+usd,#value+funding+covid+pct,fts_requirements_funding_covid_ken.csv,,Kenya
1,KEN,947,South Sudan Regional Refugee Response Plan 2020,RETHKENUGA20,111,Regional response plan,2020-01-01,2020-12-31,2020,NaN,20360944,1868458,9,fts_requirements_funding_covid_ken.csv,,Kenya
2,KEN,1000,Kenya Intersectoral COVID-19 Response Plan 2020,OKEN20,1614,Other,2020-01-05,2020-12-31,2020,254870684,62447872,62105472,99,fts_requirements_funding_covid_ken.csv,,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/fts_requirements_funding_ken.csv
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
22    Kenya
23    Kenya
24    Kenya
25    Kenya
26    Kenya
27    Kenya
28    Kenya
29    Kenya
30    Kenya
31    Kenya
32    Kenya
33    Kenya
34    Kenya
35    Kenya
36    Kenya
37    Kenya
38    Kenya
39    Kenya
40    Kenya
41    Kenya
42    Kenya
43    Kenya
44    Kenya
45    Kenya
46    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/fts_requirements_funding_ken.csv > Size: (47, 15)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,countryCode,id,name,code,typeId,typeName,startDate,endDate,year,requirements,funding,percentFunded,file,sheet,country
0,#country+code,#activity+appeal+id+fts_internal,#activity+appeal+name,#activity+appeal+id+external,#activity+appeal+type+id+fts_internal,#activity+appeal+type+name,#date+start,#date+end,#date+year,#value+funding+required+usd,#value+funding+total+usd,#value+funding+pct,fts_requirements_funding_ken.csv,,Kenya
1,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2024,NaN,1260683,NaN,fts_requirements_funding_ken.csv,,Kenya
2,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2023,NaN,5813525,NaN,fts_requirements_funding_ken.csv,,Kenya
3,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,5,Flash appeal,2022-01-01,2022-10-31,2022,289641587,159278984,55,fts_requirements_funding_ken.csv,,Kenya
4,KEN,1071,South Sudan Regional Refugee Response Plan 2022,RSSDRRP22,111,Regional response plan,2022-01-01,2022-12-31,2022,115212050,219916873,191,fts_requirements_funding_ken.csv,,Kenya
5,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2022,NaN,22848139,NaN,fts_requirements_funding_ken.csv,,Kenya
6,KEN,1073,Kenya Drought Flash Appeal 2021,FKEN21,5,Flash appeal,2021-10-01,2021-12-31,2021,69749280,27058285,39,fts_requirements_funding_ken.csv,,Kenya
7,KEN,1019,South Sudan Regional Refugee Response Plan 2021,RETHKENUGA21,111,Regional response plan,2021-01-01,2021-12-31,2021,110470849,48146292,44,fts_requirements_funding_ken.csv,,Kenya
8,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2021,NaN,114303648,NaN,fts_requirements_funding_ken.csv,,Kenya
9,KEN,947,South Sudan Regional Refugee Response Plan 2020,RETHKENUGA20,111,Regional response plan,2020-01-01,2020-12-31,2020,NaN,20360944,NaN,fts_requirements_funding_ken.csv,,Kenya
10,KEN,1000,Kenya Intersectoral COVID-19 Response Plan 2020,OKEN20,1614,Other,2020-01-05,2020-12-31,2020,254870684,62447872,25,fts_requirements_funding_ken.csv,,Kenya
11,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2020,NaN,97069837,NaN,fts_requirements_funding_ken.csv,,Kenya
12,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2019,NaN,207955899,NaN,fts_requirements_funding_ken.csv,,Kenya
13,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2018,NaN,218208879,NaN,fts_requirements_funding_ken.csv,,Kenya
14,KEN,589,Kenya Flash Appeal 2017,FKEN17,5,Flash appeal,2017-02-10,2017-11-30,2017,119865259,157687513,132,fts_requirements_funding_ken.csv,,Kenya
15,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2017,NaN,182509148,NaN,fts_requirements_funding_ken.csv,,Kenya
16,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2016,NaN,209189627,NaN,fts_requirements_funding_ken.csv,,Kenya
17,KEN,481,South Sudan regional refugee response plan 201...,RXSSDREG15,111,Regional response plan,2015-01-01,2015-12-31,2015,92206190,34794417,38,fts_requirements_funding_ken.csv,,Kenya
18,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2015,NaN,172574957,NaN,fts_requirements_funding_ken.csv,,Kenya
19,KEN,451,South Sudan Regional Refugee Response Plan (Et...,RXSSDREG14,111,Regional response plan,2014-01-01,2014-12-31,2014,99775632,54756475,55,fts_requirements_funding_ken.csv,,Kenya
20,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2014,NaN,210621192,NaN,fts_requirements_funding_ken.csv,,Kenya
21,KEN,406,Kenya Emergency Humanitarian Response Plan 2013,CKEN13,110,CAP,2013-01-01,2013-12-31,2013,663311782,372462747,56,fts_requirements_funding_ken.csv,,Kenya
22,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2013,NaN,71273354,NaN,fts_requirements_funding_ken.csv,,Kenya
23,KEN,373,2012+ Kenya Emergency Humanitarian Response Plan,CKEN12,110,CAP,2012-01-01,2012-12-31,2012,796807640,545023141,68,fts_requirements_funding_ken.csv,,Kenya
24,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2012,NaN,91666002,NaN,fts_requirements_funding_ken.csv,,Kenya
25,KEN,353,2011+ Kenya Emergency Humanitarian Response Plan,CKEN1113,110,CAP,2011-01-01,2013-12-31,2011,741818150,532438919,72,fts_requirements_funding_ken.csv,,Kenya
26,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2011,NaN,113733633,NaN,fts_requirements_funding_ken.csv,,Kenya
27,KEN,326,Kenya Emergency Humanitarian Response Plan 2010,CKEN10,110,CAP,2010-01-01,2010-12-31,2010,603544553,399288552,66,fts_requirements_funding_ken.csv,,Kenya
28,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2010,NaN,18058648,NaN,fts_requirements_funding_ken.csv,,Kenya
29,KEN,302,Kenya Emergency Humanitarian Response Plan 2009,CKEN09,110,CAP,2009-01-01,2009-12-31,2009,469639939,490345007,104,fts_requirements_funding_ken.csv,,Kenya
30,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2009,NaN,44959950,NaN,fts_requirements_funding_ken.csv,,Kenya
31,KEN,271,Kenya Emergency Humanitarian Response Plan (Re...,FKEN08,5,Flash appeal,2008-01-01,2008-07-01,2008,207568401,136895869,66,fts_requirements_funding_ken.csv,,Kenya
32,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2008,NaN,122809404,NaN,fts_requirements_funding_ken.csv,,Kenya
33,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2007,NaN,29829365,NaN,fts_requirements_funding_ken.csv,,Kenya
34,KEN,218,Kenya 2006,FKEN0607,5,Flash appeal,2006-10-16,2007-04-15,2006,35252275,36914174,105,fts_requirements_funding_ken.csv,,Kenya
35,KEN,234,Kenya: 2006 November Floods,FKEN06,5,Flash appeal,2006-11-22,2006-12-31,2006,53744639,35343384,66,fts_requirements_funding_ken.csv,,Kenya
36,KEN,208,Horn of Africa 2006,CXHAF06,110,CAP,2006-01-01,2006-12-31,2006,52884862,16172826,31,fts_requirements_funding_ken.csv,,Kenya
37,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2006,NaN,195475639,NaN,fts_requirements_funding_ken.csv,,Kenya
38,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2005,NaN,19356939,NaN,fts_requirements_funding_ken.csv,,Kenya
39,KEN,157,Kenya 2004,FKEN04,5,Flash appeal,2004-07-01,2004-12-31,2004,83249327,46115017,55,fts_requirements_funding_ken.csv,,Kenya
40,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2004,NaN,15893374,NaN,fts_requirements_funding_ken.csv,,Kenya
41,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2003,NaN,7275889,NaN,fts_requirements_funding_ken.csv,,Kenya
42,KEN,93,Kenya Drought Donor Alert 2002,OKEN02,6,Other,2002-01-01,2002-12-31,2002,59482798,19891797,33,fts_requirements_funding_ken.csv,,Kenya
43,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2002,NaN,21149798,NaN,fts_requirements_funding_ken.csv,,Kenya
44,KEN,71,Kenya Drought 2001,OKEN01,6,Other,2001-01-01,2001-12-31,2001,182077601,114513292,63,fts_requirements_funding_ken.csv,,Kenya
45,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2001,NaN,16009306,NaN,fts_requirements_funding_ken.csv,,Kenya
46,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2000,NaN,7657412,NaN,fts_requirements_funding_ken.csv,,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/kenya-health-facilities-2017_08_02.xlsx - SHEET= Sheet1
Country: 0       Kenya
1       Kenya
2       Kenya
3       Kenya
4       Kenya
        ...
8927    Kenya
8928    Kenya
8929    Kenya
8930    Kenya
8931    Kenya
Name: country, Length: 8932, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/kenya-health-facilities-2017_08_02.xlsx - SHEET= Sheet1 > Size: (8932, 25)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Code,Name,Registration_number,Keph level,Facility type,Owner,Regulatory body,Beds,Cots,County,...,Open_public_holidays,Open_weekends,Open_late_night,Service_names,Approved,Public visible,Closed,file,sheet,country
0,22998,Kaka Medical Clinic,None,Level 2,Dispensaries and clinic-out patient only,Private Practice - Medical Specialist,None,0,0,KAKAMEGA,...,No,No,No,NaN,Yes,Yes,No,kenya-health-facilities-2017_08_02.xlsx,Sheet1,Kenya
1,22985,KOPANGA DISPENSARY,None,Level 2,Basic primary health care facility,Ministry of Health,None,2,1,MIGORI,...,No,No,No,NaN,Yes,Yes,No,kenya-health-facilities-2017_08_02.xlsx,Sheet1,Kenya
2,22977,Fairview Medical Centre,None,Level 2,Secondary care hospitals,Private Practice - Unspecified,Nursing Council of Kenya (Private Practice),4,0,NAIROBI,...,No,Yes,No,NaN,Yes,Yes,No,kenya-health-facilities-2017_08_02.xlsx,Sheet1,Kenya
3,22976,RADIANT GROUP OF HOSPITALS-UMOJA,None,Level 3,Secondary care hospitals,Private Practice - Unspecified,Kenya MPDB - Private Practice,34,0,NAIROBI,...,Yes,Yes,Yes,NaN,Yes,Yes,No,kenya-health-facilities-2017_08_02.xlsx,Sheet1,Kenya
4,22971,Songot Medical Clinic,None,Level 2,Basic primary health care facility,Private Practice - Nurse / Midwifery,None,0,0,TURKANA,...,No,No,No,NaN,Yes,Yes,No,kenya-health-facilities-2017_08_02.xlsx,Sheet1,Kenya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8927,10628,Kirichu Market Medical Clinic,None,Level 2,Dispensaries and clinic-out patient only,Private Practice - Nurse / Midwifery,Nursing Council of Kenya (Private Practice),0,0,NYERI,...,No,No,No,NaN,Yes,Yes,No,kenya-health-facilities-2017_08_02.xlsx,Sheet1,Kenya
8928,10185,Fr Baldo Cath Disp,None,Level 2,Dispensaries and clinic-out patient only,Kenya Episcopal Conference-Catholic Secretariat,Kenya MPDB - Private Practice,0,0,NYANDARUA,...,No,No,No,NaN,Yes,Yes,No,kenya-health-facilities-2017_08_02.xlsx,Sheet1,Kenya
8929,11867,Ukunda Diani Catholic Dispensary,None,Level 2,Dispensaries and clinic-out patient only,Kenya Episcopal Conference-Catholic Secretariat,Kenya MPDB - Institution,0,0,KWALE,...,No,No,No,NaN,Yes,Yes,No,kenya-health-facilities-2017_08_02.xlsx,Sheet1,Kenya
8930,10320,Holy Family Dispensary,None,Level 2,Dispensaries and clinic-out patient only,Kenya Episcopal Conference-Catholic Secretariat,Kenya MPDB - Institution,0,0,NYANDARUA,...,No,No,No,NaN,Yes,Yes,No,kenya-health-facilities-2017_08_02.xlsx,Sheet1,Kenya
8931,16500,Genesis Community Bamako Initiative,None,Level 2,Basic primary health care facility,Non-Governmental Organizations,Kenya MPDB - Institution,0,0,KIRINYAGA,...,No,No,No,NaN,Yes,Yes,No,kenya-health-facilities-2017_08_02.xlsx,Sheet1,Kenya

===================================================================================================


/content/drive/MyDrive/Kenya/Data metadata - Sheet1.csv
Country: 0     Kenya
1     Kenya
2     Kenya
3     Kenya
4     Kenya
5     Kenya
6     Kenya
7     Kenya
8     Kenya
9     Kenya
10    Kenya
11    Kenya
12    Kenya
13    Kenya
14    Kenya
15    Kenya
16    Kenya
17    Kenya
18    Kenya
19    Kenya
20    Kenya
21    Kenya
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Kenya/Data metadata - Sheet1.csv > Size: (22, 10)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,ID,Dataset,Dataset download,Google Drive or Github link to downloaded data (if you can put what you’ve downloaded into a shared location!),Dataset description,Geographic levels,Visuals,file,sheet,country
0,K1,Kenya - Who is doing what and where 2017 - Hum...,Download KENYA 3W FINAL LIST 2017.xlsx 4fa5ea6...,kenya-3w-final-list-2017.xlsx,Kenya - Who is doing what and where 2017\n\nDa...,County,NaN,Data metadata - Sheet1.csv,,Kenya
1,K2,Kenya: Acute Food Insecurity Country Data,Download KEN_Food_Insecurity_2019-2022.xlsx 72...,GoogDrive: Acute Food Insecurity Data xlsx,Kenya: Acute Food Insecurity Country Data\nThi...,Town,NaN,Data metadata - Sheet1.csv,,Kenya
2,K3,Kenya - Average Monthly Retail Prices for Dry ...,Download Retail Prices for dry beans 2019.xlsx...,Retail Prices for Dry Beans-2019 xlsx\n\nRetai...,Kenya - Average Monthly Retail Prices for Dry ...,Town,NaN,Data metadata - Sheet1.csv,,Kenya
3,K4,Kenya - Food Prices - Humanitarian Data Exchange,https://data.humdata.org/dataset/e0d3fba6-f9a2...,wfp Food Prices 2006-2022.csv,Kenya - Food Prices\n\nThis dataset contains F...,Province,NaN,Data metadata - Sheet1.csv,,Kenya
4,K5,Kenya: Acute Food Insecurity Country Data,https://map.ipcinfo.org/api/public/population-...,Kenya - IPC Analysis 2017-2022.xlsx,Kenya: Acute Food Insecurity Country Data\nThi...,County,NaN,Data metadata - Sheet1.csv,,Kenya
5,K6,Kenya: Acute Food Insecurity Country Data,https://fdw.fews.net/api/ipcpackage/?country_c...,Likely Food Security Shapefile,NaN,NaN,NaN,Data metadata - Sheet1.csv,,Kenya
6,NaN,[Duplicate removed - AHP],NaN,NaN,NaN,NaN,NaN,Data metadata - Sheet1.csv,,Kenya
7,K7,Kenya - Value of Recorded Marketed Agricultura...,Download Value of Recorded Marketed Agricultur...,Value of Recorded Marketed Ag Production 2014-...,Kenya - Value of Recorded Marketed Agricultura...,National,NaN,Data metadata - Sheet1.csv,,Kenya
8,K8,Kenya - Per Capita Food Consumption - Humanita...,"Download Per Capita Food Consumption, 2017 and...",Per Capita Consumption2017-2018.xlsx,Kenya - Per Capita Food Consumption\n\nThe Foo...,National,NaN,Data metadata - Sheet1.csv,,Kenya
9,K9,Kenya - Food Security(Livelihood Zone Map) - H...,Download kenya_livehood_shapefiles.zip 944a906...,Kenya livelihood shapefiles.zip,Kenya - Food Security(Livelihood Zone Map)\n\n...,NaN,NaN,Data metadata - Sheet1.csv,,Kenya
10,K10,Food Consumption Score (FCS) - Humanitarian Da...,Download dbo_FoodConsumptionScores.csv d4e141a...,dbo-foodconsumptionscores.csv,The Food Consumption Score (FCS) dataset is ba...,Major Regions,NaN,Data metadata - Sheet1.csv,,Kenya
11,K11,Kenya - Subnational Population Statistics - Hu...,https://data.humdata.org/dataset/26801642-7088...,Kenya Subnational Populations Stats.xlsx,Kenya administrative level 0-2 projected 2019 ...,"National, County & Sub-County",NaN,Data metadata - Sheet1.csv,,Kenya
12,K12,Kenya - Subnational Population Statistics - Hu...,https://data.humdata.org/dataset/26801642-7088...,"Admin Boundaries Tabular Data (Area, etc.).xls...",Kenya administrative level 0-2 projected 2019 ...,"County, Sub-County (Constituency)",NaN,Data metadata - Sheet1.csv,,Kenya
13,K13,Kenya - Subnational Administrative Boundaries ...,https://data.humdata.org/dataset/2c0b7571-4bef...,Kenya Administrative Boundaries shapefiles.zip,"Kenya administrative level 0 (country), 1 (cou...",NaN,NaN,Data metadata - Sheet1.csv,,Kenya
14,K14,Health facilities in Kenya - Humanitarian Data...,https://data.humdata.org/dataset/7b9c2851-dc37...,kenya-health-facilities-2017_08_02.xlsx,This Dataset contains all health facilities an...,"County, Subcounty, ward",NaN,Data metadata - Sheet1.csv,,Kenya
15,K15,HOTOSM Kenya Roads (OpenStreetMap Export) - Hu...,https://export.hotosm.org/downloads/6b3f8c4a-5...,Kenya Roads Lines Shapefile.zip,HOTOSM Kenya Roads (OpenStreetMap Export)\nOpe...,NaN,NaN,Data metadata - Sheet1.csv,,Kenya
16,K16,Kenya - Requirements and Funding Data,https://data.humdata.org/dataset/d0bf93aa-bc16...,fts_requirements_funding_ken.csv,HOTOSM Kenya Roads (OpenStreetMap Export)\nOpe...,National,NaN,Data metadata - Sheet1.csv,,Kenya
17,K17,Kenya - Requirements and Funding Data,https://data.humdata.org/dataset/d0bf93aa-bc16...,fts_requirements_funding_covid_ken.csv,Kenya - Requirements and Funding Data\nThis da...,National,NaN,Data metadata - Sheet1.csv,,Kenya
18,K18,Kenya - Requirements and Funding Data,https://data.humdata.org/dataset/d0bf93aa-bc16...,fts_requirements_funding_cluster_ken.csv,Kenya - Requirements and Funding Data\nThis da...,National,NaN,Data metadata - Sheet1.csv,,Kenya
19,K19,Kenya - Requirements and Funding Data,https://data.humdata.org/dataset/d0bf93aa-bc16...,fts_requirements_funding_globalcluster_ken.csv,Kenya - Requirements and Funding Data\nThis da...,National,NaN,Data metadata - Sheet1.csv,,Kenya
20,K20,Kenya - Requirements and Funding Data,https://data.humdata.org/dataset/d0bf93aa-bc16...,fts_incoming_funding_ken.csv,Kenya - Requirements and Funding Data\nThis da...,Country,NaN,Data metadata - Sheet1.csv,,Kenya
21,K21,Kenya - Health - Humanitarian Data Exchange - ...,https://data.humdata.org/dataset/e849a312-8962...,health_ken.csv,Kenya - Health\nContains data from the World B...,Country,NaN,Data metadata - Sheet1.csv,,Kenya

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia - Who is Doing What and Where (3W)- October 2022.xlsx - SHEET= 3W_Data
Country: 0        Somalia
1        Somalia
2        Somalia
3        Somalia
4        Somalia
          ...
44468    Somalia
44469    Somalia
44470    Somalia
44471    Somalia
44472    Somalia
Name: country, Length: 44473, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia - Who is Doing What and Where (3W)- October 2022.xlsx - SHEET= 3W_Data > Size: (44473, 9)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Cluster,Org. Name,Org. Acronym,Org Type,Region,District,file,sheet,country
0,#sector +cluster +code,#org +name,#org +acronym,#org +type +name,#adm1+name,#adm2+name,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data,Somalia
1,CCCM,Agency for Technical Cooperation and Development,ACTED,INGO,Bay,Baydhaba,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data,Somalia
2,CCCM,Agency for Technical Cooperation and Development,ACTED,INGO,Woqooyi Galbeed,Hargeysa,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data,Somalia
3,CCCM,Agency for Technical Cooperation and Development,ACTED,INGO,Sanaag,Ceel Afweyn,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data,Somalia
4,CCCM,Agency for Technical Cooperation and Development,ACTED,INGO,Sanaag,Ceerigaabo,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data,Somalia
...,...,...,...,...,...,...,...,...,...
44468,Nutrition,SOS Children's Village,SOS,INGO,Bay,Buur Hakaba,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data,Somalia
44469,Nutrition,SOS Children's Village,SOS,INGO,Bay,Buur Hakaba,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data,Somalia
44470,Nutrition,SOS Children's Village,SOS,INGO,Bay,Buur Hakaba,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data,Somalia
44471,Nutrition,SOS Children's Village,SOS,INGO,Bay,Buur Hakaba,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data,Somalia
44472,Nutrition,SOS Children's Village,SOS,INGO,Bakool,Xudur,Somalia - Who is Doing What and Where (3W)- Oc...,3W_Data,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/wfp_food_prices_som.csv
Country: 0        Somalia
1        Somalia
2        Somalia
3        Somalia
4        Somalia
          ...
21855    Somalia
21856    Somalia
21857    Somalia
21858    Somalia
21859    Somalia
Name: country, Length: 21860, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/wfp_food_prices_som.csv > Size: (21860, 17)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,file,sheet,country
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd,wfp_food_prices_som.csv,,Somalia
1,1995-01-15,Banadir,Banadir,Mogadishu,2.0666667,45.3666667,cereals and tubers,Sorghum (red),KG,actual,Retail,SOS,700.0,0.085,wfp_food_prices_som.csv,,Somalia
2,1995-02-15,Banadir,Banadir,Mogadishu,2.0666667,45.3666667,cereals and tubers,Sorghum (red),KG,actual,Retail,SOS,525.0,0.0628,wfp_food_prices_som.csv,,Somalia
3,1995-03-15,Banadir,Banadir,Mogadishu,2.0666667,45.3666667,cereals and tubers,Sorghum (red),KG,actual,Retail,SOS,600.0,0.0708,wfp_food_prices_som.csv,,Somalia
4,1995-04-15,Banadir,Banadir,Mogadishu,2.0666667,45.3666667,cereals and tubers,Sorghum (red),KG,actual,Retail,SOS,900.0,0.1046,wfp_food_prices_som.csv,,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21855,2022-07-15,Togdheer,Burco,Burco,9.52749,45.537472,miscellaneous food,Sugar (white),KG,forecast,Retail,SLS,0.0,NaN,wfp_food_prices_som.csv,,Somalia
21856,2022-07-15,Togdheer,Burco,Burco,9.52749,45.537472,non-food,Exchange rate,USD/LCU,forecast,Retail,SLS,0.0,NaN,wfp_food_prices_som.csv,,Somalia
21857,2022-07-15,Togdheer,Burco,Burco,9.52749,45.537472,oil and fats,"Oil (vegetable, imported)",L,forecast,Retail,SLS,0.0,NaN,wfp_food_prices_som.csv,,Somalia
21858,2022-07-15,Woqooyi Galbeed,Hargeysa,Hargeysa,9.559749603271484,44.06678009033203,cereals and tubers,Sorghum (white),KG,forecast,Retail,SLS,0.0,NaN,wfp_food_prices_som.csv,,Somalia
21859,2022-07-15,Woqooyi Galbeed,Hargeysa,Hargeysa,9.559749603271484,44.06678009033203,non-food,Exchange rate,USD/LCU,forecast,Retail,SLS,0.0,NaN,wfp_food_prices_som.csv,,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia Monthly FEWS NET Staple Food Price.csv
Country: 0        Somalia
1        Somalia
2        Somalia
3        Somalia
4        Somalia
          ...
33853    Somalia
33854    Somalia
33855    Somalia
33856    Somalia
33857    Somalia
Name: country, Length: 33858, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia Monthly FEWS NET Staple Food Price.csv > Size: (33858, 17)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,country,market,admin_1,longitude,latitude,cpcv2,product,source_document,period_date,price_type,product_source,unit,unit_type,currency,value,file,sheet
0,Somalia,Abudwak,Galgaduud,46.39727,6.148109,P02293AA,Camel's Milk (Raw),Food Security and Nutrition Analysis Unit/Fami...,2015-05-31,Retail,Local,L,Volume,SOS,25000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
1,Somalia,Abudwak,Galgaduud,46.39727,6.148109,P02293AA,Camel's Milk (Raw),Food Security and Nutrition Analysis Unit/Fami...,2015-06-30,Retail,Local,L,Volume,SOS,28200.0,Somalia Monthly FEWS NET Staple Food Price.csv,
2,Somalia,Abudwak,Galgaduud,46.39727,6.148109,P02293AA,Camel's Milk (Raw),Food Security and Nutrition Analysis Unit/Fami...,2015-07-31,Retail,Local,L,Volume,SOS,29000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
3,Somalia,Abudwak,Galgaduud,46.39727,6.148109,P02293AA,Camel's Milk (Raw),Food Security and Nutrition Analysis Unit/Fami...,2015-08-31,Retail,Local,L,Volume,SOS,36000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
4,Somalia,Abudwak,Galgaduud,46.39727,6.148109,P02293AA,Camel's Milk (Raw),Food Security and Nutrition Analysis Unit/Fami...,2015-09-30,Retail,Local,L,Volume,SOS,36000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33853,Somalia,Zeilac/Lawayacado,Awdal,43.47280,11.354600,P18000AA,"Water (potable, drinking)",Food Security and Nutrition Analysis Unit/Fami...,2022-05-31,Retail,Local,200_L,Volume,SLS,5000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
33854,Somalia,Zeilac/Lawayacado,Awdal,43.47280,11.354600,P18000AA,"Water (potable, drinking)",Food Security and Nutrition Analysis Unit/Fami...,2022-06-30,Retail,Local,200_L,Volume,SLS,5000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
33855,Somalia,Zeilac/Lawayacado,Awdal,43.47280,11.354600,P18000AA,"Water (potable, drinking)",Food Security and Nutrition Analysis Unit/Fami...,2022-07-31,Retail,Local,200_L,Volume,SLS,5000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
33856,Somalia,Zeilac/Lawayacado,Awdal,43.47280,11.354600,P18000AA,"Water (potable, drinking)",Food Security and Nutrition Analysis Unit/Fami...,2022-08-31,Retail,Local,200_L,Volume,SLS,5000.0,Somalia Monthly FEWS NET Staple Food Price.csv,
33857,Somalia,Zeilac/Lawayacado,Awdal,43.47280,11.354600,P18000AA,"Water (potable, drinking)",Food Security and Nutrition Analysis Unit/Fami...,2022-09-30,Retail,Local,200_L,Volume,SLS,3875.0,Somalia Monthly FEWS NET Staple Food Price.csv,

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= Data
Country: 0        Somalia
1        Somalia
2        Somalia
3        Somalia
4        Somalia
          ...
31081    Somalia
31082    Somalia
31083    Somalia
31084    Somalia
31085    Somalia
Name: country, Length: 31086, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= Data > Size: (31086, 8)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Cluster,Organization,Org Type,Region,District,file,sheet,country
0,#sector+cluster+name,#org+name,#org+type,#adm1+name,#adm2+name,Somalia_Operational Presence_March.xlsx,Data,Somalia
1,CCCM,Agency for Technical Cooperation and Developme...,INGO,Lower Juba,Kismaayo,Somalia_Operational Presence_March.xlsx,Data,Somalia
2,CCCM,Agency for Technical Cooperation and Developme...,INGO,Bay,Baidoa,Somalia_Operational Presence_March.xlsx,Data,Somalia
3,CCCM,Agency for Technical Cooperation and Developme...,INGO,Sool,Caynabo,Somalia_Operational Presence_March.xlsx,Data,Somalia
4,CCCM,Agency for Technical Cooperation and Developme...,INGO,Bay,Baidoa,Somalia_Operational Presence_March.xlsx,Data,Somalia
...,...,...,...,...,...,...,...,...
31081,WASH,Action Contre Lafeim (ACF),INGO,Nugaal,Eyl,Somalia_Operational Presence_March.xlsx,Data,Somalia
31082,Nutrition,Ministry of Health (MOH),Gov,Nugaal,Burtinle,Somalia_Operational Presence_March.xlsx,Data,Somalia
31083,Nutrition,Ministry of Health (MOH),Gov,Nugaal,Burtinle,Somalia_Operational Presence_March.xlsx,Data,Somalia
31084,Nutrition,Ministry of Health (MOH),Gov,Nugaal,Burtinle,Somalia_Operational Presence_March.xlsx,Data,Somalia
31085,Nutrition,Ministry of Health (MOH),Gov,Togdheer,Buuhoodle,Somalia_Operational Presence_March.xlsx,Data,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= Analysis
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
18    Somalia
19    Somalia
20    Somalia
21    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= Analysis > Size: (22, 25)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Type of Org,# of Orgs,% Percentage,# of Regions,# of Districts,Unnamed: 5,Unnamed: 6,Unnamed: 7,Region,CCCM,...,Health,HLP,Nutrition,Protection,Shelter/ NFI,WASH,Grand Total,file,sheet,country
0,Gov,9,0.033088,14,39.0,NaN,NaN,NaN,Awdal,0.0,...,0.0,0.0,4.0,4.0,0.0,3.0,22.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
1,INGO,55,0.202206,18,72.0,NaN,NaN,NaN,Bakool,0.0,...,6.0,0.0,7.0,8.0,0.0,6.0,38.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
2,NNGO,199,0.731618,18,73.0,NaN,NaN,NaN,Banadir,4.0,...,10.0,3.0,15.0,10.0,4.0,15.0,64.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
3,Other,3,0.011029,11,16.0,NaN,NaN,NaN,Bari,2.0,...,1.0,1.0,7.0,7.0,1.0,12.0,40.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
4,UN,6,0.022059,18,64.0,NaN,NaN,NaN,Bay,5.0,...,9.0,1.0,10.0,9.0,4.0,17.0,61.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
5,Grand Total,272,1,18,73.0,NaN,NaN,NaN,Galgaduud,0.0,...,5.0,1.0,8.0,6.0,2.0,14.0,49.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gedo,2.0,...,5.0,1.0,8.0,8.0,2.0,18.0,51.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hiraan,2.0,...,3.0,1.0,5.0,3.0,1.0,11.0,44.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
8,Cluster,# of Orgs,# of Regions,# of Districts,NaN,NaN,NaN,NaN,Lower Juba,4.0,...,8.0,1.0,13.0,8.0,3.0,14.0,54.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
9,CCCM,17,13,21,NaN,NaN,NaN,NaN,Lower Shabelle,2.0,...,8.0,0.0,10.0,6.0,1.0,11.0,43.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
10,Child Protection,40,18,60,NaN,NaN,NaN,NaN,Middle Juba,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,6.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
11,Education,33,15,44,NaN,NaN,NaN,NaN,Middle Shabelle,1.0,...,7.0,1.0,8.0,6.0,3.0,13.0,46.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
12,Explosive Hazard,6,14,22,NaN,NaN,NaN,NaN,Mudug,4.0,...,4.0,0.0,10.0,9.0,2.0,12.0,50.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
13,FSC,107,17,65,NaN,NaN,NaN,NaN,Nugaal,3.0,...,0.0,1.0,6.0,4.0,1.0,8.0,37.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
14,GBV,41,17,51,NaN,NaN,NaN,NaN,Sanaag,1.0,...,2.0,0.0,6.0,3.0,0.0,8.0,31.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
15,Health,32,15,43,NaN,NaN,NaN,NaN,Sool,1.0,...,2.0,1.0,9.0,4.0,0.0,12.0,39.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
16,HLP,4,12,13,NaN,NaN,NaN,NaN,Togdheer,0.0,...,1.0,1.0,10.0,4.0,0.0,10.0,39.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
17,Nutrition,56,17,65,NaN,NaN,NaN,NaN,Woqooyi Galbeed,2.0,...,2.0,1.0,7.0,6.0,2.0,5.0,47.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
18,Protection,48,18,59,NaN,NaN,NaN,NaN,Grand Total,17.0,...,32.0,4.0,56.0,48.0,10.0,63.0,272.0,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
19,Shelter/ NFI,10,12,21,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
20,WASH,63,17,58,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia_Operational Presence_March.xlsx,Analysis,Somalia
21,Grand Total,272,18,73,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia_Operational Presence_March.xlsx,Analysis,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= InterCluster Map
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
69    Somalia
70    Somalia
71    Somalia
72    Somalia
73    Somalia
Name: country, Length: 74, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= InterCluster Map > Size: (74, 11)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,P_Code,District,Gov,INGO,NNGO,Other,UN,Grand Total,file,sheet,country
0,SO2102,Adan Yabaal,0,1,2,0,0,3,Somalia_Operational Presence_March.xlsx,InterCluster Map,Somalia
1,SO2302,Afgooye,0,9,15,1,5,30,Somalia_Operational Presence_March.xlsx,InterCluster Map,Somalia
2,SO2802,Afmadow,2,12,11,0,5,30,Somalia_Operational Presence_March.xlsx,InterCluster Map,Somalia
3,SO2602,Baardheere,0,8,19,0,4,31,Somalia_Operational Presence_March.xlsx,InterCluster Map,Somalia
4,SO2803,Badhaadhe,1,5,10,0,2,18,Somalia_Operational Presence_March.xlsx,InterCluster Map,Somalia
...,...,...,...,...,...,...,...,...,...,...,...
69,SO1805,Xarardheere,0,0,4,0,1,5,Somalia_Operational Presence_March.xlsx,InterCluster Map,Somalia
70,SO1404,Xudun,1,7,6,0,2,16,Somalia_Operational Presence_March.xlsx,InterCluster Map,Somalia
71,SO2501,Xudur,1,10,10,0,4,25,Somalia_Operational Presence_March.xlsx,InterCluster Map,Somalia
72,SO1104,Zeylac,1,4,4,0,2,11,Somalia_Operational Presence_March.xlsx,InterCluster Map,Somalia
73,NaN,Grand Total,9,55,199,3,6,272,Somalia_Operational Presence_March.xlsx,InterCluster Map,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= Cluster Map
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
69    Somalia
70    Somalia
71    Somalia
72    Somalia
73    Somalia
Name: country, Length: 74, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= Cluster Map > Size: (74, 18)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,P_Code,District,CCCM,Child Protection,Education,Explosive Hazard,FSC,GBV,Health,HLP,Nutrition,Protection,Shelter/ NFI,WASH,Grand Total,file,sheet,country
0,SO2102,Adan Yabaal,0,1,0,0,0,0,0,0,0,3,0,0,3,Somalia_Operational Presence_March.xlsx,Cluster Map,Somalia
1,SO2302,Afgooye,1,3,2,2,5,4,4,0,6,3,0,7,30,Somalia_Operational Presence_March.xlsx,Cluster Map,Somalia
2,SO2802,Afmadow,0,2,5,4,10,4,6,0,5,3,3,9,30,Somalia_Operational Presence_March.xlsx,Cluster Map,Somalia
3,SO2602,Baardheere,0,0,3,0,12,2,2,1,3,6,1,7,31,Somalia_Operational Presence_March.xlsx,Cluster Map,Somalia
4,SO2803,Badhaadhe,0,0,0,0,5,0,3,0,6,4,0,8,18,Somalia_Operational Presence_March.xlsx,Cluster Map,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,SO1805,Xarardheere,0,0,1,0,3,0,0,0,1,0,0,0,5,Somalia_Operational Presence_March.xlsx,Cluster Map,Somalia
70,SO1404,Xudun,0,0,1,0,8,1,0,0,3,0,0,6,16,Somalia_Operational Presence_March.xlsx,Cluster Map,Somalia
71,SO2501,Xudur,0,2,5,2,8,3,3,0,3,4,0,4,25,Somalia_Operational Presence_March.xlsx,Cluster Map,Somalia
72,SO1104,Zeylac,0,1,0,0,5,0,0,0,3,3,0,2,11,Somalia_Operational Presence_March.xlsx,Cluster Map,Somalia
73,NaN,Grand Total,17,40,33,6,107,41,32,4,56,48,10,63,272,Somalia_Operational Presence_March.xlsx,Cluster Map,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= Pivot
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
72    Somalia
73    Somalia
74    Somalia
75    Somalia
76    Somalia
Name: country, Length: 77, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia_Operational Presence_March.xlsx - SHEET= Pivot > Size: (77, 17)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,file,sheet,country
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia_Operational Presence_March.xlsx,Pivot,Somalia
1,Distinct Count of Organization,Column Labels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia_Operational Presence_March.xlsx,Pivot,Somalia
2,Row Labels,CCCM,Child Protection,Education,Explosive Hazard,FSC,GBV,Health,HLP,Nutrition,Protection,Shelter/ NFI,WASH,Grand Total,Somalia_Operational Presence_March.xlsx,Pivot,Somalia
3,Adan Yabaal,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,3,Somalia_Operational Presence_March.xlsx,Pivot,Somalia
4,Afgooye,1,3,2,2,5,4,4,NaN,6,3,NaN,7,30,Somalia_Operational Presence_March.xlsx,Pivot,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Xarardheere,NaN,NaN,1,NaN,3,NaN,NaN,NaN,1,NaN,NaN,NaN,5,Somalia_Operational Presence_March.xlsx,Pivot,Somalia
73,Xudun,NaN,NaN,1,NaN,8,1,NaN,NaN,3,NaN,NaN,6,16,Somalia_Operational Presence_March.xlsx,Pivot,Somalia
74,Xudur,NaN,2,5,2,8,3,3,NaN,3,4,NaN,4,25,Somalia_Operational Presence_March.xlsx,Pivot,Somalia
75,Zeylac,NaN,1,NaN,NaN,5,NaN,NaN,NaN,3,3,NaN,2,11,Somalia_Operational Presence_March.xlsx,Pivot,Somalia
76,Grand Total,17,40,33,6,107,41,32,4,56,48,10,63,272,Somalia_Operational Presence_March.xlsx,Pivot,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia - Health Facilities.xlsx - SHEET= HFs Data
Country: 0      Somalia
1      Somalia
2      Somalia
3      Somalia
4      Somalia
        ...
515    Somalia
516    Somalia
517    Somalia
518    Somalia
519    Somalia
Name: country, Length: 520, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia - Health Facilities.xlsx - SHEET= HFs Data > Size: (520, 9)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Region,District,Health Facility name,Type:,Latiitude,Longititude,file,sheet,country
0,#adm1+name,#adm2+name,#org+health,#org+type,#geo+lat,#geo+log,Somalia - Health Facilities.xlsx,HFs Data,Somalia
1,Banadir,Hodan,ACF HC/OTP,Health Center (HC),NaN,NaN,Somalia - Health Facilities.xlsx,HFs Data,Somalia
2,Banadir,Kahda,MCH AAH,Health Center (HC),2.058554698,45.264153,Somalia - Health Facilities.xlsx,HFs Data,Somalia
3,Banadir,Waberi,Elgab Health Center,Health Center (HC),2.059934389,45.328092,Somalia - Health Facilities.xlsx,HFs Data,Somalia
4,Banadir,Waberi,Waberi Health Center,Health Center (HC),2.048109808,45.325662,Somalia - Health Facilities.xlsx,HFs Data,Somalia
...,...,...,...,...,...,...,...,...,...
515,Hiraan,Bulo Burto,October Wardi Health Center,Health Center (HC),NaN,NaN,Somalia - Health Facilities.xlsx,HFs Data,Somalia
516,Hiraan,Belet Weyne,Wardi Ceel-jaale Health Centre,Health Center (HC),NaN,NaN,Somalia - Health Facilities.xlsx,HFs Data,Somalia
517,Lower Shabelle,Wanla Weyn,Wanla Weyn Wardi MCH,NaN,NaN,NaN,Somalia - Health Facilities.xlsx,HFs Data,Somalia
518,Banadir,Dharkeynley,Test 123,Hospital,NaN,NaN,Somalia - Health Facilities.xlsx,HFs Data,Somalia
519,Banadir,Bondheere,My Mobile Clinic,Mobile Clinic,NaN,NaN,Somalia - Health Facilities.xlsx,HFs Data,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia Violent and Threatening Incidents Against Healthcare_2020.xlsx - SHEET= 2020 Somalia SHCC Incident
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia Violent and Threatening Incidents Against Healthcare_2020.xlsx - SHEET= 2020 Somalia SHCC Incident  > Size: (11, 26)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,SHCC Event Code,Incident date,Country,State/Province/Division/Governorate/Department,Perpetrator,Weapons use,SHCC Attack Type,SHCC Attack Context,Total health worker killed,Total health worker kidnapped,...,Total number of attacks on facilities which reported destruction,Total number of attacks on facilities which reported damage,Armed entry into medical facilities,"Looting, theft, robbery, burglary of health supplies",Health transportation destroyed,Health transportation damaged,Health transportation stolen/highjacked,file,sheet,country
0,#event +id,#date,#country +name,#country +name +loc,#group +perp +name,#weapons,#event +type,#event +context,#affected +healthworker +killed,#affected +healthworker +kidnapped,...,#indicator +health_facility +destroyed +num,#indicator +health_facility +damaged +num,#indicator +health_facility +armed_entry +num,#indicator +health_supplies +taken +num,#indicator +health_transport +destroyed +num,#indicator +health_transport +damaged +num,#indicator +health_transport +abducted +num,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident,Somalia
1,1121,2020-11,Somalia,"Mogadishu,",NonStateActor,ExplosiveWeapons,Indiscriminate,Individuals,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident,Somalia
2,91,2020-02,Somalia,Gedo region,NonStateActor,NoInformation,Intentional,Individuals,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident,Somalia
3,192,2020-03,Somalia,Bay,NonStateActor,NoInformation,Intentional,Individuals,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident,Somalia
4,278,2020-04,Somalia,Banadir,NonStateActor,Firearm,Intentional,Individuals,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident,Somalia
5,557,2020-05,Somalia,Middle Shabelle region,NonStateActor,NoInformation,Intentional,Individuals,NaN,7,...,NaN,NaN,1,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident,Somalia
6,647,2020-06,Somalia,Lower Juba,NonStateActor,NoInformation,Intentional,Individuals,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident,Somalia
7,1072,2020-10,Somalia,Banadir,NonStateActor,ExplosiveWeapons,Intentional,Individuals,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident,Somalia
8,1122,2020-11,Somalia,Lower Juba,NonStateActor,Firearm,Intentional,Individuals,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident,Somalia
9,1361,2020-12,Somalia,"Mogadishu,",NonStateActor,ExplosiveWeapons,NoInformation,Infrastructure,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident,Somalia
10,906,2020-10,Somalia,NoInformation,NoInformation,NoInformation,Intentional,Stealing,2,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,Somalia Violent and Threatening Incidents Agai...,2020 Somalia SHCC Incident,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia Violent and Threatening Incidents Against Healthcare_2020.xlsx - SHEET= MetaData&Notes
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia Violent and Threatening Incidents Against Healthcare_2020.xlsx - SHEET= MetaData&Notes > Size: (17, 4)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Citation,file,sheet,country
0,Safeguarding Health in Conflict Coalition. 202...,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
1,NaN,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
2,SHCC Codebook,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
3,The data has systemcally coded using the Attac...,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
4,NaN,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
5,Data Notes,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
6,Not representative or a comprehensive compilat...,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
7,Data collection is ongoing and data may change...,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
8,NaN,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
9,License,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
10,Creative Commons Attribution-ShareAlike (CC BY...,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
11,NaN,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
12,Contact info,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
13,"For all inquiries on the SHCC Dataset, please ...",Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
14,NaN,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
15,Definitions,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia
16,Information on definitions and methodologies,Somalia Violent and Threatening Incidents Agai...,MetaData&Notes,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia - IPC Analysis 2017-2022.xlsx - SHEET= IPC
Country: 0       Somalia
1       Somalia
2       Somalia
3       Somalia
4       Somalia
         ...
1292    Somalia
1293    Somalia
1294    Somalia
1295    Somalia
1296    Somalia
Name: country, Length: 1297, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia - IPC Analysis 2017-2022.xlsx - SHEET= IPC > Size: (1297, 58)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,file,sheet,country
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC,Somalia
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC,Somalia
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC,Somalia
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC,Somalia
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC,Somalia
1293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC,Somalia
1294,Disclaimer: All national population figures ar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC,Somalia
1295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC,Somalia
1296,Source: Integrated Food Security Phase Classi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia - IPC Analysis 2017-2022.xlsx,IPC,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/2021-post-gu-amn-burden-and-prevalence-9-sep-2021.xlsx - SHEET= Burden
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
71    Somalia
72    Somalia
73    Somalia
74    Somalia
75    Somalia
Name: country, Length: 76, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/2021-post-gu-amn-burden-and-prevalence-9-sep-2021.xlsx - SHEET= Burden > Size: (76, 10)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Total Acute Malnutrition Burden,Unnamed: 4,Unnamed: 5,Unnamed: 6,file,sheet,country
0,NaN,District,Under-Five Population,GAM,SAM,GAM Prevalence,SAM Prevalence,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden,Somalia
1,Adan Yabaal,Adan Yabaal,17190.0,4930,710,0.110306,0.015886,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden,Somalia
2,Afgooye,Afgooye,94444.6,43800,8930,0.178371,0.036366,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden,Somalia
3,Afmadow,Afmadow,46703.8,18290,4150,0.150622,0.034176,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden,Somalia
4,Baardheere,Baardheere,34453.4,13330,2230,0.148807,0.024894,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden,Somalia
...,...,...,...,...,...,...,...,...,...,...
71,Xarardheere,Xarardheere,13859.6,3720,360,0.103233,0.00999,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden,Somalia
72,Xudun,Xudun,16219.4,3340,240,0.079202,0.005691,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden,Somalia
73,Xudur,Xudur,19450.4,8700,1890,0.172035,0.037373,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden,Somalia
74,Zeylac,Zeylac,11246.4,2690,340,0.091995,0.011628,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden,Somalia
75,NaN,NaN,3147435.252111,1199820,213440,0.146618,0.026082,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Burden,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/2021-post-gu-amn-burden-and-prevalence-9-sep-2021.xlsx - SHEET= Prevalence
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
18    Somalia
19    Somalia
20    Somalia
21    Somalia
22    Somalia
23    Somalia
24    Somalia
25    Somalia
26    Somalia
27    Somalia
28    Somalia
29    Somalia
30    Somalia
31    Somalia
32    Somalia
33    Somalia
34    Somalia
35    Somalia
36    Somalia
37    Somalia
38    Somalia
39    Somalia
40    Somalia
41    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/2021-post-gu-amn-burden-and-prevalence-9-sep-2021.xlsx - SHEET= Prevalence > Size: (42, 6)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Prevalence of combined GAM and SAM based on WHZ and MUAC cut off's (and/or oedema),Unnamed: 1,Unnamed: 2,file,sheet,country
0,Population Group Assessed During 2021 Post Gu,Prevalence of combined GAM (WHZ <-2 and/or MUA...,Prevalence of combined SAM (WHZ < -3 and/or MU...,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
1,Guban Pastoral,0.089,0.01,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
2,West Golis,0.125,0.024,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
3,NW Agropastoral,0.114,0.019,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
4,Hargeisa IDPs (W. Galbeed),0.097,0.011,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
5,Hargeisa Urban (W. Galbeed),0.102,0.021,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
6,Burao IDPs (Toghdeer),0.073,0.006,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
7,Burao Urban (Toghdeer),0.041,0.002,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
8,Northern Inland Pastoral NW,0.119,0.009,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
9,Hawd Pastoral NW,0.1,0.012,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
10,East Golis,0.112,0.019,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
11,Bosasso IDPs (Bari),0.214,0.034,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
12,Bosasso Urban (Bari),0.155,0.022,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
13,Northern Inland Pastoral NE,0.176,0.011,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
14,Hawd Pastoral NE,0.215,0.032,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
15,Coastal Deeh NE,0.073,0.013,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
16,Garowe IDPs (Nugaal),0.107,0.011,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
17,Garowe Urban (Nugaal),0.102,0.009,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
18,Galkacyo IDPs (Mudug),0.228,0.054,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
19,Galkacyo Urban (Mudug),0.122,0.017,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
20,Dhusmareeb IDPs _Galgaduud,0.177,0.03,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
21,Dhusamareb Urban (Galgadud),0.133,0.017,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
22,Addun Pastoral,0.123,0.013,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
23,Shabelle Riverine,0.177,0.033,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
24,Shabelle Agropastoral,0.186,0.043,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
25,Mogadishu urban (Banadir),0.163,0.027,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
26,Mogadishu IDPs (Banadir),0.217,0.05,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
27,Bay Agropastoral,0.168,0.042,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
28,Baidoa IDPs (Bay),0.192,0.031,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
29,Baidoa Urban (Bay),0.136,0.024,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
30,Dolow IDPs (N Gedo),0.133,0.015,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
31,Dolow Urban (N Gedo),0.114,0.011,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
32,North Gedo pastoral,0.143,0.023,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
33,North Gedo Riverine,0.176,0.023,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
34,Kismayu Urban (L. Juba),0.148,0.035,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
35,Kismayu IDPs (L. Juba),0.161,0.048,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
36,MUAC Assessed Areas,MUAC Assessments,NaN,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
37,Beletwein District (Riverine),0.092,0.017,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
38,Beletwein Urban,0.106,0.017,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
39,Juba Cattle Pastoral,0.138,0.034,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
40,Juba Riverine,0.157,0.039,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia
41,Elberde Pastoral (Bakool),0.254,0.05,2021-post-gu-amn-burden-and-prevalence-9-sep-2...,Prevalence,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/population-15.7_final.xlsx - SHEET= Sheet1
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
75    Somalia
76    Somalia
77    Somalia
78    Somalia
79    Somalia
Name: country, Length: 80, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/population-15.7_final.xlsx - SHEET= Sheet1 > Size: (80, 23)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,SOMALIA - 2021 POPULATION FIGURES AND DISAGGREGATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,file,sheet,country
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,population-15.7_final.xlsx,Sheet1,Somalia
1,NaN,NaN,NaN,NaN,NaN,Displaced - disaggregation,NaN,NaN,NaN,NaN,...,NaN,NaN,Total Population - disaggregation,NaN,NaN,NaN,NaN,population-15.7_final.xlsx,Sheet1,Somalia
2,NaN,NaN,NaN,NaN,NaN,0.622585,0.166037,0.165321,0.046057,1.0,...,0.035551,1,0.631306,0.166139,0.165023,0.037532,1.0,population-15.7_final.xlsx,Sheet1,Somalia
3,NaN,NaN,NaN,NaN,NaN,1847523,492715,490589,136674,2967501,...,454044,12771678,9936243,2614889,2597329,590718,15739179,population-15.7_final.xlsx,Sheet1,Somalia
4,Region,District,Total population estimate,of whom IDPs,of whom non-displaced,Children,Men,Women,Elderly,Subtotal - displaced,...,Elderly,Subtotal - displaced,Children,Men,Women,Elderly,Subtotal - displaced,population-15.7_final.xlsx,Sheet1,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Mudug,Xarardheere,69298,0,69298,0,0,0,0,0,...,3808,69298,44748,9453,11289,3808,69298,population-15.7_final.xlsx,Sheet1,Somalia
76,Sool,Xudun,81097,8800,72297,5966,1177,1298,359,8800,...,3973,72297,52650,11039,13076,4332,81097,population-15.7_final.xlsx,Sheet1,Somalia
77,Bakool,Xudur,97252,21300,75952,14441,2848,3142,869,21300,...,4174,75952,63486,13208,15515,5043,97252,population-15.7_final.xlsx,Sheet1,Somalia
78,Awdal,Zeylac,56232,4200,52032,2847,562,620,171,4200,...,2859,52032,36446,7660,9096,3030,56232,population-15.7_final.xlsx,Sheet1,Somalia
79,NaN,NaN,15739178,2967500,12771678,1847523,492715,490589,136674,2967501,...,454044,12771678,9936243,2614889,2597329,590718,15739179,population-15.7_final.xlsx,Sheet1,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx - SHEET= Region Population Statistics
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
18    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx - SHEET= Region Population Statistics > Size: (19, 9)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Admin1 Pcode,Admin1 Name,UNFPA 2014 Total\npopulation,UNFPA 2014 Urban\npopulation,UNFPA 2014 Rural\nPopulation,UNFPA 2014 IDP\nPopulation,file,sheet,country
0,#adm1 +code,#adm1 +name,#population +all,#population +urban,#population +rural,NaN,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
1,SO11,Awdal,673264,287822,377452,7990.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
2,SO12,Woqooyi Galbeed,1242003,802740,394673,44590.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
3,SO13,Togdheer,721363,483724,211879,25760.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
4,SO14,Sool,327427,120993,201614,4820.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
5,SO15,Sanaag,544123,159717,383496,910.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
6,SO16,Bari,730147,471784,198717,59646.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
7,SO17,Nugaal,392697,138929,244273,9495.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
8,SO18,Mudug,717862,381493,265487,70882.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
9,SO19,Galgaduud,569434,183553,266113,119768.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
10,SO20,Hiraan,520686,81379,388147,51160.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
11,SO21,Middle Shabelle,516035,114348,349727,51960.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
12,SO22,Banadir,1650228,1280939,0,369289.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
13,SO23,Lower Shabelle,1202219,215752,883497,102970.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
14,SO24,Bay,792182,93046,659316,39820.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
15,SO25,Bakool,367227,61929,281298,24000.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
16,SO26,Gedo,508403,109141,322534,76728.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
17,SO27,Middle Juba,362921,56242,279679,27000.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia
18,SO28,Lower Juba,489307,172861,285846,30600.0,somalia-population-statistics.xlsx,Region Population Statistics,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx - SHEET= District Population Statistics
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
70    Somalia
71    Somalia
72    Somalia
73    Somalia
74    Somalia
Name: country, Length: 75, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx - SHEET= District Population Statistics > Size: (75, 11)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Admin1 Pcode,Admin Name,Admin2 Pcode,Admin2 Name,UNFPA 2014 Total\npopulation,UNFPA 2014 Urban\npopulation,UNFPA 2014 Rural\nPopulation,UNFPA 2014 IDP\nPopulation,file,sheet,country
0,#adm1 +code,#adm1 +name,#adm2 +code,#adm2 +name,#population +total,#population +urban,#population +rural,NaN,somalia-population-statistics.xlsx,District Population Statistics,Somalia
1,SO11,Awdal,SO1101,Borama,398609,271045,127504,60.0,somalia-population-statistics.xlsx,District Population Statistics,Somalia
2,SO11,Awdal,SO1102,Baki,96885,4243,92642,0.0,somalia-population-statistics.xlsx,District Population Statistics,Somalia
3,SO11,Awdal,SO1103,Lughaye,100818.999996,6407,86551.999996,7860.0,somalia-population-statistics.xlsx,District Population Statistics,Somalia
4,SO11,Awdal,SO1104,Zeylac,76951,6127,70754,70.0,somalia-population-statistics.xlsx,District Population Statistics,Somalia
...,...,...,...,...,...,...,...,...,...,...,...
70,SO27,Middle Juba,SO2703,Saakow,79116.029538,18006,54110.029538,7000.0,somalia-population-statistics.xlsx,District Population Statistics,Somalia
71,SO28,Lower Juba,SO2801,Kismaayo,162733,116440,36293,10000.0,somalia-population-statistics.xlsx,District Population Statistics,Somalia
72,SO28,Lower Juba,SO2802,Afmadow,172485,34783,124702,13000.0,somalia-population-statistics.xlsx,District Population Statistics,Somalia
73,SO28,Lower Juba,SO2803,Badhaadhe,56178,11483,44095,600.0,somalia-population-statistics.xlsx,District Population Statistics,Somalia
74,SO28,Lower Juba,SO2804,Jamaame,97910.621699,10155,80755.621699,7000.0,somalia-population-statistics.xlsx,District Population Statistics,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx - SHEET= Metadata
Country: Series([], Name: country, dtype: object) > File + Sheet: /content/drive/MyDrive/Somalia/somalia-population-statistics.xlsx - SHEET= Metadata > Size: (0, 3)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

Empty DataFrame
Columns: [file, sheet, country]
Index: []

===================================================================================================


/content/drive/MyDrive/Somalia/som_pplp_adm2_v2.csv
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
69    Somalia
70    Somalia
71    Somalia
72    Somalia
73    Somalia
Name: country, Length: 74, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/som_pplp_adm2_v2.csv > Size: (74, 16)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,admin0Pcode,admin0Name_en,admin1Pcode,admin1Name_en,admin2Pcode,Admin2Name_en,T_TL_2005,U_TL_2005,R_TL_2005,T_TL,U_TL,R_TL,IDP_TL,file,sheet,country
0,SO,Somalia,SO11,Awdal,SO1101,Borama,215616,82921,132695,398609,271045,127504,60,som_pplp_adm2_v2.csv,,Somalia
1,SO,Somalia,SO11,Awdal,SO1102,Baki,25500,8577,16923,96885,4243,92642,0,som_pplp_adm2_v2.csv,,Somalia
2,SO,Somalia,SO11,Awdal,SO1103,Lughaye,36104,14010,22094,100819,6407,86552,7860,som_pplp_adm2_v2.csv,,Somalia
3,SO,Somalia,SO11,Awdal,SO1104,Zeylac,28235,5434,22801,76951,6127,70754,70,som_pplp_adm2_v2.csv,,Somalia
4,SO,Somalia,SO12,Woqooyi Galbeed,SO1201,Hargeysa,560028,422515,137513,959081,691852,223229,44000,som_pplp_adm2_v2.csv,,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,SO,Somalia,SO27,Middle Juba,SO2703,Saakow,65973,11200,54773,79116,18006,54110,7000,som_pplp_adm2_v2.csv,,Somalia
70,SO,Somalia,SO28,Lower Juba,SO2801,Kismaayo,166667,89333,77334,162733,116440,36293,10000,som_pplp_adm2_v2.csv,,Somalia
71,SO,Somalia,SO28,Lower Juba,SO2802,Afmadow,51334,7122,44212,172485,34783,124702,13000,som_pplp_adm2_v2.csv,,Somalia
72,SO,Somalia,SO28,Lower Juba,SO2803,Badhaadhe,38640,5812,32828,56178,11483,44095,600,som_pplp_adm2_v2.csv,,Somalia
73,SO,Somalia,SO28,Lower Juba,SO2804,Jamaame,129149,22415,106734,97911,10155,80756,7000,som_pplp_adm2_v2.csv,,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx - SHEET= 2018_Somalia_HNO Per sector
Country: 0    Somalia
1    Somalia
2    Somalia
3    Somalia
4    Somalia
5    Somalia
6    Somalia
7    Somalia
8    Somalia
9    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx - SHEET= 2018_Somalia_HNO Per sector  > Size: (10, 13)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Sector,IDPs,Refugees,Returnees,Host Communities,Rural,Urban,% Female,"% Children,adult and Elderly",People in need,file,sheet,country
0,#sector,#inneed+idps,#inneed+refugees,#inneed+returnees,NaN,NaN,NaN,NaN,NaN,#inneed,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,2018_Somalia_HNO Per sector,Somalia
1,Camp coordination and Camp Management,2100000.0,20000.0,100000.0,NaN,NaN,NaN,0.496,0.04,2100000.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,2018_Somalia_HNO Per sector,Somalia
2,Education,900000.0,-,-,NaN,NaN,NaN,0.45,0.0,2400000.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,2018_Somalia_HNO Per sector,Somalia
3,Food security,1000000.0,-,-,NaN,2900000.0,2200000.0,0.499,0.02,6200000.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,2018_Somalia_HNO Per sector,Somalia
4,Health,-,-,-,NaN,NaN,NaN,0.505,0.02,5700000.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,2018_Somalia_HNO Per sector,Somalia
5,Logistics,-,-,-,NaN,NaN,NaN,-,-,-,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,2018_Somalia_HNO Per sector,Somalia
6,Nutrition,60000.0,-,-,NaN,NaN,NaN,0.51,-,1200000.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,2018_Somalia_HNO Per sector,Somalia
7,Protection,2100000.0,30000.0,100000.0,1100000.0,NaN,NaN,0.53,0.04,3600000.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,2018_Somalia_HNO Per sector,Somalia
8,Shelter,1500000.0,-,50000.0,NaN,NaN,NaN,0.51,0.04,1500000.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,2018_Somalia_HNO Per sector,Somalia
9,WASH,14000000.0,-,-,NaN,NaN,NaN,0.55,0.02,4400000.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,2018_Somalia_HNO Per sector,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx - SHEET= per region
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
18    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx - SHEET= per region > Size: (19, 5)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Region,IDPs,file,sheet,country
0,#adm1+name,#inneed+IDPS,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
1,AWDAL,11019.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
2,WOQOOYI GALBEED,38717.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
3,TOGDHEER,58706.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
4,SANAAG,60304.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
5,SOOL,73435.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
6,BARI,17911.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
7,NUGAAL,6016.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
8,MUDUG,40617.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
9,GALGADUUD,39537.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
10,HIRAAN,11166.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
11,MIDDLE SHABELLE,19578.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
12,LOWER SHABELLE,87585.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
13,BANADIR,NaN,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
14,BAKOOL,41745.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
15,GEDO,34414.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
16,MIDDLE JUBA,11837.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
17,LOWER JUBA,16363.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia
18,MOGADISHU,239130.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,per region,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx - SHEET= Humanitarian needs (IPC)
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
18    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx - SHEET= Humanitarian needs (IPC) > Size: (19, 7)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Region,Total Population,Population in IPC phased 3 and 4,% of IPC 3 and 4 from the total population,file,sheet,country
0,Awdal,673264.0,141000.0,21.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
1,Bakool,367227.0,171000.0,47.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
2,Banadir,1650228.0,444000.0,27.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
3,Bari,730147.0,105000.0,14.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
4,Bay,792182.0,324000.0,41.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
5,Galgaduud,569434.0,285000.0,50.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
6,Gedo,508403.0,94000.0,18.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
7,Hiraan,520686.0,215000.0,41.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
8,Lower Juba,489307.0,93000.0,19.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
9,Lower Shabelle,1202219.0,134000.0,11.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
10,Middle Juba,362921.0,30000.0,8.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
11,Middle Shabelle,516035.0,46000.0,9.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
12,Mudug,717862.0,275000.0,38.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
13,Nugaal,392698.0,107000.0,27.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
14,Sanaag,544123.0,215000.0,40.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
15,Sool,327427.0,143000.0,44.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
16,Togdheer,721363.0,171000.0,24.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
17,Woqooyi Galbeed,1242003.0,150000.0,12.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia
18,Total,12327529.0,3143000.0,25.0,Somalia-Humanitarian Needs Overview-2018_hxl.xlsx,Humanitarian needs (IPC),Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx - SHEET= Sheet1
Country: Series([], Name: country, dtype: object) > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2018_hxl.xlsx - SHEET= Sheet1 > Size: (0, 4)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

Empty DataFrame
Columns: [Link to PDF, file, sheet, country]
Index: []

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2019.xlsx - SHEET= 2019_Somalia_HNO Per sector
Country: 0    Somalia
1    Somalia
2    Somalia
3    Somalia
4    Somalia
5    Somalia
6    Somalia
7    Somalia
8    Somalia
9    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2019.xlsx - SHEET= 2019_Somalia_HNO Per sector  > Size: (10, 17)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Sector,Total people in need,Number of partners,People Targeted,IDPS,Refugees/Assylum seekers,Refugee Returnees,Host communities,% Female,% Male,% Children,% Adult,%Elderly,Total Funding in USD,file,sheet,country
0,#sector,#inneed+total,#org+total,#inneed+targeted,#inneed+idps,#inneed+refugees,#inneed+returnees,NaN,NaN,NaN,NaN,NaN,NaN,#value+funding+total+usd\t,Somalia-Humanitarian Needs Overview-2019.xlsx,2019_Somalia_HNO Per sector,Somalia
1,Camp coordination and Camp Management(CCCM),2600000,17,1800000,1800000,-,-,-,0.51,0.49,0.670,0.370,0.02,32000000,Somalia-Humanitarian Needs Overview-2019.xlsx,2019_Somalia_HNO Per sector,Somalia
2,Education,1800000,24,377000,202000,-,15000,120000,0.50,0.50,0.996,0.004,0.00,40000000,Somalia-Humanitarian Needs Overview-2019.xlsx,2019_Somalia_HNO Per sector,Somalia
3,Food security,3500000,62,2600000,1400000,-,41500,1100000,0.50,0.50,0.590,0.390,0.02,353000000,Somalia-Humanitarian Needs Overview-2019.xlsx,2019_Somalia_HNO Per sector,Somalia
4,Health,3000000,62,2400000,1000000,16000,39000,1400000,0.50,0.50,0.590,0.390,0.02,93000000,Somalia-Humanitarian Needs Overview-2019.xlsx,2019_Somalia_HNO Per sector,Somalia
5,Nutrition,1500000,74,1100000,364000,10000,-,764000,0.50,0.50,0.590,0.390,0.02,178000000,Somalia-Humanitarian Needs Overview-2019.xlsx,2019_Somalia_HNO Per sector,Somalia
6,Protection,2600000,51,1400000,1100000,39000,-,276000,0.51,0.49,0.630,0.330,0.02,84000000,Somalia-Humanitarian Needs Overview-2019.xlsx,2019_Somalia_HNO Per sector,Somalia
7,Shelter/NFIs,2300000,19,1600000,1400000,-,41500,142000,0.51,0.49,0.610,0.370,0.02,64000000,Somalia-Humanitarian Needs Overview-2019.xlsx,2019_Somalia_HNO Per sector,Somalia
8,WASH,2900000,54,2600000,1400000,-,41500,1100000,0.50,0.50,0.550,0.430,0.02,104000000,Somalia-Humanitarian Needs Overview-2019.xlsx,2019_Somalia_HNO Per sector,Somalia
9,Refugee response,131000,30,81000,81000,39000,41500,-,0.50,0.50,0.590,0.390,0.02,58000000,Somalia-Humanitarian Needs Overview-2019.xlsx,2019_Somalia_HNO Per sector,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2019.xlsx - SHEET= per region
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2019.xlsx - SHEET= per region > Size: (18, 6)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Region,IDPs,Unnamed: 2,file,sheet,country
0,#adm1+name,#inneed+idps,#of humanitarian partners,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
1,AWDAL,26000,39,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
2,WOQOOYI GALBEED,117000,54,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
3,TOGDHEER,126000,63,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
4,SANAAG,92000,58,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
5,SOOL,233000,59,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
6,BARI,198000,55,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
7,NUGAAL,60000,49,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
8,MUDUG,155000,85,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
9,GALGADUUD,144000,65,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
10,HIRAAN,78000,69,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
11,MIDDLE SHABELLE,51000,56,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
12,LOWER SHABELLE,139000,70,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
13,BAKOOL,48000,42,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
14,GEDO,207000,82,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
15,MIDDLE JUBA,40000,5,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
16,LOWER JUBA,165000,81,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia
17,MOGADISHU,497000,148,Somalia-Humanitarian Needs Overview-2019.xlsx,per region,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2019.xlsx - SHEET= Sheet1
Country: Series([], Name: country, dtype: object) > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2019.xlsx - SHEET= Sheet1 > Size: (0, 4)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

Empty DataFrame
Columns: [Link to PDF, file, sheet, country]
Index: []

===================================================================================================


/content/drive/MyDrive/Somalia/somalia_pin_2021.xlsx - SHEET= All clusters
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
85    Somalia
86    Somalia
87    Somalia
88    Somalia
89    Somalia
Name: country, Length: 90, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia_pin_2021.xlsx - SHEET= All clusters > Size: (90, 175)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Inter-sectoral PiN and Severity,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Target,Unnamed: 9,...,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171,file,sheet,country
0,NaN,PiN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia_pin_2021.xlsx,All clusters,Somalia
1,District,Total,Non-displaced,Displaced,Sev 3,Sev 4,Sev 5,Severity,Target non displaced,Target displaced,...,Total,Severity,Completely incaccessible,NaN,Ad-hoc,Partially accessible,Accessible,somalia_pin_2021.xlsx,All clusters,Somalia
2,#adm2+name,NaN,#inneed+inter-sectoral+non-displaced,#inneed+inter-sectoral+displaced,NaN,NaN,NaN,#inneed+inter-sectoral+severity,#targeted+inter-sectoral,#targeted+displaced,...,NaN,#targeted+WASH+severity,NaN,NaN,NaN,NaN,NaN,somalia_pin_2021.xlsx,All clusters,Somalia
3,Adan_Yabaal,9447.10098,9447.10098,0,9332.503783,114.597197,0,3,7557.680784,0,...,0,-,NaN,NaN,NaN,NaN,NaN,somalia_pin_2021.xlsx,All clusters,Somalia
4,Afgooye,57567.546734,34395.132941,23172.413793,56106.491933,1461.054801,0,3,13816.211216,9210.807477,...,54492,-,Badhaadhe,NaN,Afgooye,Baardheere,NaN,somalia_pin_2021.xlsx,All clusters,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia_pin_2021.xlsx,All clusters,Somalia
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia_pin_2021.xlsx,All clusters,Somalia
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia_pin_2021.xlsx,All clusters,Somalia
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia_pin_2021.xlsx,All clusters,Somalia
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia_pin_2021.xlsx,All clusters,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/combined_cluster_pin_hxl.xlsx - SHEET= All PiN
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
72    Somalia
73    Somalia
74    Somalia
75    Somalia
76    Somalia
Name: country, Length: 77, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/combined_cluster_pin_hxl.xlsx - SHEET= All PiN > Size: (77, 80)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Inter-sectoral PiN and Severity,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,CCCM,Unnamed: 8,Unnamed: 9,...,Unnamed: 70,WASH,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,file,sheet,country
0,NaN,PiN,NaN,NaN,NaN,NaN,NaN,PiN,NaN,NaN,...,NaN,PiN,NaN,NaN,NaN,NaN,NaN,combined_cluster_pin_hxl.xlsx,All PiN,Somalia
1,District,Total,Non-displaced,Displaced,Returnees,Refugees,Severity,Total,Non-displaced,Displaced,...,Severity,Total,Non-displaced,Displaced,Returnees,Refugees,Severity,combined_cluster_pin_hxl.xlsx,All PiN,Somalia
2,#adm2+name,#inneed+inter-sectoral+total,#inneed+inter-sectoral+non-displaced,#inneed+inter-sectoral+displaced,NaN,NaN,#inneed+inter-sectoral+severity,#inneed+CCCM+total,#inneed+CCCM+non-displaced,#inneed+CCCM+displaced,...,#inneed+shelter+severity,#inneed+WASH+total,#inneed+WASH+non-displaced,#inneed+WASH+displaced,NaN,NaN,#inneed+WASH+severity,combined_cluster_pin_hxl.xlsx,All PiN,Somalia
3,Adan_Yabaal,69414,69414,0,NaN,NaN,3,0,NaN,0,...,3,40225.2537,40225.2537,0,NaN,NaN,3,combined_cluster_pin_hxl.xlsx,All PiN,Somalia
4,Afgooye,320985,259404,61581,NaN,NaN,3,26107,NaN,26107,...,2,161781.187984,124062.583333,37718.604651,NaN,NaN,3,combined_cluster_pin_hxl.xlsx,All PiN,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Wanla_Weyn,181387,175496,5891,NaN,NaN,3,4333,NaN,4333,...,2,121219.034091,118578.409091,2640.625,NaN,NaN,3,combined_cluster_pin_hxl.xlsx,All PiN,Somalia
73,Xardheere,24665,24665,0,NaN,NaN,3,0,NaN,0,...,2,32887.186441,32887.186441,0,NaN,NaN,3,combined_cluster_pin_hxl.xlsx,All PiN,Somalia
74,Xudun,11229,8435,2794,NaN,NaN,2,5867,NaN,5867,...,2,44652.238889,39763.35,4888.888889,NaN,NaN,3,combined_cluster_pin_hxl.xlsx,All PiN,Somalia
75,Xudur,69225,51647,17578,NaN,NaN,3,7100,NaN,7100,...,3,51489.214757,39495.04,11994.174757,NaN,NaN,3,combined_cluster_pin_hxl.xlsx,All PiN,Somalia
76,Zeylac,15114,13450,1664,NaN,NaN,3,4200,NaN,4200,...,2,30583.15903,27254.857143,3328.301887,NaN,NaN,3,combined_cluster_pin_hxl.xlsx,All PiN,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/combined_cluster_pin_hxl.xlsx - SHEET= Summary PiN
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/combined_cluster_pin_hxl.xlsx - SHEET= Summary PiN > Size: (12, 6)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Cluster,PiN,PiN (ROUNDED IN MILLIONS),file,sheet,country
0,CCCM,2.241328e+06,2.2,combined_cluster_pin_hxl.xlsx,Summary PiN,Somalia
1,Education,3.086945e+06,3.1,combined_cluster_pin_hxl.xlsx,Summary PiN,Somalia
2,Food Security,3.465690e+06,3.5,combined_cluster_pin_hxl.xlsx,Summary PiN,Somalia
3,Health,6.489500e+06,6.5,combined_cluster_pin_hxl.xlsx,Summary PiN,Somalia
4,Nutrition,2.374725e+06,2.4,combined_cluster_pin_hxl.xlsx,Summary PiN,Somalia
5,Protection,2.700052e+06,2.7,combined_cluster_pin_hxl.xlsx,Summary PiN,Somalia
6,Child Protection (AoR),2.359130e+06,2.3,combined_cluster_pin_hxl.xlsx,Summary PiN,Somalia
7,HLP (AoR),2.676114e+06,2.7,combined_cluster_pin_hxl.xlsx,Summary PiN,Somalia
8,GBV (AoR),2.289689e+06,2.3,combined_cluster_pin_hxl.xlsx,Summary PiN,Somalia
9,EH (AoR),1.088797e+06,1.1,combined_cluster_pin_hxl.xlsx,Summary PiN,Somalia
10,Shelter,3.616624e+06,3.6,combined_cluster_pin_hxl.xlsx,Summary PiN,Somalia
11,WASH,6.438360e+06,6.4,combined_cluster_pin_hxl.xlsx,Summary PiN,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Humanitarian Needs Overview-2022-refugees-and-returnees.xlsx - SHEET= Refugees
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
18    Somalia
19    Somalia
20    Somalia
21    Somalia
22    Somalia
23    Somalia
24    Somalia
25    Somalia
26    Somalia
27    Somalia
28    Somalia
29    Somalia
30    Somalia
31    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Humanitarian Needs Overview-2022-refugees-and-returnees.xlsx - SHEET= Refugees > Size: (32, 19)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Female,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Male,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,file,sheet,country
0,Region,District,Population Group,0-4,05-11,12-17,18-59,60+,Total,0-4,05-11,12-17,18-59,60+,Total,Grand Total,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
1,Awdal,Borama,Refugees and asylum seekers,8,16,19,53,5,101,12,27,16,66,5,126,227,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
2,Bakool,Waajid,Refugees and asylum seekers,0,0,0,1,0,1,0,0,0,0,0,0,1,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
3,Bakool,Xudur,Refugees and asylum seekers,0,0,0,0,0,0,0,0,0,0,0,0,0,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
4,Banadir,Mogadishu,Refugees and asylum seekers,97,239,250,497,44,1127,114,293,241,767,84,1499,2626,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
5,Bari,Bandarbeyla,Refugees and asylum seekers,0,0,0,1,0,1,0,0,1,0,0,1,2,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
6,Bari,Bossaso,Refugees and asylum seekers,448,811,593,1550,65,3467,494,817,666,1516,110,3603,7070,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
7,Bari,Caluula,Refugees and asylum seekers,0,0,0,0,0,0,0,0,0,0,0,0,0,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
8,Bari,Qandala,Refugees and asylum seekers,0,0,0,1,1,2,0,0,1,2,0,3,5,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
9,Bari,Qardho,Refugees and asylum seekers,51,43,36,154,3,287,56,41,33,167,10,307,594,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
10,Gedo,Baardheere,Refugees and asylum seekers,0,0,0,0,0,0,0,0,0,0,0,0,0,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
11,Hiraan,Bulo Burto,Refugees and asylum seekers,0,0,0,0,0,0,0,0,0,0,0,0,0,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
12,Lower Juba,Afmadow,Refugees and asylum seekers,0,0,0,0,0,0,0,0,0,0,0,0,0,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
13,Lower Juba,Kismayo,Refugees and asylum seekers,0,0,0,0,0,0,0,0,0,0,0,0,0,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
14,Lower Shabelle,Afgoye,Refugees and asylum seekers,2,16,6,10,0,34,1,8,8,14,1,32,66,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
15,Lower Shabelle,Marka,Refugees and asylum seekers,0,0,0,1,0,1,1,1,0,1,1,4,5,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
16,Lower Shabelle,Qoryooley,Refugees and asylum seekers,0,0,0,0,0,0,0,0,0,0,0,0,0,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
17,Middle Shabelle,Jowhar,Refugees and asylum seekers,1,0,0,1,1,3,0,0,0,2,0,2,5,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
18,Mudug,Gaalkacyo,Refugees and asylum seekers,126,203,104,244,5,682,119,210,107,270,11,717,1399,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
19,Mudug,Galdogob,Refugees and asylum seekers,0,0,0,2,0,2,0,2,0,3,0,5,7,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
20,Nugaal,Burtinle,Refugees and asylum seekers,1,8,0,3,0,12,3,1,2,5,0,11,23,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
21,Nugaal,Garowe,Refugees and asylum seekers,196,248,173,511,11,1139,213,282,156,496,24,1171,2310,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
22,Sanaag,Ceel Afweyn,Refugees and asylum seekers,0,1,1,3,0,5,0,1,2,0,0,3,8,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
23,Sanaag,Ceerigaabo,Refugees and asylum seekers,6,15,5,32,3,61,6,20,5,14,1,46,107,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
24,Sanaag,Laasqoray,Refugees and asylum seekers,2,9,5,9,1,26,7,14,0,8,0,29,55,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
25,Sool,Laas Caanood,Refugees and asylum seekers,1,0,0,1,0,2,0,0,0,17,0,17,19,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
26,Togdheer,Burco,Refugees and asylum seekers,18,33,41,67,3,162,18,40,29,100,5,192,354,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
27,Togdheer,Buuhoodle,Refugees and asylum seekers,0,1,0,2,0,3,0,0,1,1,0,2,5,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
28,Togdheer,Odweine,Refugees and asylum seekers,1,0,0,1,0,2,0,1,0,1,0,2,4,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
29,Woqooyi Galbeed,Berbera,Refugees and asylum seekers,12,14,14,36,6,82,6,19,27,136,6,194,276,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
30,Woqooyi Galbeed,Gebiley,Refugees and asylum seekers,1,8,6,15,0,30,8,9,2,25,2,46,76,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia
31,Woqooyi Galbeed,Hargeysa,Refugees and asylum seekers,972,1666,1114,3541,120,7413,1077,1675,1115,4089,187,8143,15556,Humanitarian Needs Overview-2022-refugees-and-...,Refugees,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Humanitarian Needs Overview-2022-refugees-and-returnees.xlsx - SHEET= Returnees
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
18    Somalia
19    Somalia
20    Somalia
21    Somalia
22    Somalia
23    Somalia
24    Somalia
25    Somalia
26    Somalia
27    Somalia
28    Somalia
29    Somalia
30    Somalia
31    Somalia
32    Somalia
33    Somalia
34    Somalia
35    Somalia
36    Somalia
37    Somalia
38    Somalia
39    Somalia
40    Somalia
41    Somalia
42    Somalia
43    Somalia
44    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Humanitarian Needs Overview-2022-refugees-and-returnees.xlsx - SHEET= Returnees > Size: (45, 19)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Female,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Male,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,file,sheet,country
0,Region,District,Population Group,0-4,05-11,12-17,18-59,60+,Total,0-4,05-11,12-17,18-59,60+,Total,Grand Total,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
1,Awdal,Borama,Returnees,6,6,6,48,4,70,4,12,6,27,1,50,120,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
2,Awdal,Lughaye,Returnees,0,0,0,0,0,0,0,0,0,3,0,3,3,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
3,Bakool,Ceel Barde,Returnees,0,0,0,0,0,0,0,0,0,0,0,0,0,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
4,Bakool,Waajid,Returnees,0,0,0,0,0,0,0,0,0,3,0,3,3,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
5,Banadir,Mogadishu,Returnees,696,3663,2585,6791,475,14210,723,4033,2834,7033,500,15123,29333,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
6,Bari,Bossaso,Returnees,13,32,16,85,6,152,27,32,25,149,7,240,392,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
7,Bari,Caluula,Returnees,0,1,4,1,0,6,0,1,0,3,1,5,11,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
8,Bari,Qardho,Returnees,0,3,7,17,0,27,1,3,3,9,0,16,43,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
9,Bay,Baidoa,Returnees,193,1883,1567,2844,176,6663,196,2071,1867,2663,304,7101,13764,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
10,Bay,Buur Hakaba,Returnees,0,1,0,0,1,2,0,1,0,3,1,5,7,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
11,Bay,Diinsoor,Returnees,4,40,30,65,4,143,6,36,45,62,12,161,304,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
12,Galgaduud,Cabudwaaq,Returnees,1,1,3,3,0,8,0,0,0,1,0,1,9,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
13,Galgaduud,Dhusamareb,Returnees,4,1,0,7,0,12,1,1,0,0,0,2,14,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
14,Gedo,Baardheere,Returnees,6,65,59,102,10,242,4,61,56,85,13,219,461,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
15,Gedo,Belet Xaawo,Returnees,27,143,128,231,23,552,14,130,149,248,30,571,1123,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
16,Gedo,Ceel Waaq,Returnees,0,12,12,13,1,38,1,13,3,19,3,39,77,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
17,Gedo,Doolow,Returnees,1,7,6,13,7,34,0,6,1,13,9,29,63,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
18,Gedo,Garbahaarey,Returnees,0,13,19,25,7,64,3,7,27,22,4,63,127,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
19,Gedo,Luuq,Returnees,1,325,277,544,35,1182,9,343,303,518,51,1224,2406,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
20,Hiraan,Belet Weyne,Returnees,1,6,9,14,0,30,3,12,12,29,3,59,89,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
21,Hiraan,Jalalaqsi,Returnees,1,0,0,1,0,2,0,3,0,0,0,3,5,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
22,Lower Juba,Afmadow,Returnees,111,683,647,1156,97,2694,88,688,658,779,134,2347,5041,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
23,Lower Juba,Badhaadhe,Returnees,48,201,188,378,29,844,55,231,212,335,39,872,1716,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
24,Lower Juba,Dhusamareb,Returnees,0,0,0,0,0,0,0,0,0,0,0,0,0,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
25,Lower Juba,Jamaame,Returnees,12,56,48,81,16,213,7,48,55,113,9,232,445,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
26,Lower Juba,Kismayo,Returnees,1370,9538,8364,15740,1238,36250,1406,9885,9165,13476,1583,35515,71765,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
27,Lower Shabelle,Afgoye,Returnees,1,14,6,35,6,62,6,14,20,39,12,91,153,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
28,Lower Shabelle,Baraawe,Returnees,0,0,0,0,0,0,0,1,4,6,0,11,11,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
29,Lower Shabelle,Marka,Returnees,3,10,6,17,1,37,0,10,12,22,4,48,85,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
30,Lower Shabelle,Qoryooley,Returnees,0,1,3,3,0,7,1,3,1,6,3,14,21,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
31,Middle Juba,Buale,Returnees,4,95,56,110,9,274,7,76,76,88,9,256,530,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
32,Middle Juba,Jilib,Returnees,23,81,65,114,9,292,7,84,75,84,10,260,552,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
33,Middle Juba,Saakow,Returnees,7,118,136,268,23,552,22,139,156,231,40,588,1140,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
34,Middle Shabelle,Balcad,Returnees,23,150,123,241,23,560,19,143,150,227,17,556,1116,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
35,Middle Shabelle,Jowhar,Returnees,4,22,9,23,1,59,4,17,10,36,4,71,130,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
36,Mudug,Gaalkacyo,Returnees,3,10,4,16,1,34,1,12,1,17,1,32,66,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
37,Nugaal,Garowe,Returnees,1,9,1,9,3,23,1,13,3,20,3,40,63,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
38,Sanaag,Ceerigaabo,Returnees,0,0,0,7,0,7,0,1,0,6,0,7,14,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
39,Sool,Laas Caanood,Returnees,3,4,0,6,1,14,0,0,0,10,0,10,24,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
40,Togdheer,Burco,Returnees,4,10,3,33,4,54,1,13,0,27,4,45,99,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
41,Togdheer,Buuhoodle,Returnees,0,0,0,1,1,2,0,0,0,0,0,0,2,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
42,Woqooyi Galbeed,Berbera,Returnees,0,0,0,3,0,3,0,0,0,6,0,6,9,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
43,Woqooyi Galbeed,Gebiley,Returnees,1,3,1,1,0,6,1,0,0,3,0,4,10,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia
44,Woqooyi Galbeed,Hargeysa,Returnees,36,43,39,222,19,359,29,56,42,268,17,412,771,Humanitarian Needs Overview-2022-refugees-and-...,Returnees,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/fts_requirements_funding_som.csv
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
18    Somalia
19    Somalia
20    Somalia
21    Somalia
22    Somalia
23    Somalia
24    Somalia
25    Somalia
26    Somalia
27    Somalia
28    Somalia
29    Somalia
30    Somalia
31    Somalia
32    Somalia
33    Somalia
34    Somalia
35    Somalia
36    Somalia
37    Somalia
38    Somalia
39    Somalia
40    Somalia
41    Somalia
42    Somalia
43    Somalia
44    Somalia
45    Somalia
46    Somalia
47    Somalia
48    Somalia
49    Somalia
50    Somalia
51    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/fts_requirements_funding_som.csv > Size: (52, 15)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,countryCode,id,name,code,typeId,typeName,startDate,endDate,year,requirements,funding,percentFunded,file,sheet,country
0,#country+code,#activity+appeal+id+fts_internal,#activity+appeal+name,#activity+appeal+id+external,#activity+appeal+type+id+fts_internal,#activity+appeal+type+name,#date+start,#date+end,#date+year,#value+funding+required+usd,#value+funding+total+usd,#value+funding+pct,fts_requirements_funding_som.csv,,Somalia
1,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2024,NaN,2862750,NaN,fts_requirements_funding_som.csv,,Somalia
2,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2023,NaN,53675471,NaN,fts_requirements_funding_som.csv,,Somalia
3,SOM,1063,Somalia Humanitarian Response Plan 2022,HSOM22,4,Humanitarian response plan,2022-01-01,2022-12-31,2022,2267407090,1300054347,57,fts_requirements_funding_som.csv,,Somalia
4,SOM,1066,Regional Migrant Response Plan for the Horn of...,RDJIETHSOMYEM22,111,Regional response plan,2022-01-01,2022-12-31,2022,11334555,410000,4,fts_requirements_funding_som.csv,,Somalia
5,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2022,NaN,495748186,NaN,fts_requirements_funding_som.csv,,Somalia
6,SOM,1011,Somalia Humanitarian Response Plan 2021,HSOM21,4,Humanitarian response plan,2021-01-01,2021-12-31,2021,1092121872,847622261,78,fts_requirements_funding_som.csv,,Somalia
7,SOM,1038,Regional Migrant Humanitarian Response Plan fo...,RDJIETHSOMYEM21,111,Regional response plan,2021-01-01,2021-12-31,2021,30410180,0,0,fts_requirements_funding_som.csv,,Somalia
8,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2021,NaN,291670443,NaN,fts_requirements_funding_som.csv,,Somalia
9,SOM,831,Somalia 2020,HSOM20,4,Humanitarian response plan,2020-01-01,2020-12-31,2020,1009926527,806495617,80,fts_requirements_funding_som.csv,,Somalia
10,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2020,NaN,266961036,NaN,fts_requirements_funding_som.csv,,Somalia
11,SOM,667,Somalia 2019,HSOM19,4,Humanitarian response plan,2019-01-01,2019-12-31,2019,1077453103,897874746,83,fts_requirements_funding_som.csv,,Somalia
12,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2019,NaN,134675998,NaN,fts_requirements_funding_som.csv,,Somalia
13,SOM,644,Somalia 2018,HSOM18,4,Humanitarian response plan,2018-01-01,2018-12-31,2018,1542514570,934917385,61,fts_requirements_funding_som.csv,,Somalia
14,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2018,NaN,260986325,NaN,fts_requirements_funding_som.csv,,Somalia
15,SOM,528,Somalia 2017,HSOM17,4,Humanitarian response plan,2017-01-01,2017-12-31,2017,1507846515,1032331493,68,fts_requirements_funding_som.csv,,Somalia
16,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2017,NaN,298170052,NaN,fts_requirements_funding_som.csv,,Somalia
17,SOM,505,Somalia 2016,HSOM16,4,Humanitarian response plan,2016-01-01,2016-12-31,2016,885189342,499400501,56,fts_requirements_funding_som.csv,,Somalia
18,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2016,NaN,177847054,NaN,fts_requirements_funding_som.csv,,Somalia
19,SOM,456,Somalia 2015,HSOM15,4,Humanitarian response plan,2015-01-01,2015-12-31,2015,862579628,385987217,45,fts_requirements_funding_som.csv,,Somalia
20,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2015,NaN,217720557,NaN,fts_requirements_funding_som.csv,,Somalia
21,SOM,436,Somalia 2014,HSOM14,4,Humanitarian response plan,2014-01-01,2014-12-31,2014,933070303,457905960,49,fts_requirements_funding_som.csv,,Somalia
22,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2014,NaN,221038367,NaN,fts_requirements_funding_som.csv,,Somalia
23,SOM,412,Somalia 2013,CSOM13,110,CAP,2013-01-01,2013-12-31,2013,1153087668,586131426,51,fts_requirements_funding_som.csv,,Somalia
24,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2013,NaN,136527742,NaN,fts_requirements_funding_som.csv,,Somalia
25,SOM,375,Somalia 2012,CSOM12,110,CAP,2012-01-01,2012-12-31,2012,1167739803,657301394,56,fts_requirements_funding_som.csv,,Somalia
26,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2012,NaN,269857685,NaN,fts_requirements_funding_som.csv,,Somalia
27,SOM,363,Somalia 2011,CSOM11,110,CAP,2011-01-01,2011-12-31,2011,1003322063,879901029,88,fts_requirements_funding_som.csv,,Somalia
28,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2011,NaN,506886024,NaN,fts_requirements_funding_som.csv,,Somalia
29,SOM,320,Somalia 2010,CSOM10,110,CAP,2010-01-01,2010-12-31,2010,596124332,400104873,67,fts_requirements_funding_som.csv,,Somalia
30,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2010,NaN,91042074,NaN,fts_requirements_funding_som.csv,,Somalia
31,SOM,296,Somalia 2009,CSOM09,110,CAP,2009-01-01,2009-12-31,2009,851842253,558958260,66,fts_requirements_funding_som.csv,,Somalia
32,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2009,NaN,104831579,NaN,fts_requirements_funding_som.csv,,Somalia
33,SOM,263,Somalia 2008,CSOM08,110,CAP,2008-01-01,2008-12-31,2008,662543578,490589618,74,fts_requirements_funding_som.csv,,Somalia
34,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2008,NaN,149531608,NaN,fts_requirements_funding_som.csv,,Somalia
35,SOM,221,Somalia 2007,CSOM07,110,CAP,2007-01-01,2007-12-31,2007,383875152,307890809,80,fts_requirements_funding_som.csv,,Somalia
36,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2007,NaN,55499452,NaN,fts_requirements_funding_som.csv,,Somalia
37,SOM,235,Somalia: 2006 Flood Response Plan,FSOM0607,5,Flash appeal,2006-12-05,2007-03-05,2006,28616475,13688072,48,fts_requirements_funding_som.csv,,Somalia
38,SOM,197,Somalia 2006,CSOM06,110,CAP,2006-01-01,2006-12-31,2006,323754543,191700219,59,fts_requirements_funding_som.csv,,Somalia
39,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2006,NaN,70607377,NaN,fts_requirements_funding_som.csv,,Somalia
40,SOM,165,Somalia 2005,CSOM05,110,CAP,2005-01-01,2005-12-31,2005,162757335,100440621,62,fts_requirements_funding_som.csv,,Somalia
41,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2005,NaN,58297903,NaN,fts_requirements_funding_som.csv,,Somalia
42,SOM,149,Somalia 2004,CSOM04,110,CAP,2004-01-01,2004-12-31,2004,120026299,71896418,60,fts_requirements_funding_som.csv,,Somalia
43,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2004,NaN,40676346,NaN,fts_requirements_funding_som.csv,,Somalia
44,SOM,111,Somalia 2003,CSOM03,110,CAP,2003-01-01,2003-12-31,2003,71465950,45281680,63,fts_requirements_funding_som.csv,,Somalia
45,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2003,NaN,18304156,NaN,fts_requirements_funding_som.csv,,Somalia
46,SOM,78,Somalia 2002,CSOM02,110,CAP,2002-01-01,2002-12-31,2002,82591643,42962844,52,fts_requirements_funding_som.csv,,Somalia
47,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2002,NaN,33390323,NaN,fts_requirements_funding_som.csv,,Somalia
48,SOM,53,Somalia 2001,CSOM01,110,CAP,2001-01-01,2001-12-31,2001,140442999,30473727,22,fts_requirements_funding_som.csv,,Somalia
49,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2001,NaN,24216837,NaN,fts_requirements_funding_som.csv,,Somalia
50,SOM,59,Somalia 2000,CSOM00,110,CAP,2000-01-01,2000-12-31,2000,50552783,36168801,72,fts_requirements_funding_som.csv,,Somalia
51,SOM,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2000,NaN,10070940,NaN,fts_requirements_funding_som.csv,,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/fts_requirements_funding_covid_som.csv
Country: 0    Somalia
1    Somalia
2    Somalia
3    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/fts_requirements_funding_covid_som.csv > Size: (4, 16)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,countryCode,id,name,code,typeId,typeName,startDate,endDate,year,requirements,funding,covidFunding,covidPercentageOfFunding,file,sheet,country
0,#country+code,#activity+appeal+id+fts_internal,#activity+appeal+name,#activity+appeal+id+external,#activity+appeal+type+id+fts_internal,#activity+appeal+type+name,#date+start,#date+end,#date+year,#value+funding+required+usd,#value+funding+total+usd,#value+funding+covid+usd,#value+funding+covid+pct,fts_requirements_funding_covid_som.csv,,Somalia
1,SOM,1063,Somalia Humanitarian Response Plan 2022,HSOM22,4,Humanitarian response plan,2022-01-01,2022-12-31,2022,2267407090,1300054347,36355295,3,fts_requirements_funding_covid_som.csv,,Somalia
2,SOM,1011,Somalia Humanitarian Response Plan 2021,HSOM21,4,Humanitarian response plan,2021-01-01,2021-12-31,2021,1092121872,847622261,18090976,2,fts_requirements_funding_covid_som.csv,,Somalia
3,SOM,831,Somalia 2020,HSOM20,4,Humanitarian response plan,2020-01-01,2020-12-31,2020,1009926527,806495617,89305776,11,fts_requirements_funding_covid_som.csv,,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/fts_requirements_funding_cluster_som.csv
Country: 0      Somalia
1      Somalia
2      Somalia
3      Somalia
4      Somalia
        ...
237    Somalia
238    Somalia
239    Somalia
240    Somalia
241    Somalia
Name: country, Length: 242, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/fts_requirements_funding_cluster_som.csv > Size: (242, 15)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,countryCode,id,name,code,startDate,endDate,year,clusterCode,cluster,requirements,funding,percentFunded,file,sheet,country
0,#country+code,#activity+appeal+id+fts_internal,#activity+appeal+name,#activity+appeal+id+external,#date+start,#date+end,#date+year,#sector+cluster+code,#sector+cluster+name,#value+funding+required+usd,#value+funding+total+usd,#value+funding+pct,fts_requirements_funding_cluster_som.csv,,Somalia
1,SOM,1063,Somalia Humanitarian Response Plan 2022,HSOM22,2022-01-01,2022-12-31,2022,6333,Camp Coordination and Camp Management,28380000,9165261,32,fts_requirements_funding_cluster_som.csv,,Somalia
2,SOM,1063,Somalia Humanitarian Response Plan 2022,HSOM22,2022-01-01,2022-12-31,2022,6334,Education,126357228,12898558,10,fts_requirements_funding_cluster_som.csv,,Somalia
3,SOM,1063,Somalia Humanitarian Response Plan 2022,HSOM22,2022-01-01,2022-12-31,2022,6335,Enabling Programmes,27892732,21426699,77,fts_requirements_funding_cluster_som.csv,,Somalia
4,SOM,1063,Somalia Humanitarian Response Plan 2022,HSOM22,2022-01-01,2022-12-31,2022,6336,Food Security,1078037960,638973563,59,fts_requirements_funding_cluster_som.csv,,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,SOM,78,Somalia 2002,CSOM02,2002-01-01,2002-12-31,2002,NaN,Multiple clusters/sectors (shared),NaN,0,NaN,fts_requirements_funding_cluster_som.csv,,Somalia
238,SOM,53,Somalia 2001,CSOM01,2001-01-01,2001-12-31,2001,NaN,Not specified,NaN,30473727,NaN,fts_requirements_funding_cluster_som.csv,,Somalia
239,SOM,53,Somalia 2001,CSOM01,2001-01-01,2001-12-31,2001,NaN,Multiple clusters/sectors (shared),NaN,0,NaN,fts_requirements_funding_cluster_som.csv,,Somalia
240,SOM,59,Somalia 2000,CSOM00,2000-01-01,2000-12-31,2000,NaN,Not specified,NaN,36168801,NaN,fts_requirements_funding_cluster_som.csv,,Somalia
241,SOM,59,Somalia 2000,CSOM00,2000-01-01,2000-12-31,2000,NaN,Multiple clusters/sectors (shared),NaN,0,NaN,fts_requirements_funding_cluster_som.csv,,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/fts_requirements_funding_globalcluster_som.csv
Country: 0      Somalia
1      Somalia
2      Somalia
3      Somalia
4      Somalia
        ...
327    Somalia
328    Somalia
329    Somalia
330    Somalia
331    Somalia
Name: country, Length: 332, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/fts_requirements_funding_globalcluster_som.csv > Size: (332, 15)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,countryCode,id,name,code,startDate,endDate,year,clusterCode,cluster,requirements,funding,percentFunded,file,sheet,country
0,#country+code,#activity+appeal+id+fts_internal,#activity+appeal+name,#activity+appeal+id+external,#date+start,#date+end,#date+year,#sector+cluster+code,#sector+cluster+name,#value+funding+required+usd,#value+funding+total+usd,#value+funding+pct,fts_requirements_funding_globalcluster_som.csv,,Somalia
1,SOM,1063,Somalia Humanitarian Response Plan 2022,HSOM22,2022-01-01,2022-12-31,2022,1,Camp Coordination / Management,28380000,9165261,32,fts_requirements_funding_globalcluster_som.csv,,Somalia
2,SOM,1063,Somalia Humanitarian Response Plan 2022,HSOM22,2022-01-01,2022-12-31,2022,26480,Coordination and support services,27892732,21426699,77,fts_requirements_funding_globalcluster_som.csv,,Somalia
3,SOM,1063,Somalia Humanitarian Response Plan 2022,HSOM22,2022-01-01,2022-12-31,2022,2,Early Recovery,NaN,0,NaN,fts_requirements_funding_globalcluster_som.csv,,Somalia
4,SOM,1063,Somalia Humanitarian Response Plan 2022,HSOM22,2022-01-01,2022-12-31,2022,3,Education,126357228,12898558,10,fts_requirements_funding_globalcluster_som.csv,,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,SOM,59,Somalia 2000,CSOM00,2000-01-01,2000-12-31,2000,10,Protection,1200000,NaN,NaN,fts_requirements_funding_globalcluster_som.csv,,Somalia
328,SOM,59,Somalia 2000,CSOM00,2000-01-01,2000-12-31,2000,15,Protection - Mine Action,5300000,3778330,71,fts_requirements_funding_globalcluster_som.csv,,Somalia
329,SOM,59,Somalia 2000,CSOM00,2000-01-01,2000-12-31,2000,11,Water Sanitation Hygiene,4740000,2715771,57,fts_requirements_funding_globalcluster_som.csv,,Somalia
330,SOM,59,Somalia 2000,CSOM00,2000-01-01,2000-12-31,2000,NaN,Not specified,NaN,NaN,NaN,fts_requirements_funding_globalcluster_som.csv,,Somalia
331,SOM,59,Somalia 2000,CSOM00,2000-01-01,2000-12-31,2000,NaN,Multiple clusters/sectors (shared),NaN,181000,NaN,fts_requirements_funding_globalcluster_som.csv,,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/fts_incoming_funding_som.csv
Country: 0      Somalia
1      Somalia
2      Somalia
3      Somalia
4      Somalia
        ...
450    Somalia
451    Somalia
452    Somalia
453    Somalia
454    Somalia
Name: country, Length: 455, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/fts_incoming_funding_som.csv > Size: (455, 40)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,date,budgetYear,description,amountUSD,srcOrganization,srcOrganizationTypes,srcLocations,srcUsageYearStart,srcUsageYearEnd,destPlan,...,originalAmount,originalCurrency,exchangeRate,id,refCode,createdAt,updatedAt,file,sheet,country
0,#date,#date+year+budget,#description+notes,#value+funding+total+usd,#org+name+funder,#org+type+funder+list,#country+iso3+funder+list,#date+year+start+funder,#date+year+end+funder,#activity+appeal+name,...,#value+funding+total,#value+funding+total+currency,#financial+fx,#activity+id+fts_internal,#activity+code,#date+created,#date+updated,fts_incoming_funding_som.csv,,Somalia
1,2022-11-25,2022,Strengthening humanitarian coordination and ad...,514403,European Commission's Humanitarian Aid and Civ...,Inter-governmental,NaN,2022,2022,Somalia Humanitarian Response Plan 2022,...,500000,EUR,0.972,264291,ECHO/-AF/BUD/2022/92089,2022-11-26,2022-11-28,fts_incoming_funding_som.csv,,Somalia
2,2022-11-21,NaN,Humanitarian response in Somalia. (QZA-20/0048...,1653801,"Norway, Government of",Government,NOR,2022,2022,Somalia Humanitarian Response Plan 2022,...,17813088,NOK,10.771,263854,QZA-20/0048-10,2022-11-21,2022-11-21,fts_incoming_funding_som.csv,,Somalia
3,2022-11-17,NaN,"Enhancing access to integrated, high quality a...",3520293,"United Kingdom, Government of",Government,GBR,2022,2022,Somalia Humanitarian Response Plan 2022,...,2999290,GBP,0.852,263599,300978-103,2022-11-18,2022-11-18,fts_incoming_funding_som.csv,,Somalia
4,2022-11-17,NaN,Drought Response Scale up in Somalia - continu...,5868545,"United Kingdom, Government of",Government,GBR,2022,2022,Somalia Humanitarian Response Plan 2022,...,5000000,GBP,0.852,263600,300978-105,2022-11-18,2022-11-18,fts_incoming_funding_som.csv,,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,2018-12-05,2019,Food emergency for vulnerable people in Somali...,11869091,"Germany, Government of",Government,DEU,2019,2022,NaN,...,10527884,EUR,0.887,190562,AA-S09 321.50 SOM 01/19,2019-04-26,2022-08-25,fts_incoming_funding_som.csv,,Somalia
451,2018-12-05,2022,Provision of UNHAS flights SOM 01/19 Multiye...,3300330,"Germany, Government of",Government,DEU,2022,2022,Somalia Humanitarian Response Plan 2022,...,3000000,EUR,0.909,202204,AA-S09 321.50 SOM 01/19,2020-08-04,2022-08-25,fts_incoming_funding_som.csv,,Somalia
452,2017-11-28,2017,Conditions for an improved food security conce...,16492451,"Germany, Government of",Government,DEU,2017,2017,NaN,...,14200000,EUR,0.861,166901,2017.1848.5,2020-10-16,2022-08-25,fts_incoming_funding_som.csv,,Somalia
453,2017-09-20,2017,The Resiiienz of Binnenvertriebenen and other ...,4747596,"Germany, Government of",Government,DEU,2017,2017,NaN,...,3950000,EUR,0.832,163953,2017.1803.0,2020-10-23,2020-11-12,fts_incoming_funding_som.csv,,Somalia
454,2017-01-30,NaN,CONTRIBUTIONS FOR ORAL CHOLERA VACCINE FOR GLO...,982934,GAVI Alliance,Private organization/foundation,NaN,2017,2017,NaN,...,NaN,NaN,NaN,257060,AGT 30-JAN-2017,2022-08-11,2022-08-11,fts_incoming_funding_som.csv,,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/fts_internal_funding_som.csv
Country: 0      Somalia
1      Somalia
2      Somalia
3      Somalia
4      Somalia
        ...
108    Somalia
109    Somalia
110    Somalia
111    Somalia
112    Somalia
Name: country, Length: 113, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/fts_internal_funding_som.csv > Size: (113, 40)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,date,budgetYear,description,amountUSD,srcOrganization,srcOrganizationTypes,srcLocations,srcUsageYearStart,srcUsageYearEnd,destPlan,...,originalAmount,originalCurrency,exchangeRate,id,refCode,createdAt,updatedAt,file,sheet,country
0,#date,#date+year+budget,#description+notes,#value+funding+total+usd,#org+name+funder,#org+type+funder+list,#country+iso3+funder+list,#date+year+start+funder,#date+year+end+funder,#activity+appeal+name,...,#value+funding+total,#value+funding+total+currency,#financial+fx,#activity+id+fts_internal,#activity+code,#date+created,#date+updated,fts_internal_funding_som.csv,,Somalia
1,2022-07-10,2022,Life-saving health and WASH program to crisis-...,773782,Somalia Humanitarian Fund,Pooled fund,SOM,2022,2022,Somalia Humanitarian Response Plan 2022,...,NaN,NaN,NaN,254731,SOM-22/3485/RA2 /WASH-H/INGO/22038,2022-07-04,2022-07-04,fts_internal_funding_som.csv,,Somalia
2,2022-07-10,2022,Life-saving health and WASH program to crisis-...,494713,Somalia Humanitarian Fund,Pooled fund,SOM,2022,2022,Somalia Humanitarian Response Plan 2022,...,NaN,NaN,NaN,254732,SOM-22/3485/RA2 /WASH-H/INGO/22038,2022-07-04,2022-07-04,fts_internal_funding_som.csv,,Somalia
3,2022-07-04,2022,"""Emergency Food Security and Livelihood suppor...",630000,Somalia Humanitarian Fund,Pooled fund,SOM,2022,2022,Somalia Humanitarian Response Plan 2022,...,NaN,NaN,NaN,254730,SOM-22/3485/RA2 /FSC/INGO/22052,2022-07-04,2022-07-04,fts_internal_funding_som.csv,,Somalia
4,2022-06-17,2022,Provision of essential cooperation and informa...,300000,Somalia Humanitarian Fund,Pooled fund,SOM,2022,2022,Somalia Humanitarian Response Plan 2022,...,NaN,NaN,NaN,254712,SOM-22/3485/RA1/EP/INGO/21878,2022-07-01,2022-07-01,fts_internal_funding_som.csv,,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,2022-04-05,NaN,Emergency Food Security and Livelihood support...,349959,Somalia Humanitarian Fund,Pooled fund,SOM,2022,2022,Somalia Humanitarian Response Plan 2022,...,NaN,NaN,NaN,250192,SOM-22/3485/SA1/FSC/INGO/21498,2022-04-19,2022-04-19,fts_internal_funding_som.csv,,Somalia
109,2022-04-05,NaN,Increased Immediate Access to Food and Protect...,199999,Somalia Humanitarian Fund,Pooled fund,SOM,2022,2022,Somalia Humanitarian Response Plan 2022,...,NaN,NaN,NaN,250194,SOM-22/3485/SA1/FSC/NGO/21538,2022-04-19,2022-04-19,fts_internal_funding_som.csv,,Somalia
110,2022-04-05,NaN,"""Strengthen CCCM services to improve the livin...",259937,Somalia Humanitarian Fund,Pooled fund,SOM,2022,2022,Somalia Humanitarian Response Plan 2022,...,NaN,NaN,NaN,250195,SOM-22/3485/SA1/CCCM-HLP/NGO/21494,2022-04-19,2022-04-19,fts_internal_funding_som.csv,,Somalia
111,2022-04-05,NaN,Provision of emergency lifesaving livelihood s...,199999,Somalia Humanitarian Fund,Pooled fund,SOM,2022,2022,Somalia Humanitarian Response Plan 2022,...,NaN,NaN,NaN,250205,SOM-22/3485/SA1/FSC/NGO/21518,2022-04-19,2022-04-19,fts_internal_funding_som.csv,,Somalia
112,2022-04-05,2022,"""Strengthen CCCM services to improve the livin...",139966,Somalia Humanitarian Fund,Pooled fund,SOM,2022,2022,Somalia Humanitarian Response Plan 2022,...,NaN,NaN,NaN,254740,SOM-22/3485/SA1/CCCM-HLP/NGO/21494,2022-07-04,2022-07-04,fts_internal_funding_som.csv,,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= methodology
Country: Series([], Name: country, dtype: object) > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= methodology > Size: (0, 3)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

Empty DataFrame
Columns: [file, sheet, country]
Index: []

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= SUMMARY
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
74    Somalia
75    Somalia
76    Somalia
77    Somalia
78    Somalia
Name: country, Length: 79, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= SUMMARY > Size: (79, 25)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,SOMALIA - HNO 2020 POPULATION FIGURES AND DISAGGREGATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,file,sheet,country
0,prepared for IMWG | Draft 0.2 | 14 Aug 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,SUMMARY,Somalia
1,NaN,NaN,NaN,NaN,NaN,Displaced - disaggregation,NaN,NaN,NaN,NaN,...,Total Population - disaggregation,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,SUMMARY,Somalia
2,NaN,NaN,NaN,NaN,NaN,#REF!,#REF!,#REF!,#REF!,#REF!,...,#REF!,#REF!,#REF!,#REF!,#REF!,NaN,NaN,somalia-total-population-by-district.xlsx,SUMMARY,Somalia
3,NaN,NaN,NaN,NaN,NaN,#REF!,#REF!,#REF!,#REF!,#REF!,...,#REF!,#REF!,#REF!,#REF!,#REF!,NaN,NaN,somalia-total-population-by-district.xlsx,SUMMARY,Somalia
4,Region,District,Total population estimate,of whom IDPs,of whom non-displaced,Children,Men,Women,Elderly,Subtotal - displaced,...,Children,Men,Women,Elderly,Subtotal - displaced,Urban (TBC),Rural (TBC),somalia-total-population-by-district.xlsx,SUMMARY,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,Middle Juba,Saakow,59940.06306,14000,45940.06306,#REF!,#REF!,#REF!,#REF!,#REF!,...,#REF!,#REF!,#REF!,#REF!,#REF!,22277.41254,37662.65052,somalia-total-population-by-district.xlsx,SUMMARY,Somalia
75,Lower Juba,Kismayo,377653.3312,87000,290653.3312,#REF!,#REF!,#REF!,#REF!,#REF!,...,#REF!,#REF!,#REF!,#REF!,#REF!,320480.6752,57172.65604,somalia-total-population-by-district.xlsx,SUMMARY,Somalia
76,Lower Juba,Afmadow,164086.0664,68000,96086.06642,#REF!,#REF!,#REF!,#REF!,#REF!,...,#REF!,#REF!,#REF!,#REF!,#REF!,36599.73667,127486.3298,somalia-total-population-by-district.xlsx,SUMMARY,Somalia
77,Lower Juba,Badhaadhe,45955.77503,2000,43955.77503,#REF!,#REF!,#REF!,#REF!,#REF!,...,#REF!,#REF!,#REF!,#REF!,#REF!,10761.43171,35194.34333,somalia-total-population-by-district.xlsx,SUMMARY,Somalia
78,Lower Juba,Jamaame,61241.84415,8000,53241.84415,#REF!,#REF!,#REF!,#REF!,#REF!,...,#REF!,#REF!,#REF!,#REF!,#REF!,11240.86988,50000.97428,somalia-total-population-by-district.xlsx,SUMMARY,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPDistrictWorkings
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
77    Somalia
78    Somalia
79    Somalia
80    Somalia
81    Somalia
Name: country, Length: 82, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPDistrictWorkings > Size: (82, 24)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,WORKINGS FOR TOTAL DISTRICT POPULATION ESTIMATE,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,file,sheet,country
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50,districts,somalia-total-population-by-district.xlsx,POPDistrictWorkings,Somalia
1,NaN,NaN,NaN,Total population PESS 2014,12327530.242852,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,75000.0,threshold,somalia-total-population-by-district.xlsx,POPDistrictWorkings,Somalia
2,NaN,NaN,NaN,NaN,NaN,SUBJECTIVE DISTRICT ADJUSTMENTS (to reflect ad...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPDistrictWorkings,Somalia
3,NaN,NaN,NaN,NaN,NaN,400000.0,100000.0,50000.0,200000.0,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPDistrictWorkings,Somalia
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.584458,0.415542,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPDistrictWorkings,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,Middle Juba,Saakow,Saakow,0.006336,78103.32836,-8163.265306,-2040.816327,-1020.408163,-4081.632653,-1020.408163,...,59940.06306,22277.41254,37662.65052,14000,0,1,NaN,somalia-total-population-by-district.xlsx,POPDistrictWorkings,Somalia
78,Lower Juba,Kismaayo,Kismayo,0.015553,191734.9639,-8163.265306,-2040.816327,-1020.408163,200000.0,-1020.408163,...,377653.3312,320480.6752,57172.65604,87000,63500,1,NaN,somalia-total-population-by-district.xlsx,POPDistrictWorkings,Somalia
79,Lower Juba,Afmadow,Afmadow,0.014784,182249.3317,-8163.265306,-2040.816327,-1020.408163,-4081.632653,-1020.408163,...,164086.0664,36599.73667,127486.3298,68000,46500,1,NaN,somalia-total-population-by-district.xlsx,POPDistrictWorkings,Somalia
80,Lower Juba,Badhaadhe,Badhaadhe,0.003728,45955.77503,0,0,0,0,0,...,45955.77503,10761.43171,35194.34333,2000,0,0,NaN,somalia-total-population-by-district.xlsx,POPDistrictWorkings,Somalia
81,Lower Juba,Jamaame,Jamaame,0.006441,79405.10946,-8163.265306,-2040.816327,-1020.408163,-4081.632653,-1020.408163,...,61241.84415,11240.86988,50000.97428,8000,500,1,NaN,somalia-total-population-by-district.xlsx,POPDistrictWorkings,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= DisaggByRegion
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
67    Somalia
68    Somalia
69    Somalia
70    Somalia
71    Somalia
Name: country, Length: 72, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= DisaggByRegion > Size: (72, 37)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,JMCNA 2019 Household level disaggregation by age and sex (REACH/OCHA),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,file,sheet,country
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggByRegion,Somalia
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggByRegion,Somalia
2,Displacement Status,Displaced,NaN,NaN,NaN,NaN,NaN,Displacement Status,Displaced,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggByRegion,Somalia
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggByRegion,Somalia
4,Sum of Value,Category,NaN,NaN,NaN,NaN,NaN,Sum of Value,Age-group,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggByRegion,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Sanaag,0.636012,0.155036,0.163174,0.045778,1.0,NaN,Sanaag,0.206307,0.252085,...,0.036826,0.106612,0.048423,0.137538,0.022787,0.078942,1.0,somalia-total-population-by-district.xlsx,DisaggByRegion,Somalia
68,Sool,0.644327,0.166355,0.163293,0.026025,1.0,NaN,Sool,0.220956,0.235584,...,0.039292,0.106311,0.060044,0.130805,0.013608,0.095254,1.0,somalia-total-population-by-district.xlsx,DisaggByRegion,Somalia
69,Togdheer,0.626913,0.170344,0.176704,0.026039,1.0,NaN,Togdheer,0.223812,0.235142,...,0.033989,0.115882,0.054462,0.131584,0.012721,0.103757,1.0,somalia-total-population-by-district.xlsx,DisaggByRegion,Somalia
70,Woqooyi Galbeed,0.573125,0.198788,0.189947,0.038141,1.0,NaN,Woqooyi Galbeed,0.172518,0.231372,...,0.032079,0.135893,0.062895,0.117201,0.015913,0.070725,1.0,somalia-total-population-by-district.xlsx,DisaggByRegion,Somalia
71,Grand Total,0.640765,0.160269,0.161013,0.037953,1.0,NaN,Grand Total,0.236863,0.226876,...,0.036787,0.107272,0.052997,0.123846,0.019918,0.091287,1.0,somalia-total-population-by-district.xlsx,DisaggByRegion,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= DisaggJMCNAunpivotted
Country: 0       Somalia
1       Somalia
2       Somalia
3       Somalia
4       Somalia
         ...
2203    Somalia
2204    Somalia
2205    Somalia
2206    Somalia
2207    Somalia
Name: country, Length: 2208, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= DisaggJMCNAunpivotted > Size: (2208, 16)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,linenr,region1,district2,idp_settlement,n_hholds,Attribute,Value,Region,District,Sex,Category,Displacement Status,Age-group,file,sheet,country
0,1.0,awdal,baki,no,146.0,total_males_0_6m,12.0,Awdal,Baki,Male,Children,Non-displaced,00-04,somalia-total-population-by-district.xlsx,DisaggJMCNAunpivotted,Somalia
1,1.0,awdal,baki,no,146.0,total_females_0_6m,9.0,Awdal,Baki,Female,Children,Non-displaced,00-04,somalia-total-population-by-district.xlsx,DisaggJMCNAunpivotted,Somalia
2,1.0,awdal,baki,no,146.0,total_males_6m_4y,89.0,Awdal,Baki,Male,Children,Non-displaced,00-04,somalia-total-population-by-district.xlsx,DisaggJMCNAunpivotted,Somalia
3,1.0,awdal,baki,no,146.0,total_females_6m_4y,83.0,Awdal,Baki,Female,Children,Non-displaced,00-04,somalia-total-population-by-district.xlsx,DisaggJMCNAunpivotted,Somalia
4,1.0,awdal,baki,no,146.0,total_males_5_12,133.0,Awdal,Baki,Male,Children,Non-displaced,05-12,somalia-total-population-by-district.xlsx,DisaggJMCNAunpivotted,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,138.0,woqooyi_galbeed,hargeysa,yes,118.0,total_females_18_40,107.0,Woqooyi Galbeed,Hargeysa,Female,Women,Displaced,18-40,somalia-total-population-by-district.xlsx,DisaggJMCNAunpivotted,Somalia
2204,138.0,woqooyi_galbeed,hargeysa,yes,118.0,total_males_41_59,50.0,Woqooyi Galbeed,Hargeysa,Male,Men,Displaced,41-59,somalia-total-population-by-district.xlsx,DisaggJMCNAunpivotted,Somalia
2205,138.0,woqooyi_galbeed,hargeysa,yes,118.0,total_females_41_59,47.0,Woqooyi Galbeed,Hargeysa,Female,Women,Displaced,41-59,somalia-total-population-by-district.xlsx,DisaggJMCNAunpivotted,Somalia
2206,138.0,woqooyi_galbeed,hargeysa,yes,118.0,total_males_60_over,12.0,Woqooyi Galbeed,Hargeysa,Male,Elderly,Displaced,60+,somalia-total-population-by-district.xlsx,DisaggJMCNAunpivotted,Somalia
2207,138.0,woqooyi_galbeed,hargeysa,yes,118.0,total_females_60_over,19.0,Woqooyi Galbeed,Hargeysa,Female,Elderly,Displaced,60+,somalia-total-population-by-district.xlsx,DisaggJMCNAunpivotted,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= DisaggCompareTo2018
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
18    Somalia
19    Somalia
20    Somalia
21    Somalia
22    Somalia
23    Somalia
24    Somalia
25    Somalia
26    Somalia
27    Somalia
28    Somalia
29    Somalia
30    Somalia
31    Somalia
32    Somalia
33    Somalia
34    Somalia
35    Somalia
36    Somalia
37    Somalia
38    Somalia
39    Somalia
40    Somalia
41    Somalia
42    Somalia
43    Somalia
44    Somalia
45    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= DisaggCompareTo2018 > Size: (46, 13)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,COMPARISON OF JMCNA 2019 to 2018 disaggregation,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,file,sheet,country
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
1,Sum of Value,Displacement Status,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
2,NaN,Displaced,NaN,Displaced Total,Non-displaced,NaN,Non-displaced Total,Grand Total,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
3,Age-group,Male,Female,NaN,Male,Female,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
4,00-04,4016.0,3350.0,7366.0,5230.0,4267.0,9497.0,16863.0,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
5,05-12,3907.0,3377.0,7284.0,4910.0,3958.0,8868.0,16152.0,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
6,13-17,2967.0,2535.0,5502.0,3882.0,3219.0,7101.0,12603.0,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
7,18-40,3104.0,3540.0,6644.0,4533.0,5109.0,9642.0,16286.0,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
8,41-59,1551.0,1215.0,2766.0,2222.0,1599.0,3821.0,6587.0,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
9,60+,601.0,666.0,1267.0,817.0,618.0,1435.0,2702.0,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
10,Grand Total,16146.0,14683.0,30829.0,21594.0,18770.0,40364.0,71193.0,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
13,JMCNA 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
14,NaN,Displaced,NaN,NaN,Non-displaced,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
15,Age-group,Male,Female,Subtotal,Male,Female,Subtotal,Total,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
16,00-04,0.130267,0.108664,0.238931,0.129571,0.105713,0.235284,0.236863,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
17,05-12,0.126731,0.10954,0.236271,0.121643,0.098058,0.219701,0.226876,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
18,13-17,0.096241,0.082228,0.178468,0.096175,0.079749,0.175924,0.177026,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
19,18-40,0.100684,0.114827,0.215511,0.112303,0.126573,0.238876,0.228758,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
20,41-59,0.05031,0.039411,0.089721,0.055049,0.039615,0.094664,0.092523,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
21,60+,0.019495,0.021603,0.041098,0.020241,0.015311,0.035551,0.037953,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
22,Grand Total,0.523728,0.476272,1,0.534982,0.465018,1,1,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
25,JMCNA 2018 for comparison,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
26,NaN,JMCNA 2018 IDP,NaN,NaN,JMCNA 2018 HC,NaN,NaN,JMCNA 2018 ALL,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
27,NaN,Male,Female,Total,Male,Female,Total,Male,Female,Total,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
28,0-4,0.120131,0.100164,0.220295,0.123636,0.100976,0.224612,0.122586,0.100732,0.223319,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
29,5-12,0.131754,0.113245,0.244999,0.122873,0.105854,0.228726,0.125534,0.108068,0.233602,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
30,13-17,0.085407,0.069412,0.154819,0.087588,0.073468,0.161056,0.086935,0.072253,0.159187,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
31,18-40,0.106395,0.129969,0.236364,0.110607,0.132457,0.243065,0.109345,0.131712,0.241057,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
32,41-59,0.051303,0.047185,0.098488,0.051696,0.045882,0.097578,0.051578,0.046273,0.097851,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
33,60+,0.019566,0.025469,0.045036,0.020868,0.024095,0.044963,0.020478,0.024506,0.044985,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
34,NaN,0.514556,0.485444,1.0,0.517268,0.482732,1,0.516456,0.483544,1.0,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
36,FSNAU 2018 for comparison,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
37,FSNAU IDPS,NaN,NaN,NaN,FSNAU NON DISPLACED,NaN,NaN,FSNAU ALL,NaN,NaN,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
38,Age (Years),male,female,total,male,female,total,male,female,Popul.,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
39,'0-4,0.136299,0.129384,0.265683,0.130792,0.125705,0.256498,0.132975,0.127163,0.260138,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
40,'5-11,0.115648,0.110605,0.226254,0.110076,0.101194,0.211271,0.112285,0.104924,0.217209,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
41,'12-17,0.057004,0.05695,0.113954,0.05925,0.05768,0.116931,0.05836,0.057391,0.115751,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
42,'18-49,0.153178,0.189518,0.342695,0.162867,0.19635,0.359217,0.159027,0.193642,0.352669,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
43,50-59,0.019011,0.00984,0.028851,0.020178,0.010264,0.030442,0.026209,0.014981,0.041191,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
44,60+,0.012519,0.010045,0.022564,0.013889,0.011753,0.025642,0.006852,0.006191,0.013042,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia
45,Total,0.493659,0.506341,1,0.497053,0.502947,1,0.495708,0.504292,1.0,somalia-total-population-by-district.xlsx,DisaggCompareTo2018,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= DisaggSubstituteRegions
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= DisaggSubstituteRegions > Size: (18, 5)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Population Region,Disaggregation Region,file,sheet,country
0,Awdal,Awdal,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
1,Bakool,Bakool,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
2,Banadir,Banadir,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
3,Bari,Bari,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
4,Bay,Bay,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
5,Galgaduud,Galgaduud,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
6,Gedo,Gedo,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
7,Hiraan,Hiraan,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
8,Lower Juba,Lower Juba,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
9,Lower Shabelle,Lower Shabelle,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
10,Middle Juba,Lower Juba,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
11,Middle Shabelle,Middle Shabelle,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
12,Mudug,Mudug,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
13,Nugaal,Nugaal,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
14,Sanaag,Sanaag,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
15,Sool,Sool,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
16,Togdheer,Togdheer,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia
17,Woqooyi Galbeed,Woqooyi Galbeed,somalia-total-population-by-district.xlsx,DisaggSubstituteRegions,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPUrban
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
69    Somalia
70    Somalia
71    Somalia
72    Somalia
73    Somalia
Name: country, Length: 74, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPUrban > Size: (74, 10)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,DISTNAME,TOTAL POP WORLDPOP,URBAN POP,RURAL POP,Final estimate from SUMMARY,Urban,Rural,file,sheet,country
0,Adan Yabaal,60053.259053,123.057693,59930.201360,35879.12501,0.002049,0.997951,somalia-total-population-by-district.xlsx,POPUrban,Somalia
1,Afgooye,258545.441544,111403.709990,147141.731554,191430.83600,0.430886,0.569114,somalia-total-population-by-district.xlsx,POPUrban,Somalia
2,Afmadow,62395.640259,132.502684,62263.137575,164086.06640,0.002124,0.997876,somalia-total-population-by-district.xlsx,POPUrban,Somalia
3,Baardheere,163086.029216,13291.410641,149794.618575,101132.70880,0.081499,0.918501,somalia-total-population-by-district.xlsx,POPUrban,Somalia
4,Badhaadhe,46891.202346,0.000000,46891.202346,45955.77503,0.000000,1.000000,somalia-total-population-by-district.xlsx,POPUrban,Somalia
...,...,...,...,...,...,...,...,...,...,...
69,Wanla Weyn,211575.373735,11554.094106,200021.279629,66458.64226,0.054610,0.945390,somalia-total-population-by-district.xlsx,POPUrban,Somalia
70,Xarardheere,131142.567393,7039.496297,124103.071096,33447.63645,0.053678,0.946322,somalia-total-population-by-district.xlsx,POPUrban,Somalia
71,Xudun,39586.320563,0.000000,39586.320563,33133.18631,0.000000,1.000000,somalia-total-population-by-district.xlsx,POPUrban,Somalia
72,Xudur,109484.822680,3963.655702,105521.166978,79231.76914,0.036203,0.963797,somalia-total-population-by-district.xlsx,POPUrban,Somalia
73,Zeylac,59840.764389,208.043640,59632.720748,72825.10892,0.003477,0.996523,somalia-total-population-by-district.xlsx,POPUrban,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPTriangulation1
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
69    Somalia
70    Somalia
71    Somalia
72    Somalia
73    Somalia
Name: country, Length: 74, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPTriangulation1 > Size: (74, 9)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,ADMIN2NAME,Worldpop,Compare to final population proposed,Diff,Diff %,Comments,file,sheet,country
0,Adan Yabaal,60053.259053,35879.12501,24174.134050,0.402545,NaN,somalia-total-population-by-district.xlsx,POPTriangulation1,Somalia
1,Afgooye,651189.317152,191430.83600,459758.481200,0.706029,worldpop may be overstated as GIS files for di...,somalia-total-population-by-district.xlsx,POPTriangulation1,Somalia
2,Afmadow,62395.640259,164086.06640,-101690.426200,1.629768,NaN,somalia-total-population-by-district.xlsx,POPTriangulation1,Somalia
3,Baardheere,163086.029216,101132.70880,61953.320390,0.379881,NaN,somalia-total-population-by-district.xlsx,POPTriangulation1,Somalia
4,Badhaadhe,46891.202346,45955.77503,935.427312,0.019949,NaN,somalia-total-population-by-district.xlsx,POPTriangulation1,Somalia
...,...,...,...,...,...,...,...,...,...
69,Wanla Weyn,211575.373735,66458.64226,145116.731500,0.685887,deserves attention,somalia-total-population-by-district.xlsx,POPTriangulation1,Somalia
70,Xarardheere,131142.567393,33447.63645,97694.930940,0.744952,deserves attention,somalia-total-population-by-district.xlsx,POPTriangulation1,Somalia
71,Xudun,39586.320563,33133.18631,6453.134253,0.163014,NaN,somalia-total-population-by-district.xlsx,POPTriangulation1,Somalia
72,Xudur,109484.822680,79231.76914,30253.053540,0.276322,NaN,somalia-total-population-by-district.xlsx,POPTriangulation1,Somalia
73,Zeylac,59840.764389,72825.10892,-12984.344530,0.216982,NaN,somalia-total-population-by-district.xlsx,POPTriangulation1,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPTriangulation2
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
70    Somalia
71    Somalia
72    Somalia
73    Somalia
74    Somalia
Name: country, Length: 75, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPTriangulation2 > Size: (75, 16)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,B,C,D,E,F,(B-F)/B,Unnamed: 7,75000.0,Unnamed: 9,Unnamed: 10,PERCENTAGE URBAN/RURAL,Unnamed: 12,file,sheet,country
0,DISTNAME,TOTAL POP WORLDPOP,URBAN POP,RURAL POP,Final estimate from SUMMARY,TWG-IPE proportions,Diff 1,Absolute difference,Is absolute difference greater than threshold?,Diff 2,NaN,Urban,Rural,somalia-total-population-by-district.xlsx,POPTriangulation2,Somalia
1,Adan Yabaal,60053.259053,123.057693,59930.20136,35879.12501,35879.12501,0.402545,-24174.13405,0,0,NaN,0.002049,0.997951,somalia-total-population-by-district.xlsx,POPTriangulation2,Somalia
2,Afgooye,258545.441544,111403.70999,147141.731554,191430.836,209594.1013,0.189334,-48951.34028,0,0,NaN,0.430886,0.569114,somalia-total-population-by-district.xlsx,POPTriangulation2,Somalia
3,Afmadow,62395.640259,132.502684,62263.137575,164086.0664,182249.3317,1.920866,119853.6915,1,1.920866,NaN,0.002124,0.997876,somalia-total-population-by-district.xlsx,POPTriangulation2,Somalia
4,Baardheere,163086.029216,13291.410641,149794.618575,101132.7088,119295.9741,0.268509,-43790.05509,0,0,NaN,0.081499,0.918501,somalia-total-population-by-district.xlsx,POPTriangulation2,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Wanla Weyn,211575.373735,11554.094106,200021.279629,66458.64226,84621.90756,0.600039,-126953.4662,1,0.600039,NaN,0.05461,0.94539,somalia-total-population-by-district.xlsx,POPTriangulation2,Somalia
71,Xarardheere,131142.567393,7039.496297,124103.071096,33447.63645,33447.63645,0.744952,-97694.93094,1,0.744952,NaN,0.053678,0.946322,somalia-total-population-by-district.xlsx,POPTriangulation2,Somalia
72,Xudun,39586.320563,0.0,39586.320563,33133.18631,33133.18631,0.163014,-6453.134253,0,0,NaN,0,1,somalia-total-population-by-district.xlsx,POPTriangulation2,Somalia
73,Xudur,109484.82268,3963.655702,105521.166978,79231.76914,97395.03445,0.110424,-12089.78823,0,0,NaN,0.036203,0.963797,somalia-total-population-by-district.xlsx,POPTriangulation2,Somalia
74,Zeylac,59840.764389,208.04364,59632.720748,72825.10892,90988.37423,0.520508,31147.60984,0,0,NaN,0.003477,0.996523,somalia-total-population-by-district.xlsx,POPTriangulation2,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POP_PTWG_IPE
Country: 0      Somalia
1      Somalia
2      Somalia
3      Somalia
4      Somalia
        ...
114    Somalia
115    Somalia
116    Somalia
117    Somalia
118    Somalia
Name: country, Length: 119, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POP_PTWG_IPE > Size: (119, 19)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,0.9998478544,0.0001521456173,<- ROUNDING,Unnamed: 15,file,sheet,country
0,RC,Region,DC,District,Population,%ofSomalia,%ofRegion*,NaN,%Urban*,%Non-Urban*,NaN,col2,NaN,Urban,Rural,NaN,somalia-total-population-by-district.xlsx,POP_PTWG_IPE,Somalia
1,11.0,Awdal,1.0,Borama,597842.007,NaN,59.1,NaN,68.790341,31.209659,NaN,597842.007,0.038254,68.790341,31.209659,100.0,somalia-total-population-by-district.xlsx,POP_PTWG_IPE,Somalia
2,11.0,Awdal,2.0,Baki,148701.819,NaN,14.7,NaN,9.071993,90.928007,NaN,148701.819,0.009515,9.071993,90.928007,100.0,somalia-total-population-by-district.xlsx,POP_PTWG_IPE,Somalia
3,11.0,Awdal,3.0,Lughaya,148701.819,NaN,14.7,NaN,15.110976,84.889024,NaN,148701.819,0.009515,15.110976,84.889024,100.0,somalia-total-population-by-district.xlsx,POP_PTWG_IPE,Somalia
4,11.0,Awdal,4.0,Zeylac,115319.778,NaN,11.4,NaN,7.767396,92.232604,NaN,115319.778,0.007379,7.767396,92.232604,100.0,somalia-total-population-by-district.xlsx,POP_PTWG_IPE,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POP_PTWG_IPE,Somalia
115,NaN,EstimatedproportionsofDistrictpopulationsin2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POP_PTWG_IPE,Somalia
116,NaN,*BasedonsizeofurbanandruralpopulationsinJanuar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POP_PTWG_IPE,Somalia
117,NaN,**DistrictsofBanadircouldnotbeestimatedbecause...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POP_PTWG_IPE,Somalia
118,NaN,***Basedon2005sizeofRabDhuureandWajid(no2014da...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POP_PTWG_IPE,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPGHSL_Urban_triangulation
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
18    Somalia
19    Somalia
20    Somalia
21    Somalia
22    Somalia
23    Somalia
24    Somalia
25    Somalia
26    Somalia
27    Somalia
28    Somalia
29    Somalia
30    Somalia
31    Somalia
32    Somalia
33    Somalia
34    Somalia
35    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= POPGHSL_Urban_triangulation > Size: (36, 9)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Urbancentrename,Area(km2),Built-up2015,Popul.2015,2019 Update Factor,Informal - Urban pop 2019 based on current total pop estimate,file,sheet,country
0,Muqdisho(Mogadishu)[SOM],98.0,50.26,1.503035e+06,1.434161,2.155594e+06,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
1,Hargeysa[SOM],45.0,16.67,7.923110e+05,1.434161,1.136302e+06,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
2,Baydhabo[SOM],12.0,1.71,4.158990e+05,1.434161,5.964662e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
3,Burco[SOM],20.0,8.19,4.003690e+05,1.434161,5.741937e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
4,TuurQaylo[SOM],7.0,1.33,2.643110e+05,1.434161,3.790646e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
5,Boosaaso[SOM],16.0,5.93,2.232550e+05,1.434161,3.201836e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
6,Kismaayo[SOM],12.0,2.01,1.913080e+05,1.434161,2.743665e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
7,Wanlaweyn[SOM],6.0,0.45,1.790280e+05,1.434161,2.567550e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
8,Gaalkacyo[SOM],17.0,9.49,1.706530e+05,1.434161,2.447439e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
9,Buurhakaba[SOM],8.0,0.75,1.554940e+05,1.434161,2.230035e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
10,Merca[SOM],22.0,2.6,1.281800e+05,1.434161,1.838308e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
11,Ceerigaabo[SOM],6.0,1.69,1.039850e+05,1.434161,1.491312e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
12,Qardho[SOM],6.0,1.54,1.026020e+05,1.434161,1.471478e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
13,Beledweyne[SOM],15.0,3.49,1.004210e+05,1.434161,1.440199e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
14,Laascaanood[SOM],8.0,3.02,1.001880e+05,1.434161,1.436857e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
15,Dhuusamarreeb[SOM],6.0,0.78,9.195900e+04,1.434161,1.318840e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
16,Hantiwadaag[SOM],5.0,0.34,9.184700e+04,1.434161,1.317234e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
17,Garoowe[SOM],9.0,4.12,7.832500e+04,1.434161,1.123307e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
18,Baraawe[SOM],7.0,0.58,7.272600e+04,1.434161,1.043008e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
19,Berbera[SOM],7.0,1.34,7.217000e+04,1.434161,1.035034e+05,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
20,Qoryooley[SOM],4.0,0.22,5.841200e+04,1.434161,8.377222e+04,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
21,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
22,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
23,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
24,NaN,EU GHSL,%age,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
25,Urban Centre,6352992.0,0.588816,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
26,Urban cluster,1740676.0,0.161331,7.501470e-01,Urban,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
27,Rural,2695775.0,0.249853,2.498530e-01,Rural,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
28,Total pop used by GHSL,10789443,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
29,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
30,https://population.un.org/wpp/DataQuery/,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
31,UNDESA total pop,000s,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
32,2015.0,13797.0,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
33,2020.0,15893.0,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
34,NaN,NaN,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia
35,Interpolate 2019,15473.8,NaN,NaN,NaN,NaN,somalia-total-population-by-district.xlsx,POPGHSL_Urban_triangulation,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= IDPestimates
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
70    Somalia
71    Somalia
72    Somalia
73    Somalia
74    Somalia
Name: country, Length: 75, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/somalia-total-population-by-district.xlsx - SHEET= IDPestimates > Size: (75, 7)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,2647000,2376300,file,sheet,country
0,Region,District,Midyear 2018 IDP Estimate (individuals) ENDORSED,Feb 2019 IDP Population Estimate (individuals)...,somalia-total-population-by-district.xlsx,IDPestimates,Somalia
1,Awdal,Baki,5000.0,0.0,somalia-total-population-by-district.xlsx,IDPestimates,Somalia
2,Awdal,Borama,10000.0,14400.0,somalia-total-population-by-district.xlsx,IDPestimates,Somalia
3,Awdal,Lughaye,9000.0,14200.0,somalia-total-population-by-district.xlsx,IDPestimates,Somalia
4,Awdal,Zeylac,2000.0,3200.0,somalia-total-population-by-district.xlsx,IDPestimates,Somalia
...,...,...,...,...,...,...,...
70,Togdheer,Owdweyne,13000.0,1600.0,somalia-total-population-by-district.xlsx,IDPestimates,Somalia
71,Togdheer,Sheikh,1000.0,1500.0,somalia-total-population-by-district.xlsx,IDPestimates,Somalia
72,Woqooyi Galbeed,Berbera,14000.0,7900.0,somalia-total-population-by-district.xlsx,IDPestimates,Somalia
73,Woqooyi Galbeed,Gebiley,3000.0,8100.0,somalia-total-population-by-district.xlsx,IDPestimates,Somalia
74,Woqooyi Galbeed,Hargeysa,100000.0,107900.0,somalia-total-population-by-district.xlsx,IDPestimates,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= PIN Analysis
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
73    Somalia
74    Somalia
75    Somalia
76    Somalia
77    Somalia
Name: country, Length: 78, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= PIN Analysis > Size: (78, 28)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,1414886.36833017,3449864.2864772975,8838429.71606683,Unnamed: 5,Non displaced,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,2545768.178312885,Unnamed: 19,IDP,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,file,sheet,country
0,District,Baseline Nondisplaced Population,PiN - Wellbeing consequence,PiN - Living standards consequence,PiN - Recovery and resilience consequence,NaN,Catastrophic,Extreme,Severe,Stress,...,PiN - Recovery and resilience consequence,NaN,Catastrophic,Extreme,Severe,Stress,Minimal,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN Analysis,Somalia
1,Adan Yabaal,35879.125006,4988.640645,7937.775689,30280.100964,NaN,0.0,0.13904,0.082196,0.622711,...,0.0,NaN,0.0,#DIV/0!,#DIV/0!,#DIV/0!,#DIV/0!,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN Analysis,Somalia
2,Afgooye,135430.835956,18227.095804,83810.970757,130098.913281,NaN,0.0,0.134586,0.484261,0.341783,...,53690.721649,NaN,0.0,0.259259,0.220157,0.479346,0.041237,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN Analysis,Somalia
3,Afmadow,96086.066422,23097.612121,62825.504968,93314.352968,NaN,0.0,0.240385,0.413462,0.317308,...,64076.923077,NaN,0.0,0.820513,-0.320513,0.442308,0.057692,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN Analysis,Somalia
4,Baardheere,90132.708822,24679.194082,47958.034782,89059.700383,NaN,0.0,0.27381,0.258273,0.456013,...,10365.384615,NaN,0.0,0.804878,-0.173299,0.310729,0.057692,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN Analysis,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Xudur,56231.769145,7415.178349,39361.001512,50052.453854,NaN,0.0,0.131868,0.56811,0.190132,...,22549.019608,NaN,0.0,0.659091,0.027184,0.294118,0.019608,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN Analysis,Somalia
74,Zeylac,70825.108922,11121.298095,53607.129137,66142.457092,NaN,0.0,0.157025,0.59987,0.17699,...,1885.0,NaN,0.0,0.087003,0.592485,0.263012,0.0575,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN Analysis,Somalia
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN Analysis,Somalia
76,* Highlighted cells are projected data based o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN Analysis,Somalia
77,Data from the JMCNA not representative but ind...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN Analysis,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= PIN-PT Analysis
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
74    Somalia
75    Somalia
76    Somalia
77    Somalia
78    Somalia
Name: country, Length: 79, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= PIN-PT Analysis > Size: (79, 60)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Unnamed: 0,Unnamed: 1,Non displaced,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Non displaced.1,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,file,sheet,country
0,NaN,NaN,1414886.368,0,225845.7718,294966.551,NaN,121419.6524,NaN,3449864.286,...,94009.98046,NaN,IDP,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN-PT Analysis,Somalia
1,District,Baseline Nondisplaced Population,PiN - Wellbeing consequence,WB- Catastrophe,WB-Extreme,WB-Severe,WB-Stress,WB-Minimal,NaN,PiN - Living standards consequence,...,R-Minimal,NaN,Catastrophic,Extreme,Severe,Stress,Minimal,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN-PT Analysis,Somalia
2,Adan Yabaal,35879.125006,4988.640645,0,693.621583,410.04832,3106.48133,778.489411,NaN,7937.775689,...,0,NaN,0.0,0.0,0.0,0.0,0.0,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN-PT Analysis,Somalia
3,Afgooye,135430.835956,18227.095804,0,2453.112093,8826.672032,6229.709482,717.602197,NaN,83810.970757,...,2214.050377,NaN,0.0,0.259259,0.220157,0.479346,0.041237,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN-PT Analysis,Somalia
4,Afmadow,96086.066422,23097.612121,0,5552.310606,9549.974242,7329.05,666.277273,NaN,62825.504968,...,3696.745562,NaN,0.0,0.820513,-0.320513,0.442308,0.057692,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN-PT Analysis,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,Xudur,56231.769145,7415.178349,0,977.825716,4212.636022,1409.861847,814.854764,NaN,39361.001512,...,442.137639,NaN,0.0,0.659091,0.027184,0.294118,0.019608,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN-PT Analysis,Somalia
75,Zeylac,70825.108922,11121.298095,0,1746.319536,6671.328841,1968.357282,735.292436,NaN,53607.129137,...,108.3875,NaN,0.0,0.087003,0.592485,0.263012,0.0575,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN-PT Analysis,Somalia
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN-PT Analysis,Somalia
77,* Highlighted cells are projected data based o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN-PT Analysis,Somalia
78,Data from the JMCNA not representative but ind...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,PIN-PT Analysis,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= Rounded up Summary
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
5     Somalia
6     Somalia
7     Somalia
8     Somalia
9     Somalia
10    Somalia
11    Somalia
12    Somalia
13    Somalia
14    Somalia
15    Somalia
16    Somalia
17    Somalia
18    Somalia
19    Somalia
20    Somalia
21    Somalia
22    Somalia
23    Somalia
Name: country, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= Rounded up Summary > Size: (24, 26)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Well being,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Living Standard,Unnamed: 9,...,Protection,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,file,sheet,country
0,NaN,PIN,Target,NaN,NaN,NaN,NaN,NaN,NaN,PIN,...,NaN,PIN,Target,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
1,Non-IDPs,1410000.0,946000.0,NaN,NaN,NaN,NaN,NaN,Non-IDPs,3450000.0,...,Non-IDPs,2010000,1590000,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
2,IDPs,1010000.0,839000.0,NaN,NaN,NaN,NaN,NaN,IDPs,1710000.0,...,IDPs,1710000,1400000,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
3,Total,2420000,1785000,NaN,NaN,NaN,NaN,NaN,Total,5160000,...,Total,3720000,2990000,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
6,WELL BEING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LIVING STANDARDS,NaN,...,PROTECTION,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
7,NaN,Non IDPs,NaN,IDPs,NaN,Total,NaN,NaN,NaN,Non IDPs,...,NaN,Non IDPs,NaN,IDPs,NaN,Total,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
8,Cluster,PIN,Target,PIN,Target,PIN,Target,NaN,Cluster,PIN,...,Cluster,PIN,Target,PIN,Target,PIN,Target,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
9,CCCM,0.0,0.0,0.0,0.0,0,0,NaN,CCCM***,0.0,...,Overall**,2010000,1590000,1710000.0,1400000.0,3727000.0,2990000.0,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
10,Education,0.0,0.0,0.0,0.0,0,0,NaN,Education,978000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
11,FS,0.0,0.0,0.0,0.0,0,0,NaN,FS,3100000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
12,Health,1400000.0,854000.0,1010000.0,763000.0,2410000,1617000,NaN,Health,1440000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
13,Nutrition****,992000.0,778000.0,287000.0,225000.0,1279000,1003000,NaN,Nutrition****,1080000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
14,Protection,209000.0,140000.0,201000.0,103000.0,410000,243000,NaN,Shelter,600000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
15,Shelter,0.0,0.0,0.0,0.0,0,0,NaN,Protection,1170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
16,WASH,370000.0,308000.0,336000.0,328000.0,706000,636000,NaN,WASH,1850000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
17,Overall*,1410000.0,946000.0,1010000.0,839000.0,2420000,1785000,NaN,Overall*,3450000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
20,* Note: the overall figures are not the sum fr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
21,"** Note: an additional 342,713 reached indirectly",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
22,*** Note: The 1.7 million PiN is the result of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia
23,**** Note: Nutrition PiN and PT have two disti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Rounded up Summary,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= LivingStandards-Dissagregated
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
71    Somalia
72    Somalia
73    Somalia
74    Somalia
75    Somalia
Name: country, Length: 76, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= LivingStandards-Dissagregated > Size: (76, 51)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,District,Baseline Non-displaced Population,Children,Children pop %,Children in Need,Children Target,Men,Men %,Men in Need,Men Targeted,...,Displaced Elderly,Displaced Refugees,Displaced Returnees,Displaced Disability PiN,Displaced Displaced PiN,Displaced Disability Target,Displaced People Targeted,file,sheet,country
0,#adm2+name,#population+non-displaced+total,#population+non-displaced+children,#population+non-displaced+children+pct,#inneed+non-displaced+children,#targeted+non-displaced+children,#population+non-displaced+m +adults,#population+non-displaced+m +adults+pct,#inneed+non-displaced+m+adults,#targeted+non-displaced+m+adults,...,#population+displaced+elderly,#inneed+displaced+refugees,#inneed+displaced+returnees,#inneed+displaced+disability,#inneed+displaced+total,#targeted+displaced+disability,#targeted+displaced+total,Somalia-Humanitarian Needs Overview-2020.xlsx,LivingStandards-Dissagregated,Somalia
1,Adan Yabaal,35879.125006,22221.0,0.62,4921.420927,1089,6293.0,0.18,1428.799624,316,...,0.0,0.0,0.0,0,0.0,0,0.0,Somalia-Humanitarian Needs Overview-2020.xlsx,LivingStandards-Dissagregated,Somalia
2,Afgooye,135430.835956,83877.0,0.62,51962.80187,32157,23755.0,0.18,15085.97474,9336,...,3651.0,19.0,83.0,4027.097996,26847.319974,2895.844518,19305.630121,Somalia-Humanitarian Needs Overview-2020.xlsx,LivingStandards-Dissagregated,Somalia
3,Afmadow,96086.066422,59509.0,0.62,38951.81308,25468,16854.0,0.18,11308.59089,7394,...,4433.0,800.0,3413.0,5100,34000.0,3677.884615,24519.230769,Somalia-Humanitarian Needs Overview-2020.xlsx,LivingStandards-Dissagregated,Somalia
4,Baardheere,90132.708822,55822.0,0.62,29733.98156,15821,15809.0,0.18,8632.446261,4593,...,717.0,73.0,313.0,1042.105263,6947.368421,820.077775,5467.185169,Somalia-Humanitarian Needs Overview-2020.xlsx,LivingStandards-Dissagregated,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Xarardheere,33447.636451,21598.0,0.65,6689.52729,2058,4563.0,0.14,1440.821262,443,...,0.0,0.0,0.0,0,0.0,0,0.0,Somalia-Humanitarian Needs Overview-2020.xlsx,LivingStandards-Dissagregated,Somalia
72,Xudun,15133.186311,9772.0,0.65,4143.108766,1745,2064.0,0.14,892.361888,376,...,734.0,0.0,0.0,2531.25,16875.0,2415.987723,16106.584821,Somalia-Humanitarian Needs Overview-2020.xlsx,LivingStandards-Dissagregated,Somalia
73,Xudur,56231.769145,36311.0,0.65,25584.65098,17909,7670.0,0.14,5510.540212,3857,...,938.0,0.0,0.0,2367.647059,15784.313725,1973.039216,13153.594771,Somalia-Humanitarian Needs Overview-2020.xlsx,LivingStandards-Dissagregated,Somalia
74,Zeylac,70825.108922,45734.0,0.65,34844.63394,26374,9661.0,0.14,7504.998079,5680,...,82.0,0.0,0.0,203.84645,1358.976331,165.318264,1102.121763,Somalia-Humanitarian Needs Overview-2020.xlsx,LivingStandards-Dissagregated,Somalia
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,#REF!,#REF!,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,LivingStandards-Dissagregated,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= Non-displaced
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
73    Somalia
74    Somalia
75    Somalia
76    Somalia
77    Somalia
Name: country, Length: 78, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= Non-displaced > Size: (78, 31)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,HUMANITARIAN CONSEQUENCE: Physical and mental well-being,Unnamed: 1,Unnamed: 2,Non-displaced,1414886.368,Unnamed: 5,Unnamed: 6,HUMANITARIAN CONSEQUENCE: Living standards,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Non-displaced.2,8838429.716,Unnamed: 27,file,sheet,country
0,District,Baseline Nondisplaced Population,"Acute malnutrition (Prevalence, not by severi...",Burden of mental healths issues,PiN - Wellbeing consequence,Selected indicator,NaN,District,Baseline Nondisplaced Population,multisector composite index,...,Households reporting inability to access finan...,Households reporting having being contacted by...,Households reporting awareness of procedures o...,Households reporting feeling that humanitarian...,Households reporting main concerns in accessin...,PiN - Recovery and resilience consequence,Selected indicator,Somalia-Humanitarian Needs Overview-2020.xlsx,Non-displaced,Somalia
1,Adan Yabaal,35879.125006,0.13904,0.094371,4988.640645,"Acute malnutrition (Prevalence, not by severi...",NaN,Adan Yabaal,35879.125006,0.221237,...,0.843948,0.815487,0.83701,0.802864,0.469031,30280.10096,Households reporting inability to access finan...,Somalia-Humanitarian Needs Overview-2020.xlsx,Non-displaced,Somalia
2,Afgooye,135430.835956,0.134586,0.094488,18227.0958,"Acute malnutrition (Prevalence, not by severi...",NaN,Afgooye,135430.835956,0.125984,...,0.84252,0.96063,0.84252,0.724409,0.354331,130098.9133,Households reporting having being contacted by...,Somalia-Humanitarian Needs Overview-2020.xlsx,Non-displaced,Somalia
3,Afmadow,96086.066422,0.156969,0.240385,23097.61212,Burden of mental healths issues,NaN,Afmadow,96086.066422,0.653846,...,0.961538,0.778846,0.932692,0.971154,0.394231,93314.35297,Households reporting feeling that humanitarian...,Somalia-Humanitarian Needs Overview-2020.xlsx,Non-displaced,Somalia
4,Baardheere,90132.708822,0.157081,0.27381,24679.19408,Burden of mental healths issues,NaN,Baardheere,90132.708822,0.214286,...,0.904762,0.988095,0.916667,0.952381,0.535714,89059.70038,Households reporting having being contacted by...,Somalia-Humanitarian Needs Overview-2020.xlsx,Non-displaced,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Xudur,56231.769145,0.131868,0.131868,7415.178349,"Acute malnutrition (Prevalence, not by severi...",NaN,Xudur,56231.769145,0.417582,...,0.89011,0.725275,0.758242,0.846154,0.681319,50052.45385,Households reporting inability to access finan...,Somalia-Humanitarian Needs Overview-2020.xlsx,Non-displaced,Somalia
74,Zeylac,70825.108922,0.157025,0.157025,11121.2981,"Acute malnutrition (Prevalence, not by severi...",NaN,Zeylac,70825.108922,0.297521,...,0.793388,0.77686,0.909091,0.933884,0.413223,66142.45709,Households reporting feeling that humanitarian...,Somalia-Humanitarian Needs Overview-2020.xlsx,Non-displaced,Somalia
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Non-displaced,Somalia
76,* Highlighted cells are projected data based o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Non-displaced,Somalia
77,Data from the JMCNA not representative but ind...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Non-displaced,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= Displaced
Country: 0     Somalia
1     Somalia
2     Somalia
3     Somalia
4     Somalia
       ...
70    Somalia
71    Somalia
72    Somalia
73    Somalia
74    Somalia
Name: country, Length: 75, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= Displaced > Size: (75, 31)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,HUMANITARIAN CONSEQUENCE: Physical and mental well-being,Unnamed: 1,Unnamed: 2,Displaced,1011686.009,Unnamed: 5,Unnamed: 6,HUMANITARIAN CONSEQUENCE: Living standards,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Displaced.2,2545768.178,Unnamed: 27,file,sheet,country
0,District,Baseline Nondisplaced Population,"Acute malnutrition (Prevalence, not by severi...",Burden of mental healths issues,PiN - Wellbeing consequence,Selected indicator,NaN,District,Baseline Nondisplaced Population,multisectoral composite index,...,Households reporting inability to access finan...,Households reporting having being contacted by...,Households reporting awareness of procedures o...,Households reporting feeling that humanitarian...,Households reporting main concerns in accessin...,PiN - Recovery and resilience consequence,Selected indicator,Somalia-Humanitarian Needs Overview-2020.xlsx,Displaced,Somalia
1,Adan Yabaal,0.0,0.13904,0.327874,0,Burden of mental healths issues,NaN,Adan Yabaal,0.0,0.447368,...,0.900155,0.881966,0.851064,0.81308,0.422226,0,Households reporting inability to access finan...,Somalia-Humanitarian Needs Overview-2020.xlsx,Displaced,Somalia
2,Afgooye,56000.0,0.134586,0.259259,14518.51852,Burden of mental healths issues,NaN,Afgooye,56000.0,0.247423,...,0.938144,0.958763,0.938144,0.752577,0.453608,53690.72165,Households reporting awareness of procedures o...,Somalia-Humanitarian Needs Overview-2020.xlsx,Displaced,Somalia
3,Afmadow,68000.0,0.156969,0.820513,55794.87179,Burden of mental healths issues,NaN,Afmadow,68000.0,0.5,...,0.942308,0.826923,0.942308,0.903846,0.557692,64076.92308,Households reporting loss in income source,Somalia-Humanitarian Needs Overview-2020.xlsx,Displaced,Somalia
4,Baardheere,11000.0,0.157081,0.804878,8853.658537,Burden of mental healths issues,NaN,Baardheere,11000.0,0.631579,...,0.942308,0.826923,0.942308,0.930233,0.557692,10365.38462,Households reporting having being contacted by...,Somalia-Humanitarian Needs Overview-2020.xlsx,Displaced,Somalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Wanla Weyne,10000.0,0.133963,0.820513,8205.128205,Burden of mental healths issues,NaN,Wanla Weyne,10000.0,0.704545,...,0.977273,1.0,1.0,0.931818,0.204545,10000,Households reporting earning income from preca...,Somalia-Humanitarian Needs Overview-2020.xlsx,Displaced,Somalia
71,Xarardheere,0.0,0.100963,0.096154,0,"Acute malnutrition (Prevalence, not by severi...",NaN,Xarardheere,0.0,0.444444,...,0.857143,0.730159,0.825397,0.777778,0.396825,0,Households reporting none or some children bei...,Somalia-Humanitarian Needs Overview-2020.xlsx,Displaced,Somalia
72,Xudun,18000.0,0.138,0.306452,5516.129032,Burden of mental healths issues,NaN,Xudun,18000.0,0.871429,...,0.957143,0.928571,0.971429,0.971429,0.2,17485.71429,Households reporting feeling that humanitarian...,Somalia-Humanitarian Needs Overview-2020.xlsx,Displaced,Somalia
73,Xudur,23000.0,0.125858,0.659091,15159.09091,Burden of mental healths issues,NaN,Xudur,23000.0,0.686275,...,0.980392,0.843137,0.862745,0.882353,0.686275,22549.01961,Households reporting having being contacted by...,Somalia-Humanitarian Needs Overview-2020.xlsx,Displaced,Somalia
74,Zeylac,2000.0,0.087003,0,174.006585,"Acute malnutrition (Prevalence, not by severi...",NaN,Zeylac,2000.0,0.1675,...,0.7375,0.685,0.8825,0.9425,0.45,1885,Households reporting main concerns in accessin...,Somalia-Humanitarian Needs Overview-2020.xlsx,Displaced,Somalia

===================================================================================================


/content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= Scoring table
Country: 0      Somalia
1      Somalia
2      Somalia
3      Somalia
4      Somalia
        ...
155    Somalia
156    Somalia
157    Somalia
158    Somalia
159    Somalia
Name: country, Length: 160, dtype: object > File + Sheet: /content/drive/MyDrive/Somalia/Somalia-Humanitarian Needs Overview-2020.xlsx - SHEET= Scoring table > Size: (160, 10)


Link:  Series([], Name: Dataset, dtype: object)


Description:

 Series([], Name: Dataset description, dtype: object)

,Outcome,Severity Class,None/ Minimal,Stress,Severe,Extreme,Catastrophic,file,sheet,country
0,NaN,Indicators,1.0,2.0,3.0,4.0,5.0,Somalia-Humanitarian Needs Overview-2020.xlsx,Scoring table,Somalia
1,Physical and mental well-being,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Scoring table,Somalia
2,Prevalence of malnutrition,Acute malnutrition,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Scoring table,Somalia
3,Mental health,Burden of mental healths issues,No issues reported & No history of chaining,1 - 3 issues reported OR history of chaining,At least 4 issues reported,At least 2 severe issues reported,At least 4 severe issues reported,Somalia-Humanitarian Needs Overview-2020.xlsx,Scoring table,Somalia
4,Living standards,NaN,NaN,NaN,NaN,NaN,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Scoring table,Somalia
...,...,...,...,...,...,...,...,...,...,...
155,NaN,Households reporting main concerns in accessin...,No barrier,Not enough information,Cannot physically access points of humanitaria...,Insecurity on the way to humanitarian aid dist...,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Scoring table,Somalia
156,NaN,NaN,NaN,NaN,NaN,OR,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Scoring table,Somalia
157,NaN,NaN,NaN,NaN,NaN,Insecurity at points of humanitarian aid distr...,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Scoring table,Somalia
158,NaN,NaN,NaN,NaN,NaN,OR,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Scoring table,Somalia
159,NaN,NaN,NaN,NaN,NaN,Camp manager has excluded the respondents from...,NaN,Somalia-Humanitarian Needs Overview-2020.xlsx,Scoring table,Somalia

None

## Loading pandas dataframes into a postgres database

Roughcode for how one might load all the dataframes into a SQL database. You can install postgres locally, or use docker and run [this](https://hub.docker.com/_/postgres).

In [ ]:
from sqlalchemy import create_engine  
import sqlalchemy

# Set these for your Postgres instance
host   = 'localhost' 
dbname = 'postgres'
user   = 'postgres'
pwd    = os.getenv['PWD'] # Don't save passwords in notebooks - that's naughty! :) - use environment variables. :)
port   = '5432'

engine = create_engine('postgresql+psycopg2://' + user + ':' + pwd + '@' + host +':' + port + '/' + dbname)

for k in dfs:
    df = dfs[k]
    table = k.replace('.','').replace(' ','_').replace('-','_').replace('/','').replace(',','')[0:62]
    print(f"Loading into database table {table} ...")
    df.to_sql(table, engine, if_exists='replace')

print("Done")

Loading into database table Kenyafts_requirements_funding_covid_kencsv ...
Loading into database table Kenyadbo_foodconsumptionscorescsv ...
Loading into database table Kenyaper_capita_food_consumption_2017_and_2018xlsx___Sheet1 ...
Loading into database table Kenyaretail_prices_for_dry_beans_2019_per_kgxlsx___Prices_for_ ...
Loading into database table Kenyavalue_of_recorded_marketed_agricultural_production_at_cur ...
Loading into database table Kenyawfp_food_prices_kencsv ...
Loading into database table Kenyafts_requirements_funding_cluster_kencsv ...
Loading into database table Kenyafts_incoming_funding_kencsv ...
Loading into database table Kenyahealth_kencsv ...
Loading into database table Kenyaken_adminboundaries_tabulardataxlsx___Admin2 ...
Loading into database table Kenyaken_adminboundaries_tabulardataxlsx___Admin1 ...
Loading into database table Kenyaken_adminboundaries_tabulardataxlsx___Admin0 ...
Loading into database table Kenyafts_requirements_funding_kencsv ...
Loading into database table Kenyaken_admpop_2019xlsx___ken_admpop_ADM0_2019 ...
Loading into database table Kenyaken_admpop_2019xlsx___ken_admpop_ADM1_2019 ...
Loading into database table Kenyaken_admpop_2019xlsx___ken_admpop_ADM2_2019 ...
Loading into database table Kenyaken_admpop_2019xlsx___Metadata ...
Loading into database table Kenyaken_admpop_adm1_2019csv ...
Loading into database table Kenyaken_admpop_adm0_2019csv ...
Loading into database table KenyaKenya___IPC_Analysis_2017_2022xlsx___IPC ...
Loading into database table Kenyaretail_prices_for_dry_beans_2018_per_kgxlsx___Prices_for_ ...
Loading into database table Kenyafts_requirements_funding_globalcluster_kencsv ...
Loading into database table Kenyakenya_health_facilities_2017_08_02xlsx___Sheet1 ...
Loading into database table Kenyaretail_prices_for_dry_beans_2017_per_kgxlsx___Sheet1 ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___LIST ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___FOR_IMPORT ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx____food_import ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Org_Lookup ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___ABBREV ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Pivot ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___County___Abbrev ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Sheet2 ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___wash ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___shelter ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___protection ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___nutrition ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___health ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___governance ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___emergency ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___food ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___edu ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___drr ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Table ...
Done

## Query from the database

In [ ]:
query = ' SELECT * FROM public."Kenyakenya_3w_final_list_2017xlsx___drr"'
df = pd.read_sql(query, con=engine)
display(df)

    index     Unnamed: 0                                         Unnamed: 1
0       0        Baringo                                                WVI
1       1           Embu                                           Trocaire
2       2        Garissa                                              ADESO
3       3       Homa Bay                                               PLAN
4       4         Isiolo                                              ADESO
5       5         Kilifi                                               PLAN
6       6         Kisumu                                               PLAN
7       7          Kitui                                           Trocaire
8       8          Kwale                                               PLAN
9       9       Machakos                                               PLAN
10     10       Marsabit                                       ADESO, VSF-G
11     11          Siaya                                          PLAN, WVI
12     12  Tharaka Nithi                                     PLAN, Trocaire
13     13        Turkana  ADESO, CF, DOL, FAO, ILO, KRCS, OXFAM, Trocair...

### Select all column names in the files which uploaded ok

In [ ]:
query = ' SELECT * FROM information_schema.columns'
df = pd.read_sql(query, con=engine)
display(df)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,public,Kenyakenya_3w_final_list_2017xlsx___Table,Total,14,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,pg_catalog,pg_statistic,stanumbers5,26,None,YES,ARRAY,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,pg_catalog,pg_statistic,stavalues1,27,None,YES,anyarray,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,pg_catalog,pg_statistic,stavalues2,28,None,YES,anyarray,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,pg_catalog,pg_statistic,stavalues3,29,None,YES,anyarray,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,postgres,information_schema,sql_parts,feature_id,1,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2844,postgres,pg_catalog,pg_partitioned_table,partexprs,8,None,YES,pg_node_tree,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2845,postgres,information_schema,sql_parts,feature_name,2,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2846,postgres,information_schema,sql_parts,is_supported,3,None,YES,character varying,3.0,1.200000e+01,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2847,postgres,information_schema,sql_parts,is_verified_by,4,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES